<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Ofelia - Registration</title>
	
	<link rel="stylesheet" type="text/css" href="/static/css/ofreg.css" /> 
</head>

<body>
<div id="wrapper">
<div id="header">
	<img src="/static/img/ofelia.png" title="Ofelia Logo">
</div>

<div id="content">
{% block content %}
{% endblock %}
</div>

<div id="footer">
	&copy; 2011 <a href="http://www.fp7-ofelia.eu/" target="_blank">OFELIA FP7-Project</a> <br/>
	OFELIA is funded by the EU in the 7th framework program and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
</div>
</div>	

</body>
</html>
