<script>
function confirmInput(inputElement) {
	/* Show warning when admin creates bridge in a server that already contains VMs */
	var warningBridgesInVMs = "";
	{% if server %}
        	{% with server.getChildObject as server %}
                	{% if server.vms.all %}
				warningBridgesInVMs = "VMs already created will not be reconfigured.\n";
			{% endif %}
        	{% endwith %}
	{% endif %}
	if (inputElement.type == "checkbox") {
		if (inputElement.checked == true) {
			var agree = confirm(warningBridgesInVMs + "Are you sure you want to delete the brige?");
			if (agree) {
				return true;
			} else {
				inputElement.checked = false;
				return false;
			} 
		}
	} else {
		alert(warningBridgesInVMs + "Are you sure you want to add a new bridge?\nLeave it blank if you do not want to create it.");
	}
}
</script>

        <div>
            <h3>Data Bridges parameters <img id="data_bridges" src= "{% url img_media 'question_mark_15x15.png'  %}"></h3>
			<div class="tooltip" id="data_bridges_help">
        	Set the bridges used by the VMs to connect with the phisycal interfaces of the servers. Switch ID and Port correspond with the datapath ID and the port the server's interface is connected to.
		    </div>

			{{ ifaceformset.management_form}}
            <table id="ifacetable" class="formtable">
                {% for form in ifaceformset.forms %}
                    <tbody>
                        <tr>
                        <!--{{form.as_table}}-->
                        {% for field in form %}
                            {% if forloop.first %}
                                {% for hidden in form.hidden_fields %}
                                    <td>
                                        {{ hidden }}
                                    </td>
                                {% endfor %}
                            {% endif %}
                            {% if field.name != 'id' %}
                                <th>{{ field.label_tag }}:</th>
                                <td {% if form.initial%}{%if field.name == "name" %}class="readonly"{%endif%}{%endif%}>
                                    {% if field.errors %}
                                        <ul id="errorlist_{{ field.name }}" class="errorlist"><li>{{ field.errors }}</li></ul>
                                    {% endif %}
                                {{ field }}</td>
                            {%endif%}
                        {% endfor %}
                        <th id='rowDelete'> Delete: <input type="checkbox" onClick="confirmInput(this)" name="DELETE" value ={{form.initial.id}} ></th>
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
