{% extends "iframebase.html" %}
{% load ch_extras %}

{% block title %}List Aggregates{% endblock title %}

{% block content %}
<div class="aggregate_list">
{% with "expedient/clearinghouse/aggregate/list_actions.html" as action_template %}
{% with "True" as condensed %}
{% include "expedient/clearinghouse/aggregate/list_table.html" %}
{% endwith %}
{% endwith %}
    <div class="links">
    	<form method="post" action="">{% csrf_token %}
            {% for field in form %}{{ field }}{% endfor %}
            <input type="submit" value="Add Aggregate" />
        </form>
    </div>
</div>
{% endblock content %}
