{% extends "iframebase.html" %}
{% load ch_extras %}

{% block title %}List Aggregates{% endblock title %}

{% block content %}
<div class="aggregate_list">
	<div class="table_div">
		<table class="fulltable" id="messages">
			<tr>
				<th class="logo">Logo</th>
                <th class="name">Name</th>
                <th class="type">Type</th>
				<th class="location">Location</th>
				<th class="description">Description</th>
				<th class="resources">Size</th>
				<th class="owners">Owners</th>
				<th class="status">Status</th>
			</tr>
			{% for generic_am in aggregate_list %}
			{% with generic_am.as_leaf_class as am %}
			{% if highlight_id and generic_am.id|equals:highlight_id %}
			<tr class=highlight>
			{% else %}
			<tr>
            {% endif %}
				<td class="logo">{{ am.get_logo_url }}</td>
				<td class="name"><a href="{{ am.get_edit_url }}">{{ am.name }}</a></td>
				<td class="type"><a href="{{ am.get_aggregates_url }}">{{ am|get_meta_field:"verbose_name" }}</a></td>
				<td class="location">{{ am.location }}</td>
				<td class="description">{{ am.description }}</td>
				<td class="resources">{{ am.resource_set.count }}</td>
				<td class="owners">
					{% for admin_info in am.admins_info.all %}
					{{ admin_info.admin.username }}
					{% if not forloop.last %}
					,
					{% endif %}
					{% endfor %}
		        </td>
				<td class="status">{% if am.check_status %}<img src="{% url img_media 'active.png' %}">{% else %}<img src="{% url img_media 'inactive.png' %}">{% endif %}</td>
			</tr>
			{% endwith %}
			{% endfor %}
		</table>
	</div>
    <div class="links">
        <form method="post" action="">{% csrf_token %}
            {{ form.as_table }}
            <input type="submit" value="Add Aggregate" />
        </form>
    </div>
</div>
{% endblock content %}
