{% extends "div_base.html" %}
{% load ch_extras %}

{% block head %}
<script>
	$(document).ready(function() {
		addTooltipToClass("slicecontinue");
		addTooltipToClass("project_name");
		$(".project_list tr.body").each(function(index) {
			addTooltipToSummary("ownersgrp_"+index);
			addTooltipToSummary("membersgrp_"+index);
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="project_list">
	<div class="table_div">
		<table class="fulltable" id="projects_table">
			<tr class="head">
				<th class="name">Name</th>
                <th class="owners">Owners</th>
                <th class="members">Members</th>
                <th class="slices">Slices</th>
                <th class="actions">Actions</th>
			</tr>
			{% for project in project_list %}
			<tr class="body">
				<td class="name">
					<div class="val project_name"><a href="{% url project_detail project.id %}" onClick='document.location="{% url project_detail project.id %}"'>{{ project.name }}</a></div>
					<div class="description project_name">{{ project.description }}</div>
				</td>
				<td class="owners">
					{% with project.owners.all as users %}
					{% with "ownersgrp_"|cat:forloop.counter0 as tooltip_class %}
					{% include "users/tooltiplist.html" %}
					{% endwith %}
					{% endwith %}
				</td>
                <td class="members">
					{% with project.members.all as users %}
					{% with "membersgrp_"|cat:forloop.counter0 as tooltip_class %}
					{% include "users/tooltiplist.html" %}
					{% endwith %}
					{% endwith %}
                </td>
                <td class="slices">
                	{% for slice in project.slice_set.all %}
					{% if forloop.counter < 2 %}
                	<a href="{% url slice_detail slice.id %}">{{ slice.name }}</a>{% if not forloop.last %},{% endif %}
					{% else %}
					{% if forloop.counter == 2 %}
					<div class="val slicecontinue">...</div>
					<div class="description slicecontinue">
					{% endif %}
						<a href="{% url slice_detail slice.id %}">{{ slice.name }}</a>{% if not forloop.last %},{% endif %}
					{% if forloop.last %}
					</div>
					{% endif %}
					{% endif %}
					{% endfor %}
                </td>
				<td class="actions">
					<a href="{% url project_detail project.id %}">details</a>,
					<a href="{% url project_delete project.id %}">delete</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
    <div class="create_project">
        <input type="button" value="Create"
        onclick="document.location='{% url project_create %}'"/>
    </div>
</div>
{% endblock content %}
