*.pyc
*~
egeni.db
*.pyc
.*.swp
test
*~
\#*\#
*.aux
*.bbl
*.log
*.dvi
*.blg
*.out
.xpdf-running
*.orig
*.ngc
*.o
*.so
*\#*
*vsim*
*coregen*
.cproject
.project
chi_tool
pmac_tool
test.pl
fig-vnodes.dia
icing-tr.pdf
om.db
clearinghouse.db
.project
.pydevproject
db/openflow/optin_manager/om.db
secret_key.py
*.0
*.launch
gcf-x509.*/
*.db
build/
localsettings.py
vt_manager/src/python/vt_manager/settings.py
expedient/src/python/expedient/clearinghouse/localsettings.py
optin_manager/src/python/openflow/optin_manager/localsettings.py
vt_manager/src/python/agent/settings.py
vt_manager/src/python/vt_manager/mySettings.py
vt_manager/src/python/agent/mySettings.py
vt_manager/src/python/agent/security/certs/agent.key
