*.pyc
*~
egeni.db
*.pyc
.*.swp
test
*~
\#*\#
*.aux
*.bbl
*.log
*.dvi
*.blg
*.out
.xpdf-running
*.orig
*.ngc
*.o
*.so
*\#*
*vsim*
*coregen*
.cproject
.project
chi_tool
pmac_tool
test.pl
fig-vnodes.dia
icing-tr.pdf
om.db
clearinghouse.db
.project
.pydevproject
db/openflow/optin_manager/om.db
secret_key.py
*.0
*.launch
gcf-x509.*/
expedient/src/python/expedient/clearinghouse/gcf-x509-user.crt/*
expedient/src/python/expedient/clearinghouse/gcf-x509-trusted.crt/*
*.db
build/
localsettings.py
vt_manager/src/python/vt_manager/settings.py
expedient/src/python/expedient/clearinghouse/localsettings.py
optin_manager/src/python/openflow/optin_manager/localsettings.py
vt_manager/src/python/agent/settings.py
vt_manager/src/python/vt_manager/mySettings.py
vt_manager/src/python/agent/mySettings.py
vt_manager/src/python/agent/.currentVersion
vt_manager/src/python/agent/security/certs/agent.crt
vt_manager/src/python/agent/security/certs/agent.key

expedient/.currentVersion
expedient/bin/log/*
expedient/bin/.upgradeReg
expedient/bin/.ofverLock
expedient/bin/rescue/*
ofam/.currentVersion
ofam/local/*
ofam/bin/log/*
ofam/bin/.upgradeReg
ofam/rescue/*
optin_manager/.currentVersion
optin_manager/bin/log/*
optin_manager/bin/.upgradeReg
optin_manager/bin/.ofverLock
optin_manager/rescue/*
vt_manager/.currentVersion
vt_manager/bin/log/*
vt_manager/bin/.upgradeReg
vt_manager/bin/.ofverLock
vt_manager/rescue/*
ofrelease
updater*
!.gitignore
