recursive-include bin *
recursive-include db *
recursive-include src/python *.html *.js
recursive-include src/config *
recursive-include src/doc *
recursive-include src/static *
recursive-include src/templates *
recursive-include src/wsgi *
recursive-exclude bin *~
recursive-exclude src *~
exclude src/python/expedient/clearinghouse/localsettings.py
exclude src/python/expedient/clearinghouse/secret_key.py
exclude src/python/openflow/optin_manager/localsettings.py
exclude src/python/openflow/optin_manager/secret_key.py
recursive-exclude db .dirholder
