{% extends "base.html" %}
{% load ch_extras %}
{% load breadcrumbs %}

{% block title %}Project {{ project.name }}{% endblock title %}

{% block content %}
<div class="title">
	<h1>Project {{ project.name }}</h1>
</div>

<div class="project_edit">
	<form action="" method="POST">{% csrf_token %}
		<table class="formtable_noborder">
			{{ form.as_table }}
		</table>
		<div class="center">
			<input type="submit" value="Save" />
			<a href='{% before_last_link breadcrumbs %}'>Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}
