{% load ch_extras %}
{% load permissions %}
<!-- stolen from aggregate list_table.html -->
<script>
function checkAggStatus(agg_ids,agg_ids_length){
	i=0;
	for (i = 0; i < agg_ids_length; i++){
		url = "/aggregate/status/"+agg_ids[i]+"/";
		get_status(agg_ids[i], url);
	}
}
</script>

<div class="table_div">
	<table class="fulltable" id="aggregates_table">
                <thead class="project">
		<tr class="thead">
			<!--<th class="logo">Logo</th>-->
            <th class="name">Name</th>
            <th class="type">Type</th>
			<th class="location">Location</th>
			{% if not condensed %}
			<th class="description">Description</th>
			{% endif %}
			<th class="resources">Size</th>
			<th class="owners">Managers</th>
			<th class="status">Status</th>
                        <th class="status">Actions</th>
		</tr>
               </thead>
               <tbody>
		{% for generic_am in aggregate_list %}
		{% with generic_am.as_leaf_class as am %}
		{% if highlight_id and generic_am.id == highlight_id %}
		<tr class=highlight>
		{% else %}
		<tr class="body">
        {% endif %}
			<!--<td class="logo">{{ am.get_logo_url }}</td>-->
			<td class="name">{{ am.name }}</td>
			<td class="type">
				{% with am.get_aggregates_url as the_url %}
				{% if the_url %}
				<a href="{{ the_url }}">
				{% endif %}
				{{ am|get_meta_field:"verbose_name" }}
				{% if the_url %}
				</a>
				{% endif %}
				{% endwith %}
			</td>
			<td class="location">{{ am.location }}</td>
			{% if not condensed %}
			<td class="description">{{ am.description }}</td>
			{% endif %}
			<td class="resources">{{ am.resource_set.count }}</td>
			<td class="managers">
				{% for mgr in am.managers.all %}
				<a href="mailto:{{ mgr.email }}">{{ mgr.username }}</a>{% if not forloop.last %},{% endif %}
				{% endfor %}
	        </td>
			<td class="status">
				<img class="am-status-img" id="status_{{ am.id }}"
				src="{% url img_media 'status-question-small.jpg' %}">
			</td>
                        <td class="actions">
                                <form name="project_remove_agg_{{ project.id }}_{{ am.id }}" method="POST" action="{% url project_remove_agg project.id am.id %}">{% csrf_token %}
                                        <!--<input type="submit" value="remove" />-->
                                </form>
                                <!-- Link only to follow Island Aggregate Managers appearance -->
                                <a href="#" onclick="javascript: if (confirm('Are you sure you want to remove AM \'{{ am.name }}\' from project \'{{ project.name }}\' and every slice inside?')) { document.project_remove_agg_{{ project.id }}_{{ am.id }}.submit(); } return false;">remove</a>
                        </td>
		</tr>
		{% endwith %}
		{% endfor %}
            </tbody>
	</table>
</div>

<script src="{% url js_media 'agg_status.js' %}"></script>
<script>
	var i = 0;
	var array_aggIDs = new Array();
	{% for generic_am in aggregate_list %}
		get_status({{ generic_am.id }}, "{% url aggregate_status_img generic_am.id %}");
		array_aggIDs[i] = {{generic_am.id}};
		i = i+1;
	{% endfor %}
	setInterval("checkAggStatus(array_aggIDs, i)",5000);
</script>

