{% extends "base.html" %}
{% load ch_extras %}

{% block title %}Add member to Project {{ project.name }}{% endblock title %}

{% block head %}
<script>
	$(document).ready(function() {
		addTooltipToClass("role_desc");
	});
</script>
{% endblock %}

{% block content %}
<div class="main">
	<div class="title">
		<h1>Add a Member to Project {{ project.name }}</h1>
	</div>
	<div class="member_form">
		<form action="." method="post">{% csrf_token %}
			<table class="formtable_noborder">
				{{ form.as_table }}
			</table>
			<div class="center">
				<input type="submit" value="Add" />
				<a href="{{ breadcrumbs.1.1 }}">Cancel</a>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
