{% extends base %}
{% load ch_extras %}

{% block title %}Project {{ project.name }}{% endblock title %}

{% block content %}
{% if not iframe %}
<div class="title">
	<h1>Project {{ project.name }}</h1>
</div>
{% endif %}

<div class="project_edit">
	<form action="" method="POST">{% csrf_token %}
		<table class="formtable">
			{{ form.as_table }}
		</table>
		<input type="submit" value="Save" />
		<input type="button" value="Cancel" onclick="document.location='{{ cancel_url }}'"/>
	</form>
</div>
{% endblock content %}
