{% extends "base.html" %}
{% load ch_extras %}

{% block title %}Remove member {{ member.username }} from Project {{ project.name }}{% endblock title %}

{% block content %}
<div class="main">
	<div class="title">
		<h1>Are you sure you want to remove member {{ member.username }} from Project {{ project.name }}</h1>
	</div>
	<div class="member_form">
		<form action="." method="post">{% csrf_token %}
			<div class="center">
				<input type="submit" value="Yes, I am sure" />
				<a href="{{ breadcrumbs.1.1 }}">No, go back</a>
			</div>
		</form>
	</div>
</div>
{% endblock content %}
