<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="{% url css_media 'egeni.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% url css_media 'tooltip.css' %}" />

		<title>
			OFELIA Opt-In Manager - {% block title %}Opt-In Manager{% endblock %}
		</title>
		
	<script type="text/javascript" src="{% url js_media 'jquery.tools.min.js' %}"></script>
        <script type="text/javascript" src="{% url js_media 'tooltip.funcs.js' %}"></script>
	<script type="text/javascript">

	$(document).ready(function(){
    	$(".menuimg,.submenuimg")
        	.mouseover(function() { 
	            var src = $(this).attr("src").replace("dark", "light");
    	        $(this).attr("src", src);
        	})
        	.mouseout(function() {
            	var src = $(this).attr("src").replace("light", "dark");
            	$(this).attr("src", src);
       	 	});
	});

	$(document).ready(function(){
		$(".fs_req_sub_menu").hide();
		$("#fs_req")
			.click(function() {
				$(".fs_req_sub_menu").toggle('normal');
				$(".admin_fs_sub_menu").hide();
				$(".experiments_sub_menu").hide();
				$(".profile_sub_menu").hide();
				$(".website_sub_menu").hide();
			});
	});

	$(document).ready(function(){
		$(".admin_fs_sub_menu").hide();
		$("#admin_fs")
			.click(function() {
				$(".fs_req_sub_menu").hide();
				$(".admin_fs_sub_menu").toggle('normal');
				$(".experiments_sub_menu").hide();
				$(".profile_sub_menu").hide();
				$(".website_sub_menu").hide();
			});
	});
		
	$(document).ready(function(){
		$(".experiments_sub_menu").hide();
		$("#experiments")
			.click(function() {
				$(".fs_req_sub_menu").hide();
				$(".admin_fs_sub_menu").hide();
				$(".experiments_sub_menu").toggle('normal');
				$(".profile_sub_menu").hide();
				$(".website_sub_menu").hide();
			});
	});

	$(document).ready(function(){
		$(".profile_sub_menu").hide();
		$("#profile")
			.click(function() {
				$(".fs_req_sub_menu").hide();
				$(".admin_fs_sub_menu").hide();
				$(".experiments_sub_menu").hide();
				$(".profile_sub_menu").toggle('normal');
				$(".website_sub_menu").hide();
			});
	});

	$(document).ready(function(){
		$(".website_sub_menu").hide();
		$("#website")
			.click(function() {
				$(".fs_req_sub_menu").hide();
				$(".admin_fs_sub_menu").hide();
				$(".experiments_sub_menu").hide();
				$(".profile_sub_menu").hide();
				$(".website_sub_menu").toggle('normal');
			});
	});

	</script>
        <script type="text/javascript">
            if(top.location != document.location) {
                top.location = document.location;
            }
            /**
             * Move the help text in formtable classes to a new separate column.
             */
            $(document).ready(function() {
                /* add a column at the beginning for the help icons */
                $("table.formtable_noborder>tbody>tr," +
                "table.formtable>tbody>tr")
                    .prepend("<td />");
                $("table.formtable_noborder>thead>tr," +
                "table.formtable>thead>tr")
                    .prepend("<td />");

                /* find help text and replace with image and tooltip */
                /* the 2 and 3 is because firefox uses 2 and chrome/explorer 3. Probably firefox does not understand a th as another td */
                $("table.formtable_noborder>tbody>tr>td:nth-child(3)")
{% include "fixformtable.js" %}
                ;

                $("table.formtable_noborder>tbody>tr>td:nth-child(2)")
{% include "fixformtable.js" %}
                ;

                $("table.formtable>tbody>tr>td:nth-child(2)")
{% include "fixformtable.js" %}
                ;

                $("table.formtable>tbody>tr>td:nth-child(3)")
{% include "fixformtable.js" %}
                ;
            });
        </script>		
		{% block scripts %}{% endblock %} 
	</head>
	
	
	<body>
            <br/>
            <table width="800" border="0" align="center" cellpadding="3" cellspacing="0">
            <tr>
		<td align="left">
                    <img src="{% url img_media 'logo_optin.png' %}" />
		</td>
		<td>
                    <div align="right" style="position: relative; top: 19px;">

                    </div>
		</td>
            </tr>
            </table>

            <div id="page">
		<div id="content">
		{% block pagehead %}{% endblock %}
		
    	<table align="right" class="menutable">
    	<tr class="fs_req_main_menu">
    		<td>
    		<img src="{% url img_media 'fs_req_dark.png' %}" class="menuimg" id="fs_req" />
    		</td>
    	</tr>
    		<tr class="fs_req_sub_menu">
    			<td>
    			<a href="/admin_manager/approve_user">
    			<img src="{% url img_media 'user_req_dark.png' %}"  class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		<tr class="fs_req_sub_menu">
    			<td>
    			<a href="/admin_manager/approve_admin">
    			<img src="{% url img_media 'admin_req_dark.png' %}"  class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		<tr class="fs_req_sub_menu">
    			<td>
    			<a href="/admin_manager/set_auto_approve">
    			<img src="{% url img_media 'auto_approve_dark.png' %}"  class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		
    	<tr class="admin_fs_main_menu">
    		<td>
    		<img src="{% url img_media 'admin_fs_dark.png' %}" class="menuimg" id="admin_fs"/>
    		</td>
    	</tr>
    		<tr class="admin_fs_sub_menu">
    			<td>
    			<a href="/opts/opt_in">
    			<img src="{% url img_media 'add_rule_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
       		<tr class="admin_fs_sub_menu">
    			<td>
    			<a href="/opts/opt_out">
    			<img src="{% url img_media 'remove_rule_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
         	<tr class="admin_fs_sub_menu">
    			<td>
    			<a href="/opts/view_opt_in">
    			<img src="{% url img_media 'set_rule_priority_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
            <tr class="admin_fs_sub_menu">
    			<td>
    			<a href="/admin_manager/manage_user_fs">
    			<img src="{% url img_media 'user_fses_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
            <tr class="admin_fs_sub_menu">
    			<td>
    			<a href="/admin_manager/manage_admin_fs">
    			<img src="{% url img_media 'admin_fses_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		
    	<tr class="profile_main_menu">
    		<td>
    		<img src="{% url img_media 'profile_dark.png' %}" class="menuimg" id="profile"/>
    		</td>
    	</tr>
    		<tr class="profile_sub_menu">
    			<td>
    			<a href="/change_profile">
    			<img src="{% url img_media 'edit_profile_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		<tr class="profile_sub_menu">
    			<td>
    			<a href="/admin_manager/admin_reg_fs">
    			<img src="{% url img_media 'admin_req_fs_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
       		<tr class="profile_sub_menu">
    			<td>
    			<a href="/admin_manager/admin_unreg_fs">
    			<img src="{% url img_media 'admin_abandon_fs_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
         	<tr class="profile_sub_menu">
    			<td>
    			<a href="/admin_manager/resign_admin">
    			<img src="{% url img_media 'resign_admin_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		
     	<tr class="exp_main_menu">
    		<td>
    		<img src="{% url img_media 'experiments_dark.png' %}" class="menuimg" id="experiments"/>
    		</td>
    	</tr>
    		<tr class="experiments_sub_menu">
    			<td>
    			<a href="/opts/experiments">
    			<img src="{% url img_media 'view_exp_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>   		
    		
    		
    	{% if user.is_staff %}
      	<tr class="website_main_menu">
    		<td>
    		<img src="{% url img_media 'manage_site_dark.png' %}" class="menuimg" id="website"/>
    		</td>
    	</tr>
    		<tr class="website_sub_menu">
    			<td>
    			<a href="/controls/set_clearinghouse">
    			<img src="{% url img_media 'set_ch_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
      		<tr class="website_sub_menu">
    			<td>
    			<a href="/controls/set_flowvisor">
    			<img src="{% url img_media 'set_fv_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    	{% endif %}
    		
    	<tr class="dashboard_main_menu">
    		<td>
    		<a href="/dashboard">
    		<img src="{% url img_media 'dashboard_dark.png' %}" class="menuimg"/>
    		</a>
    		</td>
    	</tr>	
    		
    	<tr class="logout_main_menu">
    		<td>
    		<a href="/accounts/logout">
    		<img src="{% url img_media 'logout_dark.png' %}" class="menuimg"/>
    		</a>
    		</td>
    	</tr>
    	</table>
        {% block content %}{% endblock %}
		</div>
    </div>

            <div id="footer">
			&copy; 2011 <a href="http://www.fp7-ofelia.eu/" target="_blank">OFELIA FP7-Project</a> &amp; Stanford University. <br/>                          OFELIA is funded by the EU in the 7th framework program and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
                        Opt-In Manager was adapted from <a href="http://www.openflow.org/foswiki/bin/view/OpenFlow/Deployment/HOWTO/ProductionSetup/UsingOptInManager" target="_blank">software</a> gracefully provided by Stanford University.<br/><br/>
            </div>
	</body>
</html>
