
{% extends "base_user.html" %}


{% block scripts %}
<style>
	table.formtable {
		width: 600px;
	}
</style>
<script type="text/javascript">

$(document).ready(function(){
    $(".steps")
        .mouseover(function() { 
            var src = $(this).attr("src").replace("dark", "light");
            $(this).attr("src", src);
        })
        .mouseout(function() {
            var src = $(this).attr("src").replace("light", "dark");
            $(this).attr("src", src);
        });
});

</script>
{% endblock %}

{% block pagehead %}<h1>{{ user.username }} - User Dashboard </h1> {% endblock %}
{% block content %}
<div class="main">

    	{% ifequal next_steps 0 %}
    	<table class="steptable">
    		<tr><td>
    			<a href="/admin_manager/user_reg_fs">
    			<img src="{% url img_media 'step0_dark.png' %}" class="steps"/>
    			</a>
    		</td></tr>
    	</table>
    	{% endifequal %}
    	{% ifequal next_steps 1 %}
    	<table class="steptable">
    		<tr><td>
    			<img src="{% url img_media 'step1_dark.png' %}" class="steps_non_active"/>
    		</td></tr>
    	</table>
    	{% endifequal %}
    	{% ifequal next_steps 2 %}
    	<table class="steptable">
    		<tr>
    		<td>
    			<a href="/opts/opt_in">
    			<img src="{% url img_media 'step2_optin_dark.png' %}" class="steps"/>
    			</a>
    		</td>
    		</tr>
    	</table>
    	{% endifequal %}
    	{% ifequal next_steps 3 %}
    	<table class="steptable">
    		<tr>
    		<td>
    			<a href="/opts/opt_in">
    			<img src="{% url img_media 'step2_optin_dark.png' %}" class="steps"/>
    			</a>
    		</td>
    	    <td>
    			<a href="/opts/opt_out">
    			<img src="{% url img_media 'step2_optout_dark.png' %}" class="steps"/>
    			</a>
    		</td>
       		<td>
    			<a href="/opts/view_opt_in">
    			<img src="{% url img_media 'step2_manage_dark.png' %}" class="steps"/>
    			</a>
    		</td>
    		</tr>
    	</table>
    	<br/>
    	<center>
    	<table class="formtable">
    		<tr><th>Experiment</th><th>Project Description</th><th>Slice Description</th></tr>
    		{% for opt in opts %}
    		<tr><td>{{opt.experiment.project_name}} : {{opt.experiment.slice_name}}</td>
    			<td>{{opt.experiment.project_desc}}</td>
    			<td>{{opt.experiment.slice_desc}}</td>
    		</tr>
    		{% endfor %}
    	</table>
    	</center>
    	{% endifequal %}


</div>
{% endblock content %}

