{% extends "base_admin.html" %}
{% block scripts %}
<script type="text/javascript" src="{% url js_media 'formtable.tooltip.js' %}"></script>
<script type="text/javascript" src="{% url js_media 'redips-drag.js' %}"></script>
<script src = {% url js_media 'jquery.formset.min.js'%}></script>
<script src = {% url fancybox 'jquery.fancybox-1.3.4.pack.js'%}></script>
<script src = {% url fancybox 'jquery.easing-1.3.pack.js'%}></script>
<script src = {% url fancybox 'jquery.mousewheel-3.0.4.pack.js'%}></script>
<script>
    $(document).ready(function() {
        /* add tooltip to question mark */
            $("img#mode_question").tooltip({
            tip: "div#mode_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
        });
        $("img#enable_question").tooltip({
            tip: "div#enable_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
        });
	$("img#advanced_question").tooltip({
            tip: "div#advanced_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,150]
        });
	$("img#ConditionMappings_question").tooltip({
            tip: "div#ConditionMappings_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,150]
        });
	$("img#ActionMappings_question").tooltip({
            tip: "div#ActionMappings_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,150]
        });
    });
</script>
<script type="text/javascript">
	/* Handlers */
        $(document).ready(function() {
		$("#formMode").click(function() {
				$('#elements :input').attr('disabled', false);
				document.getElementById("advancedRule").disabled = true;
				$("#formModeWrapper").show("slow");
				$("#formModeHeader").show("slow");
				$(".mappingList").hide("slow");
	});

		$("#advancedMode").click(function() {
			if ($('#advancedMode').is(':checked')) {
 				$('#elements :input').attr('disabled', true);
				document.getElementById("advancedRule").disabled = false;
				$("#formModeWrapper").hide("slow");
				$("#formModeHeader").hide("slow");
				$(".mappingList").show("slow");
			}   
	});
	
               	$("#CreateCondButton").click(function() {
                        $.fancybox({'href': '{% url condition_create CurrentTable %}'});
        });
		$("#ac").click(function() {
                        document.getElementById("finalCond").value = " ";
        });
		$("#backSpace").click(function() {
                        
                        var n = 0;
                        var a = document.getElementById("finalCond").value;
                        var i = a.length;
                        while (i >= 0) {
                                if ((a[i] == "{") || (a[i] == "[") || (a[i]==',') || (a[i]==']') || (a[i]=='}')){
                                        n = -1;
                                }
                                if (a[i] == " "){
                                        n += 1;
                                }
                                if (n >= 2){
                                        document.getElementById("finalCond").value = a.slice(0,(i+1));
                                        break;
                                }
                                i -= 1;
                        }
         });
		$("#assign").click(function() {
			document.getElementById("finalCond").value += document.getElementById("conditionList").value + " ";
	});		
		$("#openPar").click(function() {
                        document.getElementById("finalCond").value += "( ";
        });
		$("#closePar").click(function() {
                        document.getElementById("finalCond").value += ") ";
        });
		$("#and").click(function() {
                        document.getElementById("finalCond").value += "&& ";
        });
		$("#or").click(function() {
                        document.getElementById("finalCond").value += "|| ";
        });
		$("#ok").click(function() {
			displayRule();
        });	
		$("#value").click(function() {
			displayRule();
	});
		$("#type").click(function() {
			displayRule();
        });
		$("#action").click(function() {
			displayRule();
        });
		$("#errorMsg").keyup(function() {
			displayRule();
        });
		$("#description").keyup(function() {
			displayRule();
        });

	displayRule = function(){
		rule = "";
		if (document.getElementById("finalCond").value != ""){
			rule = rule + "if " + document.getElementById("finalCond").value;
		}
		if (document.getElementById("value").value != ""){
			rule = rule + " then " + document.getElementById("value").value;
		}
		if (document.getElementById("type").value != ""){
			if (document.getElementById("type").value == "terminal"){
                                terminal = " ";
                        } else {
                                terminal = " nonterminal ";
                        }
			rule = rule + terminal;
		}
		if (document.getElementById("action").value != ""){
			rule = rule + "do " + document.getElementById("action").value;
		}
		if (document.getElementById("errorMsg").value != ""){
			rule = rule + " denyMessage " + document.getElementById("errorMsg").value;
		}
		if (document.getElementById("description").value != ""){
			rule = rule + " # " + document.getElementById("description").value;
		}
		document.getElementById("advancedRule").value = rule
	}



// Drag&Drop variables and functions
	
		var rd = REDIPS.drag;
		rd.init();
		
		rd.myhandler_cloned = function(target_cell){
			var elem = document.getElementById(rd.obj.id);
			var elemID = rd.obj.id;
			if (elemID.substr(0,7) == "operand"){
				elem.innerHTML = '<div class="xcloser"><a href="javascript:elem_delete(\''+elemID+'\')">&#10006;</a></div>' + "("+ elem.innerHTML+ ")";
			}
			else {
				elem.innerHTML = elem.innerHTML + '<div class="xcloser"><a href="javascript:elem_delete(\''+elemID+'\')">&#10006;</a></div>';
			};
			$("#"+rd.obj.id).toggleClass("selected");
		};

		rd.myhandler_dropped = function(target_cell){

			var row = document.getElementById("cond_row");
			var pos = rd.get_position();
			
			if(pos[0] != pos[3]){
				row.insertCell(target_cell.cellIndex).setAttribute("class", "single condcell");
				row.insertCell(target_cell.cellIndex+1).setAttribute("class", "single condcell");
			}
			else if(pos[2] < pos[5]){
				if(pos[3] != 0) {
					row.deleteCell(pos[5]+1);
					row.deleteCell(pos[5]);
				};
				row.insertCell(target_cell.cellIndex).setAttribute("class", "single condcell");
				row.insertCell(target_cell.cellIndex+1).setAttribute("class", "single condcell");
			}
			else if(pos[2] > pos[5]){
				row.insertCell(target_cell.cellIndex).setAttribute("class", "single condcell");
				row.insertCell(target_cell.cellIndex+1).setAttribute("class", "single condcell");
				if(pos[3] != 0) {
					row.deleteCell(pos[5]+1);
					row.deleteCell(pos[5]);
				};
			};
			cond_assign();
		};


		// This function allows to clone any number of elements and make them only droppable in the correct cell
		rd.myhandler_moved = function(){
			$("#"+rd.obj.id).toggleClass("selected");
		};

		rd.myhandler_clicked = function (current){
			if (current.parentNode.id == "cond_row"){
				$("#"+rd.obj.id).toggleClass("selected");
			};
		};
}); // End document.ready()

	removeAdjacentCells = function(source_cell){
		var row = document.getElementById("cond_row");
		row.deleteCell(source_cell.cellIndex+1);
		row.deleteCell(source_cell.cellIndex);
	};

	cond_group = function(){
		var group = "";
		var text = "";
		if ( $("div.selected").length < 3 || $("div.selected").length > 4){
			document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
			return;
		}
		else if ($("div.selected").length == 3){
			if ($("div.selected")[0].id.substr(0,7) == "operand" || $("div.selected")[0].id.substr(0,9) == "comp_cond"){
				if ($("div.selected")[0].innerText == null){
					group =  $("div.selected")[0].textContent.replace("✖","");
				}
				else {
					group =  $("div.selected")[0].innerText.replace("✖","");
				};
			}
			else {
				document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
				return;
			};

			if ($("div.selected")[1].id.substr(0,8) == "operator"){
				if ($("div.selected")[1].innerText == null){
					text = $("div.selected")[1].textContent.replace("✖","");
				}
				else {
					text = $("div.selected")[1].innerText.replace("✖","");
				};
				group = group + " " + text + " "; 
			}
			else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };

                        if ($("div.selected")[2].id.substr(0,7) == "operand" || $("div.selected")[2].id.substr(0,9) == "comp_cond"){
				if ($("div.selected")[2].innerText == null){
					text = $("div.selected")[2].textContent.replace("✖","");
				}
				else {
					text = $("div.selected")[2].innerText.replace("✖","");
				};
				group = group + text;
                        }
                        else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };
			group = "(" + group + ")"

			$("div.selected")[0].setAttribute('id',$("div.selected")[0].getAttribute('id'));
                        $("div.selected")[0].innerHTML = '<div class="xcloser"><A href="javascript:elem_delete(\''+$("div.selected")[0].getAttribute('id')+'\')">&#10006;</A></div>' + group;
                        $("div.selected")[0].setAttribute('className', 'drag operand');
                        elem_delete($("div.selected")[2].getAttribute('id'));
                        elem_delete($("div.selected")[1].getAttribute('id'));

		} 
		else if ($("div.selected").length == 4){
                        if ($("div.selected")[0].id.substr(0,3) == "not"){
				if ($("div.selected")[0].innerText == null){
	                                text = $("div.selected")[0].textContent.replace("✖","");
				}
				else {
	                                text = $("div.selected")[0].innerText.replace("✖","");
				};
				group = text + " ";
                        }
                        else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };

                        if ($("div.selected")[1].id.substr(0,7) == "operand" || $("div.selected")[1].id.substr(0,9) == "comp_cond"){
				if ($("div.selected")[1].innerText == null){
	                                text = $("div.selected")[1].textContent.replace("✖","");
				}
				else {
	                                text = $("div.selected")[1].innerText.replace("✖","");
				};
				group = group + text;
                        }
                        else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };

                        if ($("div.selected")[2].id.substr(0,8) == "operator"){
				if ($("div.selected")[2].innerText == null){
	                                text = $("div.selected")[2].textContent.replace("✖","");
				}
				else {
	                                text = $("div.selected")[2].innerText.replace("✖","");
				};
                                group = group +" "+ text + " "; 
                        }
                        else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };

                        if ($("div.selected")[3].id.substr(0,7) == "operand" || $("div.selected")[3].id.substr(0,9) == "comp_cond"){
				if ($("div.selected")[3].innerText == null){
	                                text = $("div.selected")[3].textContent.replace("✖","");
				}
				else {
	                                text = $("div.selected")[3].innerText.replace("✖","");
				};
                                group = "(" + group + text + " )";
                        }
                        else {
                                document.getElementById("exceptions").textContent = "Invalid condition: Missing operator, left condition or right condition";
                                return;
                        };
			$("div.selected")[1].setAttribute('id',$("div.selected")[1].getAttribute('id'));
			$("div.selected")[1].innerHTML = '<div class="xcloser"><A href="javascript:elem_delete(\''+$("div.selected")[1].getAttribute('id')+'\')">&#10006;</A></div>' + group;
			$("div.selected")[1].setAttribute('className', 'drag operand');
			elem_delete($("div.selected")[3].getAttribute('id'));
			elem_delete($("div.selected")[2].getAttribute('id'));
			elem_delete($("div.selected")[0].getAttribute('id'));
		};
//		REDIPS.drag.init();
		rd.init();
		cond_assign();
	};

	cond_assign = function(){
		var row = document.getElementById("cond_row");
		var text = "";
		var content = "";
		for (var i = 0; i < row.cells.length; i++){
			if (row.cells[i].innerText == null){
				content = row.cells[i].textContent.replace("✖","").replace("\n","");
			}
			else {
				content = row.cells[i].innerText.replace("✖","").replace("\n","")
			};
			if (content.length > 0){
				text = text + content + " ";
			};
		};
		text = text.substr(0,text.length-1);
		document.getElementById("finalCond").value = text;
		displayRule();
	};

	cond_limpia = function(){
		for ( var i = 0; i < arguments.length; i++ ){
			REDIPS.drag.delete_object(arguments[i]);
		};
	};

	elem_delete = function(elemID){
		cell = document.getElementById(elemID).parentNode;
		removeAdjacentCells(cell);
		cond_limpia(elemID);
		cond_assign();
	};

</script>
<script>
	$(document).mouseup(function() {
		document.getElementById("exceptions").textContent = "";
	});

</script>
{% endblock %}
{% block pagehead %}
<div class="main">
        <h1>Generate a new Rule</h1>
</div>
{% endblock pagehead %}

{% block content %}
<div class="main">
<!-- Error List-->
	{% if errors %}
		<ul>
			{% for error in errors %}
				<p style="color: red;">{{error}}</p>
			{% endfor %}
		</ul>
	{% endif %}
	<div id=exceptions>
			
	</div> 
	<form action="{% url rule_create %}" method="post" name="ruleCreate">{% csrf_token %}
	<table>
		<td><b>Editing mode:</b></td>
		<td><input id="formMode" type="radio" name="conditionMode" value="easy" checked> Form Mode</td>
		<td><input id="advancedMode" type="radio" name="conditionMode" value="expert"> Advanced Mode</td>
		<td><img id="mode_question" src= "{% url img_media 'question_mark_15x15.png'  %}">
			<div class="tooltip" id="mode_help">Form mode edition allows to create a rule using the form fields below. Advanced Mode edition allows you to write rules according to RegexParser syntax
			</div>
		</td>
	</table>

   	<h3>General rule parameters</h3>
	<div>	
		<p>
			Enable Rule:
			{% if edit or saved  %}
				{% if enabled %}
					<input type="checkbox" name="enable" value="enable" checked></td>
				{% else %}
					<input type="checkbox" name="enable" value="enable"></td>
				{% endif %}
			{% else %}
				<input type="checkbox" name="enable" value="enable" checked></td>
			{% endif %}
			<img id="enable_question" src= "{% url img_media 'question_mark_15x15.png'  %}">
	   	 	<div class="tooltip" id="enable_help">
            			The priority of a Rule, is the position of the rule in the RuleTable ruleSet. The higher the priority, sooner will be processed. The Enable Checkbox enable or disable the rule. If the rule is enabled, will be processed else, the rule will be avoided when the process starts.
            		</div>
		</p>
		<p>
			Priority:
			<select name="priority">
				{% if edit or saved %}
					<option selected value="{{ PrioritySel }}">{{ PrioritySel }}</option>
				{% endif %}
				{% if not saved %}
					<option value="">Last</option>	
				{% endif %}
				{% for number in priorityList %} 
					<option value ="{{ number }}">{{ number }}</option>
				{% endfor %}
		
			</select>
		</p>
	</div> <!-- General rule parameters -->

	<h3 id="formModeHeader">Form Mode</h3>
	<div class="wrapper" width="750" id="formModeWrapper" style="text-align:left">
		<!-- Drag-and-drop condition creation -->
		<div id="drag">
        		<h4>Rule Condition:</h4>
			<table border="0" align="left" class="draggableConditions">
				<tr >
				<td class="mark" valign="top" colspan="3"><BR><b>Operators</b><BR> </td>
				</tr>
				<tr>
				    	<td class="mark"><div id="operator" class="drag operator clone">&&</div></td>
					<td class="mark"><div id="operator" class="drag operator clone">||</div></td>
					<td class="mark"><div id="not"      class="drag not clone">not</div></td>
				</tr>
				<tr>
					<td colspan="3" class="mark">
						<input id="save_button" type="button" value="( )" class="button" onclick="cond_group()" title="Group Condition">
						<input id="CreateCondButton" type="button" value="Create New Condition" class="button" >
					</td>
				</tr>
				</tr>
			</table>
			<div id="cond_div">
				<table align="center" class="cond_table" width="100%">
					<tr> 
					{% if edit or saved and condition != "" %}
						<td class="single condcell"></td>
						<td class="single condcell">
							<div id="operandc0" class="drag operand">
								<div class="xcloser"><a href="javascript:elem_delete('operandc0')">&#10006;</a></div>
							{{condition}}
							</div>
						</td>
						<td class="single condcell"></td>
					{% else %}
						<td class="single condcell"></td>
					{% endif %}
					</tr>
				</table>
			</div>
			<h4>Rule Parameters:</h4>
			<div>
				<table class="leftTable">
					<tr>
					<td>Value:</td>
					<td>
						<select name="value" id="value">
		 				{% if edit or saved %}
                        				<option selected value="{{ valueS }}">{{ valueS }}</option>
						{% for value in valueD %}
                        				<option value="{{ value }}">{{ value }}
						{% endfor %}
                				{% else %}
							<option value="accept">accept</option>
							<option value="deny">deny</option>
						{% endif %}
			    			</select>
					</td>
					</tr>
					<tr>
					<td>Type:</td>
					<td>
						<select name="type" id="type">
						{% if edit or saved %}
                        				<option selected value="{{ terminalS }}">{{ terminalS }}</option>
							{% for terminal in terminalD %}
 	        	               				<option value="{{ terminal }}">{{ terminal }}</option>
							{% endfor %}
                				{% else %}
	                				<option value="terminal">Terminal</option>
        	        				<option value="nonterminal">Non-Terminal</option>
						{% endif %}
						</select>
					</td>
					</tr>
					<tr>
						<td>Action:</th>
						<td><select name="action" id="action">
						{% if edit or saved %}
							<option selected value="{{ action }}">{{ action }}</option>
							{% for act in actionList %}
								<option value ="{{ act }}">{{ act }}</option>
							{% endfor %} 
						{% else %}
							{% for act in mappings.keys %}
								<option value ="{{ act }}">{{ act }}</option>
							{% endfor %}
						{% endif %}
	    					</select>
						</td>
					</tr>
					<tr>
						<td>Error Message:</td>
						<td><input type="text" name="error_message" size="90" id="errorMsg" value="{{ errorMsg }}"></td>
					</tr>
					<tr>
						<td>Description:</td>
						<td><input type="text" name="description" size="90" id="description" value="{{ description }}"></td>
					</tr>
				</table>
			</div>
		</div>
	</div> <!-- Wrapper -->
	<!-- End Drag-and-drop condition creation -->

	<h3>Advanced Mode</h3>
	<div class="wrapper" id="advancedModeWrapper" style="text-align:left">
		<div class="advancedRule">
			<b>Rule:</b> 
					<img id="advanced_question" src= "{% url img_media 'question_mark_15x15.png'  %}">
            				<div class="tooltip" id="advanced_help">
      						The rule syntax is: <b>if</b> Condition <b>then</b> accept/deny nonterminal/empty  <b> do</b>  Action  <b>denyMessage</b>  <b>Error</b> <b>#</b>description        	
                			</div>
				<input type="text" id="advancedRule" name="expertRule" disabled value =
					{% if edit or saved %}
						{% if terminalS == "nonterminal" %}
							"if{{ condition }}then {{ valueS }} {{ terminalS }} do {{ action }} denyMessage {{ errorMsg }} # {{ description }}"
						{% else %}
							"if{{ condition }}then {{ valueS }} do {{ action }} denyMessage {{ errorMsg }} # {{ description }}"
						{% endif %}
					{% endif %} />
		</div>
		<div>
			<div class="mappingList">
			<h5>Condition Mappings:</h5><img id="ConditionMappings_question" src= "{% url img_media 'question_mark_15x15.png'  %}">
                	<div class="tooltip" id="ConditionMappings_help">
			The Condition mappings allow PolicyEngine relate the conditions of the rules with the requests of the users in order to evaluate if the request is possible or not.
                	</div>

			{% for map in ConditionMappings.keys %}
                        	{{ map }}{% if not loop.last %},{% endif %}
                    	{% endfor %}
			</div>
			<div class="mappingList">
			<h5>Action Mappings:</h5> <img id="ActionMappings_question" src= "{% url img_media 'question_mark_15x15.png'  %}"><div class="tooltip" id="ActionMappings_help">
				The Action Mappings allow PolicyEngine relate the actions of the rules with possible fuction or methods programmed by the Island Manager
			</div>
			{% for action in ActionMappings.keys %}
                        	{{ action }}{% if not loop.last %},{% endif %}
			{% endfor %}
			</div>
		</div>
	</div>
		
		<!-- Rest of form params -->
		<input type="hidden" name="table" value="{{ CurrentTable }}">
		<input id="finalCond" type="hidden"  size="85"  value="{{ condition }}" name="condition">
		<input type="hidden" name="hidden_name" value="{{ ptable }}">
		<input type="hidden" name="uuid" value="{{ rule_uuid }}">
		<input type="hidden" name="ppriority" value="{{ priority }}">
		<input type="hidden" name="saved" value="{{ saved }}">
		{% if edit %}
			<input type="submit" value="Save Changes">
			<input type="hidden" name="editing" value="1">
		{% else %}
		        <input type="submit" value="Generate Rule">
			<input type="hidden" name="editing" value="0">
		{% endif %}
		<input type="hidden" id="conditionID" name="conditionID" value="" >
	</form>
	
	
	<div class="center">
	        <a href="{% url rule_table_view %}">Policy Manager</a> |
        	<a href="{% url dashboard  %}">Dashboard</a>
	</div>
</div>


{% endblock content %}

