{% extends "base_admin.html" %}

{% block scripts %}
<script type="text/javascript" src="{% url js_media 'formtable.tooltip.js' %}"></script>
<script src = {% url js_media 'jquery.formset.min.js'%}></script>
<script src = {% url fancybox 'jquery.fancybox-1.3.4.pack.js'%}></script>
<script src = {% url fancybox 'jquery.easing-1.3.pack.js'%}></script>
<script src = {% url fancybox 'jquery.mousewheel-3.0.4.pack.js'%}></script>

<script type="text/javascript">
    	$(document).ready(function() {
	      $("#editRSbutton").click(function() {
          		$.fancybox({'href': '{% url edit_ruleset table.name %}'});
    	});
});
	
</script>

{% endblock %}


{% block pagehead %}
	<div class="main">
        	<h1>Provisioning Interface polices </h1>
	</div>
{% endblock pagehead %}
{% block content %}
	<div class="main">

	<div style="width:730px">

		<h2> Policy table (XML-RPC provisioning interfaces)<img id="mode_question" src="/static/media/images//question_mark_15x15.png">
				<div class="tooltip">Form mode input type allows to create a rule using the form fields below. Advanced Mode input type allows to create a rule typing all the required syntax in the advanced mode form field
				</div></h2>
		<div class="wrapper">
		<br>
		<table class ="ruleTable">
		<tr class="header" >
			<th style="text-align:center">Order</th>
        		<th style="text-align:center">Enabled</th>
        		<th>Condition</th>
        		<th>Description</th>
        		<th>Return</th>
			<th style="text-align:right">Actions</th>
			{% if table.getRuleSet %}
				{% for rule in table.getRuleSet %}
					<tr class="{% cycle 'odd' 'even' %}">
					<td>{{ forloop.counter0 }}</td>
					<td align="center">{% if rule.enabled %}
						<a href="{% url enable_disable rule.rule.getUUID table.name %}"><img src="{% url img_media 'active_t.png' %}" width="15px" border=0/></a>
					    {%else%}
						<a href="{% url enable_disable rule.rule.getUUID table.name %}"><img src="{% url img_media 'inactive_t.png' %}" width="15px" border=0/></a>
					    {%endif%}</td>
                                        <form action ="{% url rule_delete %}" method="post">{% csrf_token %}
<!--					<td align=left><a href="{% url rule_edit rule.rule.getUUID table.name  %}">{{ rule.rule.dump }}</a></td> -->
					<td align="left"><a href="{% url rule_edit rule.rule.getUUID table.name  %}">{{ rule.rule.getCondition.dump }}</a></td>
					<td align="left"><a href="{% url rule_edit rule.rule.getUUID table.name  %}">{{ rule.rule.getDescription }}</a></td>
					<td align="left">
						{% if rule.rule.getType.terminal%}
							{% if rule.rule.getType.value %}ACCEPT
							{% else %}DENY
							{% endif %}
						{% else %}NON-TERMINAL
						{% endif %}
					</td>
                                        <input type="hidden" name="table_name" value="{{ table.name }}">
                                        <input type="hidden" name="uuid" value="{{ rule.rule.getUUID }}">
                                        <td align="right"><input type="submit" value="Delete Rule"></td>
                                        </form>
                                        </tr>
				{% endfor %}
			{% else %}
				<tr>
				<td>There are not rules in {{ table.getName }} yet</td>
				<td></td>
				<td></td>
				</tr>
			{% endif %}
			<tr class="policy {%if table.getPolicyType %}pEnabled{% else %}pDisabled{% endif %}">
				<th colspan="4" style="text-align:right">DEFAULT POLICY:</th>
				<th style="text-align:left">{%if table.getPolicyType %} ACCEPT {% else %} DENY {% endif %}</th>
				<th style="text-align:right">
	   				<form action ="{% url update_ruleTable_policy %}" method="post">
						{% csrf_token %}
                        			<input type="hidden" name="defaultPolicy" value="{% if table.getPolicyType %}deny{% else %}accept{% endif %}" /> 
                 		        	<input type="hidden" name="table_name" value="{{ table.name }}" />
                        		<input type="submit" value="Change default policy" />
                        		</form>
				</th>
			</tr>
		</table>
			<p>
			<a href="{% url policy_create table.name  %}" class="button">Add Rule</a>
			</p>
		</div>
        	<center>
			<a href="{% url  dashboard  %}">Dashboard</a>
    	</div>
</div>	
{% endblock content %}

