<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="{% url css_media 'ofelia.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% url css_media 'tooltip.css' %}" />

		<title>
			{% block title %}OFELIA Virtualization Manager{% endblock %}
		</title>
		
	<!-- JQUERY -->	
	<script src = {% url js_media 'jquery.min.js' %}></script>
	<script src = {% url fancybox 'jquery.fancybox-1.3.4.pack.js'%}></script>
	<script src = {% url js_media 'jquery.formset.min.js'%}></script>
	<script src = {% url fancybox 'jquery.easing-1.3.pack.js'%}></script>
	<script src = {% url fancybox 'jquery.mousewheel-3.0.4.pack.js'%}></script>
	<script src = {% url js_media 'jquery.progressbar.min2.js'%}></script>
	<script type="text/javascript" src="{% url js_media 'utils.js' %}"></script>
	<script type="text/javascript" src="{% url js_media 'jquery.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% url js_media 'tooltip.funcs.js' %}"></script>

	<link rel="stylesheet" href= {% url fancybox 'jquery.fancybox-1.3.4.css'%} type="text/css" media="screen" />

		{% block scripts %}{% endblock %} 
	</head>
	
	
	<body>
            <div id="logo" style="margin:auto;width:1000px">
                <table bgcolor="#8CCDF8" width="100%" border="0" margin="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
    	        	<td align="left" class="cellspacing:0px;cellpadding:0px;padding:0px;margin:0px;">
                        <img src="{% url img_media 'logo_vm_manager.png' %}" />
    	    	    </td>
                </tr>
                </table>
            </div>
            <div id="page">
		
		<div id="content">
			{% block pagehead %}
				
			{% endblock %}
			<div style="float:right">
    			<table align="right" class="menutable">
		        <tr> 
		            <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;" height="38px" width="60px" >
			            <a href="/servers/admin/">
			                    Administrate Servers
				<!--<img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
		            </td>
		        </tr>
		       	<tr>
		            <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;" height="38px" width="60px" >
			            <a href="{% url networkingDashboard %}">
			                    Network Settings
				<!--<img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
			    </td>
			</tr>
			{% if  section = "networking" %}
			<tr>
				<td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;background-position: 14px;padding-left:14px" height="38px" width="60px" >
			            <a href="{% url ip4Ranges %}">
			                    IP4 ranges
					<!--                <img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
			<tr>	
	        	    <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;background-position: 14px;padding-left:14px" height="38px" width="60px" >
			            <a href="{% url macRanges %}">
			                    Ethernet ranges
					<!--                <img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
			   </td>
		        </tr>
			{% endif %} 
		
		        <tr><td><br></td></tr>
		        <tr><td><br></td></tr>
		        <tr> 
		            <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;" height="38px" width="60px" >
			            <a href="/dashboard">
			                    Dashboard 
				<!--        		<img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
		            </td>
		        </tr>
		        <tr>
		            <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;" height="38px" width="60px" >
			            <a href="/change_profile">
			                    Change profile 
				<!--        		<img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
		            </td>
		        </tr>
		         <tr>
			     <td class="button" style="background:url({% url img_media 'base_dark.png' %});background-repeat:no-repeat;" height="38px" width="60px" >
        			    <a href="/accounts/logout/">
			                    Logout
				<!--        		<img src="{% url img_media 'base_dark.png' %}" class="menuimg" id="profile"/>-->
			            </a>
		            </td>
		        </tr>
	    	</table>
		</div>
		<div id="leftContent">
			{% block content %}{% endblock %}
		</div>
		</div>
    	</div>

        <div id="footer">
            	&copy; 2011 <a href="http://www.fp7-ofelia.eu/" target="_blank">OFELIA FP7-Project</a> &amp; Stanford University. <br/>
			 OFELIA is funded by the EU in the 7th framework program and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
			Expedient was adapted from <a href="http://yuba.stanford.edu/~jnaous/expedient/" target="_blank">software</a> gracefully provided by Stanford University.<br/><br/>
		
	</div>
	</body>
</html>
