{% extends "base_admin.html" %}
{% block pagehead %} <h1>Setup FlowVisor</h1> 
{% block scripts %}
<script type="text/javascript">
	//To be able to use django tags in the static js files, use this approach:
	//First create a js variable with your django tag
	//Use this variable in your js.
	url_img_question = "{% url img_media 'question_mark_15x15.png'%}";
</script> 
<script type="text/javascript" src="{% url js_media 'formtable.tooltip.js' %}"></script>
{% endblock %}
{% endblock %}
{% block content %}
<div class="main">
	<form name="input" action="/controls/set_flowvisor" method="post">{% csrf_token %}
	<table class="formtable">
	{{ form.as_table }}
	</table>
	<input type="submit" value="submit" />
	</form>
</div>
{% endblock content %}
