{% extends "base.html" %}

{% block title %}{% if create %}Create{% else %}Update{% endif %} {{ name }}.{% endblock title %}

{% block content %}
<div class="main">
	<form method="post" action="">{% csrf_token %}
	<table enctype="multipart/form-data" class="formtable">
	{{ form.as_table }}
	{% if not create %}
	<tr>
		<th>Current status:</th>
		<td class="status">{% if available %}<img src="{% url img_media 'active.png' %}">{% else %}<img src="{% url img_media 'inactive.png' %}">{% endif %}</td>
	</tr>
	{% endif %}
    </table>
    {% if create %}
	<input type="submit" value="Create" />
	{% else %}
	<input type="submit" value="Update" />
	<input type="button" value="Delete" onclick="document.location='{% url aggregate_delete aggregate.pk %}'"/>
	{% endif %}
	<input type="button" value="Cancel" onclick="document.location='{% url home %}'"/>
	</form>
</div>
{% endblock content %}
