{% extends "base.html" %}

{% block title %}Manage User Certificate{% endblock title %}

{% block content %}
<div class="main">
	<h1>Manage user {{ user.username }}'s GENI certificate</h1>
	{% if cert %}
	<table class="formtable">
		<tr class="urn">
			<th>Uniform Resource Name (URN)</th><td>:</td><td>{{ cert.get_urn }}</td>
			<th>Human Readable Name (HRN)</th><td>:</td><td>{{ cert.get_hrn }}</td>
			{% if cert.parent %}
			<th>Issuer URN</th><td>:</td><td>{{ cert.parent.get_urn }}</td>
			<th>Issuer HRN</th><td>:</td><td>{{ cert.parent.get_hrn }}</td>
			{% else %}
			<th>Issuer URN</th><td>:</td><td><i>self</i></td>
			<th>Issuer HRN</th><td>:</td><td><i>self</i></td>
			{% endif %}
		</tr>
	</table>
	{% else %}
	This user currently has no GENI user certificates. Click "Generate" below
	to create a new one.
	{% endif %}
	<div class="center">
		{% if cert %}
		<a href="{% url gcf_cert_download user.id %}">Download Cert</a> |
		<a href="{% url gcf_key_download user.id %}">Download Keys</a> |
		<a href="{% url gcf_cert_generate user.id %}">Regenerate</a> |
		{% else %}
		<a href="{% url gcf_cert_generate user.id %}">Generate</a> |
		{% endif %}
		<a href="{% url gcf_cert_upload user.id %}">Upload Cert and Key</a>
	</div>
</div>
{% endblock content %}
