{% extends "base.html" %}

{% block title %}Manage User Certificate{% endblock title %}

{% block content %}
<div class="main">
	<h1>Manage user {{ curr_user.username }}'s GENI certificate</h1>
	{% if cert %}
	<table class="formtable">
		<tr>
			<th>Uniform Resource Name (URN)</th><th>:</th><td>{{ cert.get_urn }}</td>
		</tr>
		<tr>
			<th>Human Readable Name (HRN)</th><th>:</th><td>{{ cert.get_hrn }}</td>
		</tr>
		{% if cert.parent %}
		<tr>
			<th>Issuer URN</th><th>:</th><td>{{ cert.parent.get_urn }}</td>
		</tr>
		<tr>
			<th>Issuer HRN</th><th>:</th><td>{{ cert.parent.get_hrn }}</td>
		</tr>
		{% else %}
		<tr>
			<th>Issuer URN</th><th>:</th><td><i>self</i></td>
		</tr>
		<tr>
			<th>Issuer HRN</th><th>:</th><td><i>self</i></td>
		</tr>
		{% endif %}
	</table>
	{% else %}
	This user currently has no GENI user certificates. Click "Generate" below
	to create a new one.
	<br /><br />
	{% endif %}
	<div class="center">
		{% if cert %}
		<a href="{% url gcf_cert_download curr_user.pk %}">Download Cert</a> |
		<a href="{% url gcf_key_download curr_user.pk %}">Download Keys</a> |
		<a href="{% url gcf_cert_generate curr_user.pk %}">Regenerate</a> |
		{% else %}
		<a href="{% url gcf_cert_generate curr_user.pk %}">Generate</a> |
		{% endif %}
		<a href="{% url gcf_cert_upload curr_user.pk %}">Upload Cert and Key</a> | 
		<a href="{% url users_detail curr_user.pk %}">Go Back</a>
	</div>
</div>
{% endblock content %}
