{% load breadcrumbs %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{% url css_media 'egeni.css' %}" />

		<title>
			{% block title %}GENI Clearinghouse{% endblock %}
		</title>
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
		<script src="{% url js_media 'iframe.js' %}"></script>
		<!-- simple frame busting -->
		<script type="text/javascript">
		if(top.location != document.location) {
			top.location = document.location;
		}
		</script>
		{% block scripts %}{% endblock %}
		<style>
		{% block style %}{% endblock %}
		</style> 
	</head>
	<body>
		<br/>
		<table bgcolor="#EEEEEE" width="800" border="0" align="center" cellpadding="3" cellspacing="0">
			<tr>
				<td align="left">
					<img src="{% url img_media 'genilogo.png' %}" />
				</td>
				<td>
					<div align="right" style="position: relative; top: 19px;">
 						<a href="{% url home %}"><img src="{% url img_media 'dashboard.png' %}" alt="Dashboard" border="0" /></a><a 
{% comment %}							href="{% url slice_home %}"><img src="{% url img_media 'slice.png' %}" alt="Slice Control Panel" border="0" /></a><a 
{% endcomment %}							href="{% url users_my_detail %}"><img src="{% url img_media 'account.png' %}" alt="Account Settings" border="0" /></a><a 
							href="/help/"><img src="{% url img_media 'help.png' %}" alt="Help" border="0" /></a><a 
							href="{% url auth_logout %}"><img src="{% url img_media 'logout.png' %}" alt="Logout" border="0" /></a>
					</div>
				</td>
			</tr>
		</table>
		<div id="page">
			<div id="content">
				{% block messages %}
				<div class="messages">
					<table class="msg_table">
						{% for msg in messages %}
						<tr class="{{ msg.type }} {% if forloop.first %}new_message{% else %}old_message{% endif %}">
							<td>{{ msg.msg_text }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
				{% endblock %}
				<div class="breadcrumbs">{% breadcrumbs %}</div>
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">
			(c) in 2010 by Stanford University. This software is licensed under the GENI License.
		</div>
	</body>
</html>
