{% extends "base.html" %}

{% block content %}
<div class="main">
	<h1>Welcome to the GENI Clearinghouse!</h1>
    
    <h2>Messages</h2>
    <div name="div_messaging">
		<iframe name="latest_msgs" src="{% url messaging_latest %}"
		height="205" width="730">
		   <p>Your browser does not support iframes.</p>
		</iframe>
    </div>
    
    <h2>Installed Aggregates</h2>
    <div name="div_aggregates">
        <iframe name="installed_aggregates" src="{% url aggregate_all %}"
        height="455" width="730">
           <p>Your browser does not support iframes.</p>
        </iframe>
    </div>
    
</div>
{% endblock content %}
