            <div id="footer">
			&copy; 2011 <a href="http://www.fp7-ofelia.eu/" target="_blank">OFELIA FP7-Project</a> &amp; Stanford University. <br/>
			 OFELIA is funded by the EU in the 7th framework program and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
			Expedient was adapted from <a href="http://yuba.stanford.edu/~jnaous/expedient/" target="_blank">software</a> gracefully provided by Stanford University.<br/><br/>
            </div>
