{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% url css_media 'notifications.css' %}" />
{% endblock %}

{% block content %}

{% block messages %}{% endblock %}

<h1>Message center: Messages & Logs</h1>

<h2>Last messages:</h2>
    <div class="logs">
		<div id="messages_list"></div>
	</div>
</div>

<script type="text/javascript">
	/* Asynchronous calls to insert data into different layers */
	$.get("{% url messaging_all %}", function(data) {
		$("#messages_list").html(data);
	});
</script>

{% endblock %}
