{% extends "base.html" %}
{% load ch_extras %}
{% load breadcrumbs %}

{% block title %}Slice {{ slice.name }} in Project {{ slice.project.name }}{% endblock title %}

{% block head %}
<style>
	#resources_table {
	    width: 100%;
	}
	#resource_list {
	    width: 100%;
	}
	.table_div td,th {
	    text-align: center;
	}
</style>
<script>
	$(document).ready(function() {
		$("#aggs_help_img").tooltip({
			tip: "#aggs_help_div"
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="main">
	<div class="title">
		<h1>Slice {{ slice.name }} in Project {{ slice.project.name }}</h1>
	</div>
	<div class="detail_section">
		<div class="mgmt_actions">
			<h2>Management:</h2>
			<p>Slice {% if not slice.started %}<strong>not</strong>{% endif %} started.</p>
			<p>Slice {% if not slice.modified %}<strong>not</strong>{% endif %} modified.</p>
	    	<p><a href="{% url slice_update slice.id %}">Edit</a> basic information.</p>
	    	<p><a href="{% url slice_delete slice.id %}">Delete</a> slice.</p>
			<table>
	    		<tr>
	    			<td>
			    		<form action="{% url slice_start slice.id %}" method="POST">{% csrf_token %}
							<input 
							type="submit" 
							value="{% if slice.started %}Update{% else %}Start{% endif %} Slice"
							/>
			    		</form>
		    		</td>
		    		<td>
			    		<form action="{% url slice_stop slice.id %}" method="POST">{% csrf_token %}
							<input
							type="submit"
							value="Stop Slice"
							/>
			    		</form>
		    		</td>
	    		</tr>
	    	</table>
		</div>
	    <div class="slice_description">
	    	<h2>Description</h2>
	        {{ slice.description }}
	        <h2>Expires:</h2>
	        {{ slice.expiration_date }}
	    </div>
    </div>
    <div class="detail_section">
            <h2>Aggregates
                        <img id="aggs_help_img" src="{% url img_media 'question_mark_15x15.png' %}" />
                </h2>

                <div class="tooltip" id="aggs_help_div">
                        Below you can manage and add aggregates in your slice. You can
                        only add resources to your slice from aggregates that have been
                        added to the slice. When you add an aggregate to the slice you
                        might be prompted for additional information that the aggregate
                        needs about your slice.
                </div>

                <div class="aggregate_list">
                        {% with slice.aggregates.all as aggregate_list %}
                        {% if aggregate_list.count %}
                                {% with "slice/agg_list_actions.html" as action_template %}
                                        {% include "aggregate/list_table.html" %}
                                {% endwith %}
                        {% else %}
                        <p>
                                This slice has no aggregates added to it. To be able to
                                reserve resources on aggregates, you will need to add aggregates to
                                the slice.
                        </p>
                        {% endif %}
                        {% endwith %}
                    <div class="center">
                        <input type="button" value="Add Aggregates"
                        onclick='document.location="{% url slice_add_agg slice.id %}"' />
                    </div>
                </div>
        </div>
	<div class="detail_section">
		<h2>Resources in the slice</h2>
		<div class="resource_list">
			<div class="table_div center">
				<table class="fulltable" id="resources_table">
					<tr class="header">
			            <th class="name">Name</th>
			            <th class="type">Type</th>
						<th class="Description">Description</th>
					</tr>
					{% for resource in resource_list %}
					<tr class="body">
			            <td class="name">{{ resource.name }}</td>
			            <td class="type">{{ resource|get_verbose_name }}</td>
						<td class="Description">{{ resource }}</td>
					</tr>
					{% endfor %}
                    {% for vm in vmsn_home_list %}
                    <tr class="body">
                        <td class="name">{{ vm.name }}</td>
                        <td class="type">Virtual Machine</td>
                        <td class="Description">{{vm.state}}</td>
                    </tr>
                    {% endfor %}
				</table>
			</div>
			<div class="center">
		    	<input type="button" value="Manage Slice Resources"
		    	onclick='document.location="{% url html_plugin_home slice.id %}"' />
			</div>
		</div>
	</div>
</div>
{% endblock content %}
