<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="{% url css_media 'ocf.css' %}" />

		<title>
			{% block title %}FIBRE Virtualization Manager{% endblock %}
		</title>
		{% block scripts %}{% endblock %} 
	</head>
	<body>
        <div id="fancypage"> 
			<div id="fancycontent">
			{% block pagehead %}{% endblock %} 			
            {% block content %}{% endblock %}
			</div>
        </div>

	</body>
</html>
