{% extends "base_admin.html" %}
{% block pagehead %} <h1>Add Admin Rule</h1> {% endblock %}
{% block scripts %}

<script> 
function resizeFrame(f) {
f.style.height = "1px"; 
f.style.height = f.contentWindow.document.body.scrollHeight + "px"; 
}  
</script>
<script type="text/javascript">
jQuery(document).ready(function() {
        //jQuery(".expandable").hide();
        jQuery(".expandableCtl").each(function(){
		elementName = "#"+$(this).attr('id')+"Container";
		$(elementName).css("display","none");
	})

 
        jQuery(".expandableCtl").click(function()
        {
		elementName = "#"+$(this).attr('id')+"Container";
		jQuery("#"+$(this).attr('id')+"Container").slideToggle(250);
		if(jQuery("span", this).attr("class") == "opened"){
		jQuery("span", this).html("&#x25BC;");
		$('html, body').animate({scrollBottom: $(elementName).offset().top-150}, 200);
		}else{
			jQuery("span", this).html("&#x25B2;");
		}
		jQuery("span", this).toggleClass("closed opened");
		//jQuery("span", this).toggleClass("opened closed");
	});
});

</script>

<style>
  select {
    width: 400px;
  }
  iframe {
  	width: 600px;
  	height: 200px;
  }
</style>
<script type="text/javascript">

function match_allocated_vlans(sel_value){
        a_vlans = {{allocated_vlans}};
        $("li").css("color","#333");
        $(".header_vlan").css("color","#333");
        req_vlans = {{requested_vlans}};
        for (i=0; i<req_vlans[sel_value].length; i++){
            if (a_vlans.indexOf(req_vlans[sel_value][i])!=-1){
                $("#il_"+req_vlans[sel_value][i]).css("color","red");
                headers = $(".header_vlan");
                sel_header = null
                for(j=0;j<headers.length;j++){
                        if(headers[j].id.split('_')[2] <= req_vlans[sel_value][i]){
                                sel_header = headers[j];
                        }
                }
                $("#"+sel_header.id).css("color","red");
            }

        }
};

$(document).ready(function(){
        match_allocated_vlans({{first_exp}});
        $("#expsel").
                change(function(){
                        var addr = "/opts/experiment_simple/"
                        var sel_value = $(this).val()
                        addr = addr+sel_value
                        $("#exp_iframe").attr('src',addr)
                        resizeFrame(document.getElementById('exp_iframe'))
                        match_allocated_vlans(sel_value);
                });

});

</script>
{% endblock %}
{% block content %}
<div class="main">
	{% for msg in error_msg %}
	<p><font color="red">{{msg}}</font></p>
	{% endfor %}
	{{form.non_field_errors}}
	<form name="input" action="/opts/opt_in" method="post">{% csrf_token %}
		<b>Experiment:</b><br/>
		<select name="experiment" id="expsel">
			{% for exp in experiments %}
			<option value="{{exp.id}}">
			{{exp.project_name}}:{{exp.slice_name}}
			</option>
			{% endfor %}
		</select>
		<br/>
		<iframe src="{% if exp_exist %}/opts/experiment_simple/{{first_exp}}{% endif %}" id="exp_iframe" onload="resizeFrame(this);">
		</iframe>
		<br/><br/>

                <h3>VLAN(s) already allocated:</h3>
                <div class="roundBlockContainer">
                  {% if allocated_vlans %}
                    {% for vlan in allocated_vlans %}
                      {% if forloop.first %}
                        <div class="vlan_list">
                          <ul style="margin:7px; padding:0px;">
                            <li><a id="vlan_range_{{forloop.counter0}}" class="expandableCtl header_vlan" href="#/">From {{forloop.counter0}}... <span class="closed">&#x25BC;</span></a></li>
                          </ul>
                          <div class="expandable" id="vlan_range_{{forloop.counter0}}Container">
                            <ul>
                      {% endif %}
                              <li id="il_{{vlan}}" type="disc">{{vlan|safe}}</li>
                      {# Last iteration: close list and get out #}
                      {% if forloop.last %}
                            </ul>
                          </div>
                        </div>
                      {% else %}
                        {% if vlan_list_length != 0 and forloop.counter|divisibleby:vlan_list_length %}
                        </ul>
                      </div>
                    </div>
                    {# Same as before #}
                    <div class="vlan_list">
                      <ul style="margin:7px; padding:0px;">
                        {# Show "next" allocated VLAN (assuming consequent VLANs! - could be improved #}
                        <li><a id="vlan_range_{{vlan|add:"1"}}" class="expandableCtl header_vlan" href="#/">From {{vlan|add:"1"}}... <span class="closed">&#x25BC;</span></a></li>
                      </ul>
                      <div class="expandable" id="vlan_range_{{vlan|add:"1"}}Container">
                        <ul>
                        {% endif %}
                      {% endif %}
                    {% endfor %}
                  {% else %}
                    The whole range of VLANs is available (Except the UNALLOWED VLANS).
                  {% endif %}
                </div>
	
		<label> <h3>FlowSpace to Opt-In: </h3></label>
		<br/>
		<table class="formtable">
		<tr><th>Field</th><th>[From Value,To Value]</th></tr>
		<tr>
		<td>
			<label for="id_mac_from">Source MAC address {{form.errors.mac_from_s}}{{form.errors.mac_from_e}}</label>
		</td><td>
			{{form.mac_from_s}} - {{form.mac_from_e}}
		</td>
		</tr><tr>
		<td>
			<label for="id_mac_to">Destination MAC address {{form.errors.mac_to_s}}{{form.errors.mac_to_e}}</label>
		</td><td>
			{{form.mac_to_s}} - {{form.mac_to_e}}
		</td>
		</tr><tr>
		<td>
			<label>Ethernet Types {{form.errors.eth_type_s}}{{form.errors.eth_type_e}}</label>
		</td><td>
			{{form.eth_type_s}} - {{form.eth_type_e}}
		</td>
		</tr><tr>
		</tr><tr>
		<td>
			<label>VLAN Range {{form.errors.vlan_id_s}}{{form.errors.vlan_id_s}}</label>
		</td><td>
			{{form.vlan_id_s}} - {{form.vlan_id_e}}
		</td>
		</tr><tr>
		<td>
			<label>Source IP Address {{form.errors.ip_from_s}}{{form.errors.ip_from_e}}</label>
		</td><td>
			{{form.ip_from_s}} - {{form.ip_from_e}}
		</td>
		</tr><tr>
		<td>
			<label>Destination IP Address {{form.errors.ip_to_s}}{{form.errors.ip_to_e}}</label>
		</td><td>
			{{form.ip_to_s}} - {{form.ip_to_e}}
		</td>
		</tr><tr>
		<td>
			<label>IP Protocol Range {{form.errors.ip_proto_s}}{{form.errors.ip_proto_e}}</label>
		</td><td>
			{{form.ip_proto_s}} - {{form.ip_proto_e}}
		</td>
		</tr><tr>
		<td>
			<label>Transport Source Port Range {{form.errors.tp_from_s}}{{form.errors.tp_from_e}}</label>
		</td><td>
			{{form.tp_from_s}} - {{form.tp_from_e}}
		</td>
		</tr><tr>
		<td>
			<label>Transport Destination Port Range {{form.errors.tp_to_s}}{{form.errors.tp_to_e}}</label>
		</td><td>
			{{form.tp_to_s}} - {{form.tp_to_e}}
		</td>
		</tr>
		</table>
		<input type="submit" value="Add Rule"/>
		<br/>
		<br/>

	</form>
	
	<br/>
	<br/>
	<b>Upload Rules from a File: </b>(<a href="{% url img_media 'sample_rules.txt' %}">download</a> sample file)<br/><br/>
	<form name="input" action="/opts/opt_in_from_file" method="post" enctype="multipart/form-data">{% csrf_token %}
		{{upload_form.as_table}}
		<br/><br/>
		<input type="submit" value="Add Rules"/>
	</form>
	
</div>

{% endblock content %}
