{% extends "base_user.html" %}
{% block pagehead %} <h1>Opt Out Traffic</h1> {% endblock %}
{% block scripts %}
<style>
  td.expname {
    width: 400px;
  }
  </style>
  {% endblock %}
  
{% block content %}
<div class="main">
	{% for msg in error_msg %}
		<p><font color="red">{{msg}}</font></p>
	{% endfor %}
	<form name="input" action="/opts/opt_out" method="post">{% csrf_token %}
	<table class="formtable" align="center" style="text-align: center;">
	<tr><th></th><th><center>Experiment</center></th><th>Strict?</th></tr>
        {% for opt in allopts %}
                <tr>
                        <td>
                                <input type="checkbox" name="{{opt.id}}" id="exp_{{opt.id}}"/>
                        </td>
                        <td class="expname">
                                <label for="exp_{{opt.id}}">
                                        {{opt.experiment.project_name}}:{{opt.experiment.slice_name}}
                                </label>
                        </td>
                        <td>
                                <label for="exp_{{opt.id}}">
                                        {% if opt.nice %}No{% else %}Yes{% endif %}
                                </label>
                        </td>
                </tr>
        {% endfor %}
	</table>
	<center><input type="submit" value="Opt Out"/></center>
	</form>
</div>
{% endblock content %}
