{% extends "base_admin.html" %}
{% block pagehead %} <h1>Experiments Opted In by {{user.username}}</h1> {% endblock %}

{% block scripts %}

<script type="text/javascript">
var highlighted_row = null;
var simple = 0;
window.onload = advsimple;

function clicked(tr_id){
	document.getElementById('exp_iframe').src="/opts/simple_opts/"+tr_id.substring(3)
	if (highlighted_row==null) {
		highlighted_row = document.getElementById(tr_id)
		highlighted_row.setAttribute("class","highlighted")
	} else if (highlighted_row.getAttribute("id")==tr_id) {
		highlighted_row.setAttribute("class","non-highlighted")
		highlighted_row = null
	} else {
		highlighted_row.setAttribute("class","non-highlighted")
		highlighted_row = document.getElementById(tr_id)
		highlighted_row.setAttribute("class","highlighted")
	}
		
}

function setStyleById(i, p, v) {
	var n = document.getElementById(i);
	n.style[p] = v;
}

function prev_sibling(obj){
	var sibling = obj.previousSibling;
	while (sibling && sibling.nodeType != 1) {
		sibling = sibling.previousSibling;
	}
	if (sibling) {
		return sibling
	}
	else {
		return null
	}
}

function next_sibling(obj){
	var sibling = obj.nextSibling;
	while (sibling && sibling.nodeType != 1) {
		sibling = sibling.nextSibling;
	}
	if (sibling) {
		return sibling
	}
	else {
		return null
	}
}

function update_table(table,base) {
	var row_count = table.rows.length
	for(var i=1; i<row_count; i++) {
		var row_id = table.rows[i].getAttribute("id")
		hidden_elem = document.getElementById("p"+row_id)
		hidden_elem.setAttribute("value",base-i)
	}
}

function updown(ud){
	if (highlighted_row == null) {
		return
	} 
	tr_elem = highlighted_row
	if (ud==1) {
		prev_tr_elem = prev_sibling(tr_elem)
		if (prev_tr_elem && prev_tr_elem.getElementsByTagName("td").length > 0) {
		
			tmp_html = prev_tr_elem.innerHTML
			prev_tr_elem.innerHTML = tr_elem.innerHTML
			tr_elem.innerHTML = tmp_html
			
			
			prev_id = prev_tr_elem.getAttribute("id")
			this_id = tr_elem.getAttribute("id")
			prev_hidden_elem = document.getElementById("p"+prev_id)
			this_hidden_elem = document.getElementById("p"+this_id)
			prev_priority = prev_hidden_elem.getAttribute("value")
			this_priority = this_hidden_elem.getAttribute("value")
			prev_hidden_elem.setAttribute("value",this_priority)
			this_hidden_elem.setAttribute("value",prev_priority)
			
			to_be_copied = ["id","class","onClick"]
			for (i=0; i<to_be_copied.length; i++){
				key = to_be_copied[i]
				prev_key = prev_tr_elem.getAttribute(key)
				this_key = tr_elem.getAttribute(key)
				prev_tr_elem.setAttribute(key,this_key)
				tr_elem.setAttribute(key,prev_key)
			}
			
			highlighted_row = prev_tr_elem
		}
	}
	if (ud==-1) {
		next_tr_elem = next_sibling(tr_elem)
		if (next_tr_elem && next_tr_elem.getElementsByTagName("td").length > 0) {
		
			tmp_html = next_tr_elem.innerHTML
			next_tr_elem.innerHTML = tr_elem.innerHTML
			tr_elem.innerHTML = tmp_html
			
			next_id = next_tr_elem.getAttribute("id")
			this_id = tr_elem.getAttribute("id")
			next_hidden_elem = document.getElementById("p"+next_id)
			this_hidden_elem = document.getElementById("p"+this_id)
			next_priority = next_hidden_elem.getAttribute("value")
			this_priority = this_hidden_elem.getAttribute("value")
			next_hidden_elem.setAttribute("value",this_priority)
			this_hidden_elem.setAttribute("value",next_priority)
			
			to_be_copied = ["id","class","onClick"]
			for (i=0; i<to_be_copied.length; i++){
				key = to_be_copied[i]
				prev_key = next_tr_elem.getAttribute(key)
				this_key = tr_elem.getAttribute(key)
				next_tr_elem.setAttribute(key,this_key)
				tr_elem.setAttribute(key,prev_key)
			}
			
			highlighted_row = next_tr_elem
		}
	}
}

function nicestrict() {
	if (highlighted_row == null) {
		return
	} 
	tr_elem = highlighted_row
	tr_id = tr_elem.getAttribute("id")
	selected_priority = parseInt(document.getElementById("p"+tr_id).getAttribute("value"))
	old_table = tr_elem.parentNode
	var row_count = old_table.rows.length
	for(var i=0; i<row_count; i++) {
    	var row = old_table.rows[i]
        if (row.getAttribute("id")==highlighted_row.getAttribute("id")) {
        	var to_be_deleted_index = i
			break
        }
	}
	if (selected_priority<{{max_priority}}-1000) {
    	new_table = document.getElementsByTagName("table")[3]
    	new_base_priority = {{max_priority}}
    	old_base_priority = new_base_priority - 1000
    } else {
    	new_table = document.getElementsByTagName("table")[2] 
    	old_base_priority = {{max_priority}}
    	new_base_priority = new_base_priority - 1000
    }
    
	new_row = new_table.insertRow(1)
	new_row.innerHTML = tr_elem.innerHTML
	to_be_copied = ["id","class","onClick"]
	for (i=0; i<to_be_copied.length; i++){
		key = to_be_copied[i]
		new_row.setAttribute(key,tr_elem.getAttribute(key))
	}
	old_table.deleteRow(to_be_deleted_index)
		
	new_row_id = new_row.getAttribute("id")
	document.getElementById("p"+new_row_id).setAttribute("value",new_base_priority-1)

	update_table(new_table,new_base_priority)
	update_table(old_table,old_base_priority)
	
	highlighted_row = new_row
}

function advsimple(){
	table = document.getElementsByTagName("table")[3]
	but = document.getElementById("advbut")
	switchbut = document.getElementById("switch")
	div = document.getElementById("adv")
	if (simple==1 ) {
		simple = 0
		div.style.display = ""
		switchbut.style.display = ""
		but.childNodes[0].nodeValue = "Simple"
	} else if (simple==0 && table.rows.length<=1) {
		simple = 1
		div.style.display = "None"
		switchbut.style.display = "None"
		but.childNodes[0].nodeValue = "Advanced"
	}
}


</script>
{% endblock %}

{% block content %}
<div class="main">

		<div align="right">
		{% for error in error_msg %}
			<p><font color="red">{{error}}</font></p>
		{% endfor %}
		</div>

		<div id="setpriority">	

		<button type=button onClick="updown(1)">Up</button>
		<button type=button onClick="updown(-1)">Down</button>
		<button type=button id="switch" onClick="nicestrict()">Switch</button> 
		
		<form name="input" action="/opts/change_priority" method="post">
		{% csrf_token %}

			<h2> Normal Opt-Ins</h2>
			<table class="formtable">
				<tr><th><center>Rules</center></th></tr>
				{% for opt in nice_opts %}
				<tr id="tr_{{opt.id}}"  class="non_highlight">
					<td id="td_{{opt.id}}"  class="setp_td"><center>
						<div onClick="clicked('tr_{{opt.id}}')">
						{{opt.experiment.project_name}}:{{opt.experiment.slice_name}} - ID: {{opt.id}}
						</div>
					</center></td>
				</tr>
				{% endfor %}
			</table>
			
			<button type=button id="advbut" onClick="advsimple()">Simple</button>
			<div id="adv">

			<h2> Strict Opt-Ins</h2>
			<table class="formtable">
				<tr><th><center>Experiment</center></th></tr>
				{% for opt in strict_opts %}
				<tr id="tr_{{opt.id}}"  class="non_highlight")">
					<td id="td_{{opt.id}}"  class="setp_td"><center>
						<div onClick="clicked('tr_{{opt.id}}')">
						{{opt.experiment.project_name}}:{{opt.experiment.slice_name}}
						</div>
					</center></td>
				</tr>
				{% endfor %}
			</table>

			</div>
			
			{% for opt in strict_opts %}
				<input type="hidden" name="p_{{opt.id}}" value="{{opt.priority}}" id="ptr_{{opt.id}}"/>
			{% endfor %}
			{% for opt in nice_opts %}
				<input type="hidden" name="p_{{opt.id}}" value="{{opt.priority}}" id="ptr_{{opt.id}}"/>
			{% endfor %}

					<td><input type="submit" value="Update"/></td>

		</form> 

		</div>
		<br/>
		<br/>
		<iframe id="exp_iframe">
		</ifram>

</div>
{% endblock content %}
