            <div id="footer">
			 &copy; 2011-2013 <a href="http://www.fp7-ofelia.eu/" target="_blank">FP7 OFELIA project</a>, <a href="http://www.fibre-ict.eu/" target="_blank">FP7 FIBRE project</a> &amp; Stanford University. <br/>                         
                         OFELIA and FIBRE projects are funded by the European Comission (EC) in the 7th framework programme and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
                        Development of the OFELIA Control Framework is led by <a href="http://www.i2cat.net/">i2CAT foundation</a><br/>           
			<!--Expedient was adapted from <a href="http://yuba.stanford.edu/~jnaous/expedient/" target="_blank">software</a> gracefully provided by Stanford University.<br/><br/>-->
            </div>
