{% extends "base_admin.html" %}

{% block pagehead %} <h1>Change Profile Information</h1> {% endblock %}
{% block content %}
<div class="main">
	<form name="input" action="/change_profile" method="post">
	{% csrf_token %}
	<b>Change User Information</b>
	<table class="formtable">
		{{ user_form.as_table }}
		{{ admin_form.as_table }}
	</table>
	<br/><b>Change Password</b><br/>
	<table class="formtable">
		{{ pass_form.as_table }}
	</table>
	<input type="submit" value="submit" />
	</form>
</div>
{% endblock content %}