{% extends "base.html" %}
{% load ch_extras %}

{% block head %}
<script>
	$(document).ready(function() {
		$("table.fulltable td").css("padding", "1px 1px 1px 1px");
	})
</script>
<style>
	div.steps {
		padding: 4px;
		font-weight: bold;
	}
	table.fulltable input[type=text] {
		width: 70px;
	}
	span.next_link {
		font-weight: bold;
	}
</style>
{% endblock %}

{% block content %}
<div class="steps center">
	1. <a href="{% url html_plugin_home slice.id %}">Select PlanetLab and OpenFlow Resources</a>
	2. <a href="{% url html_plugin_flowspace slice.id %}">Select Flowspace</a>
	3. <a href="{% url html_plugin_sshkeys slice.id %}">Get SSH keys</a>
</div>

<div class="main">
    
    <h1>Set FlowSpace for Slice {{ slice.name }}</h1>
    
	<div class="help_text">
	Each row of the table describes a class of traffic you would like your
	controller to receive. For example, if you want to receive all incoming and
	outgoing port 80 traffic, then you will need two rows. In the first, you
	would set the "L4 Dst" field to 80. In the second, you would set the "L4
	Src" field to 80.
	<br />
	<br />
	Empty rows are unused. If you need more space, you can click "Save", and
	additional empty rows will be displayed.
	</div>

	<br />
	<br />
	
    <form class="form" id='flowspace_formset' method="POST" action="">{% csrf_token %}
    	{{ fsformset.management_form }}
		{% for form in fsformset.forms %}
			{% for hidden in form.hidden_fields %}
				{{ hidden }}
			{% endfor %}
		{% endfor %}
		<div class="center">
	    	<table class="formtable external">
	    		{% for form in fsformset.forms %}
	    		<thead>
	    			<tr><th>Field</th><th>From</th><th>To</th></tr>
	    		</thead>
	    		<tbody>
		            <tr>
		            	<th><strong>MAC Source</strong></th>
		            	<td>
		            		{{ form.dl_src_start.errors }}
		            		{{ form.dl_src_start }}
		            	</td>
		            	<td>
		            		{{ form.dl_src_end.errors }}
		            		{{ form.dl_src_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>MAC Destination</strong></th>
		            	<td>
		            		{{ form.dl_dst_start.errors }}
		            		{{ form.dl_dst_start }}
		            	</td>
		            	<td>
		            		{{ form.dl_dst_end.errors }}
		            		{{ form.dl_dst_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>Ethernet Type</strong></th>
		            	<td>
		            		{{ form.dl_type_start.errors }}
		            		{{ form.dl_type_start }}
		            	</td>
		            	<td>
		            		{{ form.dl_type_end.errors }}
		            		{{ form.dl_type_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>VLAN ID</strong></th>
		            	<td>
		            		{{ form.vlan_id_start.errors }}
		            		{{ form.vlan_id_start }}
		            	</td>
		            	<td>
		            		{{ form.vlan_id_end.errors }}
		            		{{ form.vlan_id_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>IP Source</strong></th>
		            	<td>
		            		{{ form.nw_src_start.errors }}
		            		{{ form.nw_src_start }}
		            	</td>
		            	<td>
		            		{{ form.nw_src_end.errors }}
		            		{{ form.nw_src_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>IP Destination</strong></th>
		            	<td>
		            		{{ form.nw_dst_start.errors }}
		            		{{ form.nw_dst_start }}
		            	</td>
		            	<td>
		            		{{ form.nw_dst_end.errors }}
		            		{{ form.nw_dst_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>IP Protocol</strong></th>
		            	<td>
		            		{{ form.nw_proto_start.errors }}
		            		{{ form.nw_proto_start }}
		            	</td>
		            	<td>
		            		{{ form.nw_proto_end.errors }}
		            		{{ form.nw_proto_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>TCP/UDP Source</strong></th>
		            	<td>
		            		{{ form.tp_src_start.errors }}
		            		{{ form.tp_src_start }}
		            	</td>
		            	<td>
		            		{{ form.tp_src_end.errors }}
		            		{{ form.tp_src_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>TCP/UDP Destination</strong></th>
		            	<td>
		            		{{ form.tp_dst_start.errors }}
		            		{{ form.tp_dst_start }}
		            	</td>
		            	<td>
		            		{{ form.tp_dst_end.errors }}
		            		{{ form.tp_dst_end }}
		            	</td>
		            </tr>
		            <tr>
		            	<th><strong>Ports</strong></th>
		            	<td COLSPAN="2">
		            		{{ form.slivers.errors }}
		            		{{ form.slivers }}
		            	</td>
		            </tr>
		        </tbody>
		        {% endfor %}
	        </table>
			<br/>
            <input id='submit' type="submit" value="Save" />
			<span class="next_link">
				<a href="{% url html_plugin_sshkeys slice.id %}">Next</a>
			</span>
        </div>
    </form>
</div>
{% endblock %}
