{% extends "base.html" %}
{% load ch_extras %}

{% block style %}
table.openflow,table.planetlab {
	width: 100%;
	border-spacing: 0px;
	border-collapse: collapse;
	border: 1px solid #CCC;
}
table.openflow .dpid,.ports {
	border-bottom: 1px solid #000;
}
table.connections_table {
	border-width: 0px;
	width: 100%;
}
table.openflow td {
	border-spacing: 0px;
	padding: 0px;
	border-collapse: collapse;
}
td.select_checkbox {
	width: 24px;
}
table.connections {
	width: 440px;
}
tr.odd {
	background-color: #ecf4d7;
}
td.connected {
	font-weight: bold;
}

td.port_num {
	width: 45px;
}
div.steps {
	padding: 4px;
	font-weight: bold;
}
{% endblock %}

{% block scripts %}
<script src="{% url js_media 'protovis-r3.2.js' %}"></script>
<script>
/* boldface connected interfaces */
$(document).ready(function(){
	$(":checkbox[name=selected_ifaces]:checked").each(function(){
		iface_id = $(this).attr("value");
		$(".neighbor_"+iface_id).addClass("connected");
		$(".iface_"+iface_id).addClass("connected");
	});
	$(":checkbox[name=selected_ifaces]").click(function (){
		iface_id = $(this).attr("value");
		$(".iface_"+iface_id).toggleClass("connected");
		$(".neighbor_"+iface_id).toggleClass("connected");
	});
	$("input[name=clear_button]").click(function (){
		$(":checked").click();
	});
})
</script>
{% endblock %}

{% block content %}
<div class="steps center">
	1. <a href="{% url html_plugin_home slice.id %}">Select PlanetLab and OpenFlow Resources</a>
	2. <a href="{% url html_plugin_flowspace slice.id %}">Select Flowspace</a>
	3. <a href="{% url html_plugin_sshkeys slice.id %}">Get SSH keys</a>
</div>

<h1>Topology</h1>
<script type="text/javascript+protovis">

var data = {
	nodes: [
		{% for node in protovis_nodes %}
		{nodeValue:"{{ node.name }}", nodeName:"{{ node.name }}", group:"{{ node.group }}"}{% if not forloop.last %},{% endif %}
		{% endfor %}
	],
	links: [
		{% for link in protovis_links %}
		{source:{{ link.src }}, target:{{ link.target }}, value:{{ link.value }}}{% if not forloop.last %},{% endif %}
		{% endfor %}
	],
}

var of_groups_len = {{ openflow_aggs.count }};
var pl_groups_len = {{ planetlab_aggs.count }};

var w = 740,
    h = 400,
    colors = pv.Colors.category20();

var vis = new pv.Panel()
    .width(w)
    .height(h)
    .fillStyle("white")
    .event("mousedown", pv.Behavior.pan())
    .event("mousewheel", pv.Behavior.zoom());

var force = vis.add(pv.Layout.Force)
	.bound(true)
    .nodes(data.nodes)
    .links(data.links);

force.springLength(80);
force.chargeConstant(-400);
force.chargeTheta(0.2);

force.link.add(pv.Line);

force.label.add(pv.Label);

/*
force.node.add(pv.Dot)
    .size(function(d) (50))
    .fillStyle(function(d) d.fix ? "brown" : colors(d.group))
    .strokeStyle(function() this.fillStyle().darker())
    .lineWidth(1)
    .title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("drag", force);
*/

force.node.add(pv.Image)
	.url(function (d) {
		if(d.group < of_groups_len) {
			return "{% url img_media 'switch-tiny.png' %}";
		} else if(d.group < of_groups_len + pl_groups_len) {
			return "{% url img_media 'host-tiny.png' %}";
		}
	})
	.width(20)
	.height(20)
	.fillStyle(function(d) d.fix ? "brown" : colors(d.group))
    .strokeStyle(function() this.fillStyle().darker())
	.cursor("pointer")
	.title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("drag", force);

vis.render();

</script>

<form action="" method="POST">{% csrf_token %}

<h1>1. Select PlanetLab Aggregates</h1>

{% for agg in planetlab_aggs %}
<h2>PlanetLab Aggregate {{ agg.name }}</h2>
at {{ agg.location }}.
<div class="planetlab">
	<table class="planetlab">
		<tr class="header">
			<th class="select_checkbox"></th>
			<th class="hostname">Hostname</th>
			<th class="connections">Connections</th>
		</tr>
		{% for rsc in agg.resource_set.all %}
		{% if rsc|leaf_class_is:planetlab_node_class %}
		{% with rsc.as_leaf_class as node %}
		<tr class="body planetlab {% cycle 'odd' 'even' %}">
			<td class="select_checkbox">
				<input type="checkbox" name="selected_nodes" value="{{ node.id }}" {% if node.id in checked_ids %}checked{% endif %} />
			</td>
			<td class="hostname"><a name="rsc_{{ rsc.id }}">{{ node.name }}</a></td>
			<td class="connections">
				<table class="connections">
					{% for cnxn in rsc.openflow_connections.all %}
					{% with cnxn.of_iface as neigbor %}
					<tr>
						<td class="neighbor neighbor_{{ neighbor.id }}">
							Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
							{{ neighbor.switch.datapath_id }}</a>
							at port <a href="#iface_{{ neighbor.id }}">
							{{ neighbor.port_num }}</a>
						</td>
					</tr>
					{% endwith %}
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endwith %}
		{% endif %}
		{% endfor %}
	</table>
</div>
{% endfor %}

<h1>2. Select OpenFlow Resources</h1>

{% for agg in openflow_aggs %}
<h2>OpenFlow Aggregate {{ agg.name }}</h2>
at {{ agg.location }}.
<div class="openflow">
	<table class="openflow">
		<tr class="header">
			<th class="dpid">Datapath ID</th>
			<th class="ports">Connections (Port and Remote Port)</th>
		</tr>
		{% for rsc in agg.resource_set.all %}
		{% if rsc|leaf_class_is:ofswitch_class %}
		{% with rsc.as_leaf_class as switch %}
		<tr class="body openflow">
			<td class="dpid"><a name="switch_{{ switch.id }}">{{ switch.datapath_id }}</a></td>
			<td class="ports">
				<table class="connections_table">
					{% for iface in switch.openflowinterface_set.all %}
					<tr class="body {% cycle 'odd' 'even' %}">
						<td class="select_checkbox">
							<input type="checkbox" name="selected_ifaces" value="{{ iface.id }}" {% if iface.id in checked_ids %}checked{% endif %} />
						</td>
						<td class="port_num iface_{{ iface.id }}">Port <a name="iface_{{ iface.id }}">{{ iface.port_num }}</a></td>
						<td class="connections">
							<table class="connections">
								{% for cnxn in iface.nonopenflow_connections.all %}
								<tr>
									<td class="neighbor neighbor_rsc_{{ cnxn.resource.id }}">
										Connected to <a href="#rsc_{{ cnxn.resource.id }}">
										{{ rsc.as_leaf_class }}</a>.
									</td>
								</tr>
								{% endfor %}
								{% for neighbor in iface.ingress_neighbors.all %}
								<tr>
									<td class="neighbor neighbor_{{ neighbor.id }}">
										Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
										{{ neighbor.switch.datapath_id }}</a>
										at port <a href="#iface_{{ neighbor.id }}">
										{{ neighbor.port_num }}</a>.
									</td>
								</tr>
								{% endfor %}
							</table>
						</td>
					</tr>
					{% endfor %}
				</table>
			</td>
		</tr>
		{% endwith %}
		{% endif %}
		{% endfor %}
	</table>
</div>
{% empty %}
<p>There are no OpenFlow aggregates in the slice. </p>
{% endfor %}

{% if openflow_aggs or planetlab_aggs %}
<input type="submit" value="Next" />
<input type="button" name="clear_button" value="Clear" />
{% endif %}
</form>
{% endblock content %}
