{% extends "base.html" %}

{% block scripts %}
<script src="{% url js_media 'jquery.colorbox-min.js' %}"></script>
<script>
	$(".perm_info").colorbox();
</script>
{% endblock %}

{% block content %}
<div class="main">
    <h2>The following permission requests will be approved:</h2>
	<ul>
		{% for req, delegatable in approved_reqs %}
		<li>
			Permission <a class="perm_info"
			href="{% url permissionmgmt_perm_info req.requested_permission.permission.id %}">
			{{ req.requested_permission.permission.name }}</a>
			requested by {{ req.requesting_user }} for object
			{{ req.requested_permission.target }} will be granted to 
			{{ req.permission_user }}. {{ req.permission_user }} 
			{% if delegatable %}<strong>will</strong>{% else %}will
			<strong>not</strong>{% endif %} be able to further give permission
			to other objects.
		</li>
		{% endfor %}
	</ul>

    <h2>The following permission requests will be denied:</h2>
	<ul>
		{% for req in denied_reqs %}
		<li>
			Permission <a class="perm_info"
			href="{% url permissionmgmt_perm_info req.requested_permission.permission.id %}">
			{{ req.requested_permission.permission.name }}</a>
			requested by {{ req.requesting_user }} for object
			{{ req.requested_permission.target }} and permission user
			{{ req.permission_user }} will be denied.
		</li>
		{% endfor %}
	</ul>
	<h2>Do you want to proceed?</h2>
    <form action="" method="post">{% csrf_token %}
	    <div>
		    <input type="hidden" name="post" value="yes" />
		    <input type="submit" value="Proceed" />
			<a href="{% url permissionmgmt_dashboard %}">Cancel</a>
	    </div>
    </form>
</div>
{% endblock %}
