{% extends "base.html" %}
{% load ch_extras %}
{% load breadcrumbs %}

{% block title %}Slice {{ slice.name }} in Project {{ slice.project.name }}{% endblock title %}

{% block head %}
<link rel="stylesheet" href="{% url css_media 'slice.css' %}" />
<link rel="stylesheet" href="{% url css_media 'slice.topology.css' %}" />
<script src="{% url js_media 'slice.js' %}"></script>
<script src="{% url js_media 'jquery.blockUI.js' %}"></script>
{% endblock %}

{% block content %}
<div class="main">
	<div class="title">
		<h1>Slice <font class="highlight">{{ slice.name }}</font> in Project <font class="highlight">{{ slice.project.name }}</font></h1>
	</div>
	<div class="mgmt_actions">
		<!--<p><a href="{% url slice_update slice.id %}">Edit</a> basic information</p>-->
		<p><a href="{% url slice_delete slice.id %}">Delete</a> slice</p>
	</div>
		<div class="slicemgmt_actions">
	   	<table width="100%" id="slicemgmt_table">
			<tr>
				<th><h2>Slice status</h2></th>
				<th><h2>Description</h2></th>
				<th><h2>Management</h2></th>
			</tr>
			<tr>
			<td style="text-align:center">
				{% if not slice.started %}
					<img src="{% url img_media 'inactive.png' %}" alt="Slice not started" title="Slice not started">
				{%else%}
					{% if not slice.modified %}
					<img src="{% url img_media 'active.png' %}" title="Slice started and up-to-date" alt="Slice started and up-to-date">
					{% else %}
						<img src="{% url img_media 'warning.png' %}" title="Slice started, but not up-to-date. Update slice." alt="Slice started, but not up-to-date. Update slice.">
					{% endif %}
				{% endif %}

			</td>
			<td width="54%" style="font-size:11px;vertical-align:top">
		        <i>{{ slice.description }}</i>
			<!--		XXX:Expiration method needs review
		        <h2>Expires:</h2>
		        {{ slice.expiration_date }}-->
	   		</td>
			<td width="30%">
				<table style="margin-top:5px;" align="center">

	    			<tr>
	    				<td>
				    		<form action="{% url slice_start slice.id %}" method="POST">{% csrf_token %}
							<input 
								type="submit" 
							{% if not slice.started %}
								style="background-image: url({% url img_media 'play.png' %});"
								value="Start Slice"
								class="slice_action_button start_slice_button"
							{% else %}
								style="background-image: url({% url img_media 'reload.png' %}); width: 120px !important;"
								value="Update Slice"
								class="slice_action_button update_slice_button"
							{% endif %}
							onClick = "return getLoadingMsg('start_update');"
							/>
			    			</form>
			    		</td>
			    		<td>
				    		<form action="{% url slice_stop slice.id %}" method="POST">{% csrf_token %}
							<input
							style="background-image: url({% url img_media 'stop.png' %})"
							type="submit"
							value="Stop Slice"
							class="slice_action_button stop_slice_button"
							{% if not slice.started %} disabled {% endif %}
							onClick = "return getLoadingMsg('stop');"
							/>
				    		</form>
		    			</td>
		    		</tr>
			    	</table>
			</td>
			</tr>
			</table>
		</div><!-- mgmt actions -->
    </div><!-- detail section -->

{# Topology #}
{% include "slice/topology.html" %}

{# List of aggregates #}
    <div class="detail_section">
	    <h1> Slice AMs and resource details 
                        <img id="aggs_help_img" src="{% url img_media 'question_mark_15x15.png' %}" />
                </h1>
		<div id="aggregate_add_to_slice" class="button" onclick='document.location="{% url slice_add_agg slice.id %}"'> 
		<a href="#/" class="noMouseOver"><span style="font-size:25px;font-weight:bold;vertical-align:middle">+</span><span style="vertical-align:middle"> Add an Agregate Manager to the current slice</span></a>
		</div>

                <div class="tooltip" id="aggs_help_div">
                        Below you can manage and add aggregates in your slice. You can
                        only add resources to your slice from aggregates that have been
                        added to the slice. When you add an aggregate to the slice you
                        might be prompted for additional information that the aggregate
                        needs about your slice.
                </div>
        </div>

{# Show message when no aggregates are added to the slice #}
{% with slice.aggregates.all as aggregate_list %}
    {% if not aggregate_list.count %}
        <p id="#aggregate_none_on_slice">
            This slice has no aggregates added to it. To be able to reserve
            resources on aggregates, you shall add aggregates first ...
        </p>
    {% else %}
        <!-- Common expandable tooltip -->
        <div class="tooltip" id="expandableHelp" style="font-size:normal"> Click to expand/collapse</div>

        {# Begin: Aggregate details - loads templates from plugins - partial templates #}
        {% if plugin_template_list_network %}
          <h2 class="resources">
            <a id="networkResources" class="expandableTooltipable expandableCtl resources" ref="#/">
              Network resources
              <span class="opened">&#x25B2;</span>
            </a>
          </h2>
          <div id="networkResourcesContainer" class="expandable">
          {% for plugin_addresources in plugin_template_list_network %}
            {% include plugin_addresources %}
          {% endfor %}
          </div>
        {% endif %}

        {% if plugin_template_list_computation %}
          <h2 class="resources">
            <a id="computationalResources" class="expandableTooltipable expandableCtl resources" ref="#/">
              Computational resources
              <span class="opened">&#x25B2;</span>
            </a>
          </h2>
          <div id="computationalResourcesContainer" class="expandable">
          {% for plugin_addresources in plugin_template_list_computation %}
            {% include plugin_addresources %}
          {% endfor %}
        {% endif %}
        </div>
        {# End: Aggregate details #}
    {% endif %}
{% endwith %}
 
{% endblock content %}
