{% extends "iframebase.html" %}

{% block title %}Messages{% endblock title %}

{% block head %}
<script>
	function show_N_messages(sel) {
		var number = sel.options[sel.selectedIndex].value;
		var subset_url='{% url messaging_all %}';
		/* Ugly hack to get the number in place */
		if (number != undefined && number != "") {
			subset_url='{% url messaging_subset 0 %}';
			subset_url = subset_url.replace('0',number);
		}
		window.location=subset_url;
	}
	function refresh() {
		window.location = "{% url messaging_latest %}";
	}
	function toggle_all() {
		s_all = document.getElementById("selectall");
		elems = document.getElementsByName("selected");
		for(i = 0; i < elems.length; i++) {
			elems[i].checked = s_all.checked;
		}
	}
	function gotocreate() {
		window.location = "{% url messaging_create %}";
	}
</script>
{% endblock %}

{% block content %}
<div id="messages_div">
	<form method="post" action="">{% csrf_token %}
		{% if latest %}
        <div class="iframe_button" id="latest_msg_buttons">
			<div style="float: left;">
	            <input type="button" onclick="gotocreate();" value="Send message" />
			</div>
			<div style="float: right;">
	            Show:
	                <select id="select_messaging_number_logs" name="number_messages" style="width: 60px; display: inline !important;" onchange="show_N_messages(this);">
	                    <option value="10">...</option>
	                    <option value="50">50</option>
	                    <option value="100">100</option>
	                    <option value="">All</option>
	                </select>
	            <input type="button" onclick="refresh();" value="Refresh" />
	            <input type="submit" value="Delete selected" />
			</div>
        </div>
		<table class="msg_center_table" id="messages">
		    <tr class "msg_center_table">
				<th class="select_checkbox"><input type="checkbox" id="selectall" value="selectall" onclick={toggle_all();} /></th>
				<th class="type">Type</th>
				<th class="date">Date</th>
				<th class="time">Time</th>
				<th>Message</th>
			</tr>
			{% for a in latest %}
			<tr>
				<td class="select_checkbox">
					<input id="select_latest_message_{{forloop.counter0}}" type="checkbox" name="selected" value="{{ a.id }}" />
				</td>
				<td class="type {{ a.type }}">
					<label for="select_latest_message_{{forloop.counter0}}">
						{{ a.get_type_display }} 
						{% if a.get_type_display == 'From User' %}
							<strong>{{a.sender}}</strong>
						{% endif %}
					</label>
				</td>
				<td class="date">
					<label for="select_latest_message_{{forloop.counter0}}">
						{{ a.format_date }}
					</label>
				</td>
				<td class="time">
					<label for="select_latest_message_{{forloop.counter0}}">
						{{ a.format_time }}
					</label>
				</td>
				<td class="msg_text">
					<label for="select_latest_message_{{forloop.counter0}}">
						{{ a.msg_text }}
					</label>
				</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<div class="iframe_info_msg">
            <div class="iframe_button" id="latest_msg_buttons">
                <input type="button" onclick="gotocreate();" value="Create" />
                <input type="button" onclick="refresh();" value="Refresh" />
            </div>
			<div class="info_msg">
				No new messages.
			</div>
		</div>
		{% endif %}
	</form>
</div>
{% endblock content %}
