{% extends "base_admin.html" %}
{% block pagehead %} <h1>Resign as Admin</h1> {% endblock %}

{% block scripts %}
<script type="text/javascript">
function clicked(){
window.location="/dashboard"
}
</script>
{% endblock %}
{% block content %}
<div class="main">
	{% for msg in error_msg %}
	<p><font color="red">{{msg}}</font></p>
	{% endfor %}
	You will lose all the flowspaces you own as admin and all the rules you added
	will be canceled.<br/> Are you sure, you want to resign? <br/><br/>
	<form name=input action="/admin_manager/resign_admin" method="post">{% csrf_token %}
	<input type="submit" value="Yes"/><button type=button onClick="clicked()">No</button>
	</form>
	
</div>
{% endblock content %}