<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{% url css_media 'ocf.css' %}" />
	<script type="text/javascript">

	$(document).ready(function(){
    	$("#id_ip_addr,#id_mac_addr").attr('disabled', true);
		$("#add_fs_chk").
			change(function(){
			    if ($(this).is(':checked')) {
			    	$("#id_ip_addr,#id_mac_addr").removeAttr('disabled');
			    } else {
			    	$("#id_ip_addr,#id_mac_addr").attr('disabled', true);
			    }  
			});
	});
	
	</script>
</head>

<body>
{% for msg in error_msg %}
	<p><font color="red">{{msg}}</font></p>
{% endfor %}
<center>
<form name="input" action="/admin_manager/change_user_fs/{{user_id}}" method="post">{% csrf_token %}
	<table class="formtable">
	<tr><th>UnRegister?</th><th>FlowSpace</th></tr>
	{% for fs in userfs %}
		<tr><td><input type="checkbox" name="del_{{fs.id}}"/></td>
		<td>{{fs}}</td>
		</tr>
	{% endfor %}
	</table>
	<br/>
	<br/>
	<input type="checkbox" name="register_flowspace" id="add_fs_chk"/><b>Register New Flowspace</b>
	<table class="formtable">
		{{form.as_p}}
	</table>
	<input type="submit" value="Submit"/>
</form>
</center>
</body>
</html>
