{% extends "base_user.html" %}
{% block scripts %}
<script type="text/javascript">
function clicked(){
window.location="/dashboard"
}
</script>
{% endblock %}
{% block content %}
<div class="main">
	Your flowspace requests submitted successfully. Here is the summary of decisions by admins:
	<br/>
	<br/>
	<table class=formtable>
	<tr><td><b><center>Accepted Requests:</center></b></td></tr>
	{% for fs in approved_msg %}
	<tr><td><center>Flowspace {{fs}} approved by {{fs.admin.first_name}} {{fs.admin.last_name}} ({{fs.admin.username}}).</center></td></tr>
	{% endfor %}
	<tr><td><b><center>Rejected Requests:</center></b></td></tr>
	{% for fs in rejected_msg %}
	<tr><td><center>Flowspace {{fs}} rejected by {{fs.admin.first_name}} {{fs.admin.last_name}} ({{fs.admin.username}}).</center></td></tr>
	{% endfor %}
	<tr><td><b><center>Requests Awaiting Admin Approval:</center></b></td></tr>
	{% for fs in awaiting_msg %}
	<tr><td><center>Flowspace {{fs}} awaiting approval by {{fs.admin.first_name}} {{fs.admin.last_name}} ({{fs.admin.username}}).</center></td></tr>
	{% endfor %}
	<tr><td><center><button type=button onClick="clicked()">OK</button></center></td></tr>
	</table>
	
</div>
{% endblock content %}