{% extends "base_admin.html" %}
{% block pagehead %} <h1>Set Auto-Approve Scripts</h1> {% endblock %}

{% block scripts %}
<style>
  select {
    width: 400px;
  }
</style>
<script type="text/javascript">
$(document).ready(function(){
    var disable_func = function(){
        //if ($("select option:selected" ).text().trim() == "Remote") {
        if ($("select option:selected" ).text().trim() != "Manual") {
            $("table.formtable input").attr('disabled','');
            $("table.formtable").show();
        } else {
            $("table.formtable input").attr('disabled','disabled');
            $("table.formtable").hide();
        }
    };
    disable_func()
    $("#script_select").change(disable_func);
});

</script>
<script type="text/javascript" src="{% url js_media 'formtable.tooltip.js' %}"></script>

{% endblock %}

{% block content %}
<div class="main">
    {% for error in error_msg %}
        <p><font color="red">{{error}}</font></p>
    {% endfor %}
    
    <form name="input" action="/admin_manager/set_auto_approve" method="post">
    {% csrf_token %}
    <select name="script" id="script_select">
        {% for option in user_script_options %}
            {# 2014/03/14: disabled 'Remote' option #}
            {% if option != "Remote" %}
                <option {% if option == current_script %}SELECTED{% endif %} value="{{option}}">
                    {{ option }}
                </option>
            {% endif %}
        {% endfor %}
    </select>
    <p>Current user approve method: <b>{{current_script}}</b> </p>
    <table class="formtable">
        {{ form.as_table }}
    </table>
    <input type="submit" value="Submit" />
    </form>
</div>
{% endblock content %}
