{% extends "base_user.html" %}
{% block pagehead %} <h1>Give Up FLowSpace</h1> {% endblock %}

{% block content %}
<div class="main">
	<h2> Approved flowspaces own by {{user.username}}</h2>
	{% for error in error_msg %}
	<p><font color="red">{{error}}</font></p>
	{% endfor %}
	<form name="input" action="/admin_manager/user_unreg_fs" method="post">{% csrf_token %}
	<table class="formtable">
	<tr><th></th><th>FlowSpace</th><th>Supervisor</th></tr>
	{% for fs in userfs %}
		<tr><td><input type="checkbox" name="verif_{{fs.id}}"/></td>
		<td>{{fs}}</td>
		<td>{{fs.approver}}</td>
		</tr>
	{% endfor %}
	</table>
	<h2> Pending flowspace requests by {{user.username}}</h2>
	<table class="formtable">
	<tr><th></th><th>FlowSpace</th><th>Administrator</th></tr>
	{% for fs in reqfs %}
		<tr><td><input type="checkbox" name="pend_{{fs.id}}"/></td>
		<td>{{fs}}</td>
		<td>{{fs.admin.first_name}} {{fs.admin.last_name}}({{fs.admin.username}})<br/>
		e-mail: {{fs.admin.email}}
		</td>
		</tr>
	{% endfor %}
	</table>
	<td><input type="submit" value="Unregister"/></td>
	</form>
</div>
{% endblock content %}
