{% extends "servers/servers_base.html" %}
{% load accessDict %}
{% block pagehead %}<h1>Add/Update VTServer.:</h1>{% endblock pagehead %}


{% block head %}

{% endblock %}

{% block content %}

<script src = "http://code.jquery.com/jquery-git.js"></script>

<script language="javascript">

function addHtmlInDiv(place,html){
    $(place).append(html);
}


function generateInputHtml(caption,name,id, type){
    return '<th>'+caption+'</th><td> <input name="'+name+'" id="'+id+'" type="'+type+'" />';
}
    
function addInterface() {
    addHtmlInDiv('.datainterfaces',"<tr>"); 
    addHtmlInDiv('.datainterfaces',generateInputHtml(" Interface name:","ifaceName","id_ifaceName","text"));
    addHtmlInDiv('.datainterfaces',generateInputHtml(" Switch ID:","switchID","id_switchID","text"));
    addHtmlInDiv('.datainterfaces',generateInputHtml(" Switch port:","port","id_port","text"));
    addHtmlInDiv('.datainterfaces',generateInputHtml("","idForm","id_idForm","hidden"));
    addHtmlInDiv('.datainterfaces',"</tr>"); 
}
</script>


<div class="main">
    {% if server %}

    <table class="separator-table">
    </table>
    {% else %}
    {% endif %}


    <form method="post" action="">{% csrf_token %}

        <table class="separator-table">
            <tr><td class="separator">General parameters</td></tr>
        </table>
        <table class="separator-table">
            <tr><td style="text-align:center;font-weight:bold">UUID:</td><td>{{ server.uuid }}</td></tr>
        {% for field in form %}
           {% if field.name == "virtTech" %}
                <tr><td>&nbsp;</td></tr>
           {% endif %}
           {% if field.name == "vmMgmtIface" %}
                </tr>
                </table>
                <table class="separator-table">
                    <tr><th colspan ="2">{{field.errors}}</th></tr>
                    <tr><td class="separator">Management Interface parameters</td></tr>
                </table>
                <div id="separator" style= "width:100%; padding-left:40px; ">        
                    <table class="formtable_noborder">
           {% endif %}
            <tr><th colspan ="2">{{field.errors}}</th></tr>
           <tr><th> {{ field.label_tag }}:</th><td> {{ field }}</td></tr>
        {% endfor %}
                    </table>    
            </div>
               <table class="separator-table">
                        <tr><td class="separator">Server Data Interfaces</td></tr>
                </table>
           <div >
            <table class="datainterfaces">
            {% if ifaceforms|length > 0 %}
            <tr><td/><td/><td/><td/><td/><td/><td>Delete</td></tr>
            {% else %}
            <tr> All the Server Data Interfaces has been deleted, add the convenient ones </tr>
            {% endif %}
           {% for ifaceform in ifaceforms%}
                <tr>
                {{ ifaceform.fields_hidden}}
                {% for field in ifaceform %}
                    {%if field.name == "idForm" %}
                        {{field.as_hidden }}
                    {% endif %}
                    {%if field.name == "port" %} 
                    <th> {{ field.label_tag }}:</th><td> {{ field }}</td><td><input type="checkbox" name="delIface" value={{ifaceform.instance.id}}></td>
                    {% endif%}
                    {% if field.name != "idForm" and field.name != "port" %}
                    <th> {{ field.label_tag }}:</th><td> {{ field }}</td>
                    {% endif %}
                {% endfor %}
                </tr>
            {% endfor %}
            </table>
            </br>
            <div align="right">
            <INPUT type="button" value="Add Interface" onclick="addInterface()"/> 
            </div>
           </div>
        </tr>
 
        </table>
        <div class="center">
            <input type="submit" value="Save" /> | 
            {% if server %}
            <a href="{% url delete_server server.id %}">Delete</a> |
            {% endif %} 
            <a href="{% url dashboard %}">Cancel</a>
        </div>
    </form> 
   {% if server %} 
    <h1>VMs in {{ server.name }}</h1>
    {% if not server.vms.all %}
        {{ server.name }} has no VMs at the moment
    {% else %}    
    <table class="servers">
        <tr>
            <th> Name</th>
            <th> Memory</th>
            <th> OS Type</th>
            <th> OS Dist</th>
            <th> OS Version</th>
            <th> Project</th>
            <th> Slice</th>
            <th> Status</th>
            <th> Actions </th>
        </tr>
        {% for vm in server.vms.all %}
          <tr class = "{% cycle 'odd' 'even' %}">
            <td><a href="{% url action_vm server.id vm.id "list"%}">{{ vm.name }}</a></td>
            <td> {{vm.memory}}</td>
            <td> {{vm.operatingSystemType }}</td>
            <td> {{vm.operatingSystemDistribution }}</td>
            <td> {{vm.operatingSystemVersion }}</td>
            <td> <span title = "uuid: {{vmProjects|dictKeyLookup:vm.projectName}}">{{vm.projectName }}</span></td>
            <td> <span title = "uuid: {{vmSlices|dictKeyLookup:vm.sliceName}}">{{vm.sliceName }}</span></td>
            <td> {{vm.state }}</td>
            <td>
                {% if vm.state == "running" %}
                <a href="{% url action_vm server.id vm.id "stop" %}">Stop</a> | <a href="{% url action_vm server.id vm.id "reboot"%}">Reboot</a>
                {% endif %}
                {% if vm.state == "stopped" %}
                <a href="{% url action_vm server.id vm.id "start"%}">Start</a> | <a href="{% url action_vm server.id vm.id "delete"%}">Delete</a>
                {% endif %}
                {% if vm.state == "created (stopped)" %}
                <a href="{% url action_vm server.id vm.id "start"%}">Start</a> | <a href="{% url action_vm server.id vm.id "delete"%}">Delete</a>
                {% endif %}
                {% if vm.state == "failed" %}
                <a href="{% url action_vm server.id vm.id "check_status" %}">Check status</a> 
                {% endif %}

            </td>
        </tr>
       {% endfor %}
     </table>   
     {% endif %}
     {% endif %}

</div>
{% endblock content %}

