{% extends "base.html" %}
{% load breadcrumbs %}

{% block title %}Create Role in Project {{ project.name }}{% endblock %}

{% block head %}
<script>
	$(document).ready(function() {
		addTooltipToClass("perm_desc");
	});
</script>
{% endblock %}

{% block content %}
<div class="main">
	<h1>Create Role in Project {{ project.name }}</h1>
	Here you can create new roles in the project. Select the permissions
	you would like users with this role to have, select a unique name
	for the role in the project, add a description, and save.
	
	<form class="form" action="" method="POST">{% csrf_token %}
		{{ form.as_p }}
		<div class="center">
			<input type="submit" value="Create" />
			<input type="button" value="Cancel" onclick="document.location='{% before_last_link breadcrumbs %}'"/>
		</div>
	</form>
</div>
{% endblock %}
