{% extends "base.html" %}

{% block content %}
<div class="main">
	<h1>Permission Denied</h1>
	You have tried to do something that you don't have permission for.
	If you want to, you can request the permission by asking for a role
	that allows you to perform that action. To do so, select a role
	below, and a user to make the request to. You should also include
	a message with information to help the recipient decide whether
	or not to grant you the role.
	<form class="form" action="." method="POST">{% csrf_token %}
		{{ form.as_p }}
		<div class="center">
	    	<input type="submit" value="Request" />
	    	<!--<a href="{{ cancel_url }}">Cancel</a>-->
			<input type="button" value="Cancel" onclick="document.location='{{ cancel_url }}'"/>
    	</div>
    </form>
</div>
{% endblock %}
