<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="{% url css_media 'egeni.css' %}" />

		<title>
			{% block title %}GENI Opt In Manager{% endblock %}
		</title>
		{% block scripts %}{% endblock %} 
	</head>
	<body>
            <br/>
            <table bgcolor="#EEEEEE" width="800" border="0" align="center" cellpadding="3" cellspacing="0">
            <tr>
		<td align="left">
                    <img src="{% url img_media 'genilogo.png' %}" />
		</td>
		<td>
                    <div align="right" style="position: relative; top: 19px;">

                    </div>
		</td>
            </tr>
            </table>

            <div id="page">
		<div id="content">
                    {% block content %}{% endblock %}
		</div>
            </div>

            <div id="footer">
                (c) in 2009 by Stanford University. This software is licensed under the GENI License.
            </div>
	</body>
</html>
