{% extends "base.html" %}
{% load i18n %}

{% block messages %}{% endblock %}

{% block content %}

<h2>Welcome to Expedient!</h2>

<div class="login">
	<form method="post" action=".">{% csrf_token %}
		<table id="login_table">
			{{ form.as_table }}
		</table>
		<div>
			<input type="submit" value="Log in" />
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

<!--<table class="login_password_control">
	<tr>
	   <td>{% trans "Forgot your password" %}?</td>
	   <td><a href="{% url my_password_reset %}">{% trans "Reset it" %}</a>!</td>
	</tr>
	{% if allowLocalRegistration == 1 %}
	<tr>
	   <td>{% trans "Not a member" %}?</td>
	   <td><a href="{% url registration_register %}">{% trans "Register" %}</a>!</td>
	 </tr>
	{%endif%}
</table>-->
{% endblock %}
