{% extends "base.html" %}
{% load i18n %}

{% block messages %}{% endblock %}

{% block content %}

<h1>Log in</h1>

<div class="login">
	<form class="form" method="post" action=".">{% csrf_token %}
		{{ form.as_p }}
		<div>
			<input type="submit" class="centered" value="Log in" />
		</div>
		<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

<table class="centered" style="margin-top: 1em !important;">
	<tr>
	   <td>{% trans "Forgot your password" %}?</td>
	   <td><a href="{% url my_password_reset %}">{% trans "Reset it" %}</a>!</td>
	</tr>
	{% if allowLocalRegistration == 1 %}
	<tr>
	   <td>{% trans "Not a member" %}?</td>
	   <td><a href="{% url registration_register %}">{% trans "Register" %}</a>!</td>
	 </tr>
	{%endif%}
</table>
{% endblock %}
