<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
{% comment %}
		<link rel="stylesheet" type="text/css" href="/css/egeni.css" />
{% endcomment %}
		<title>
			{% block title %}GENI Clearinghouse{% endblock %}
		</title>
		{% block scripts %}{% endblock %} 
	</head>
	<body>
		<br/>
{% comment %}
		<table bgcolor="#EEEEEE" width="800" border="0" align="center" cellpadding="3" cellspacing="0">
			<tr>
				<td align="left">
					<img src="/img/genilogo.png" />
				</td>
				<td>
					<div align="right" style="position: relative; top: 19px;">
 						<a href="/clearinghouse/"><img src="/img/dashboard.png" alt="Dashboard" border="0" /></a><a 
							href="{% url slice_home %}"><img src="/img/slice.png" alt="Slice Control Panel" border="0" /></a><a 
							href="{% url password_change %}"><img src="/img/account.png" alt="Account Settings" border="0" /></a><a 
							href="/clearinghouse/help/"><img src="/img/help.png" alt="Help" border="0" /></a><a 
							href="/accounts/logout/"><img src="/img/logout.png" alt="Logout" border="0" /></a>
					</div>
				</td>
			</tr>
		</table>
{% endcomment %}
		<div id="page">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">
			(c) in 2009 by Stanford University. This software is licensed under the GENI License.
		</div>
	</body>
</html>
