{% extends "vt_plugin_base.html" %}

{% block title %}Add Virtual Machine at server {{ server_name }}.{% endblock title %}

{% block head %}
{% endblock %}

{% block content %}
<div class="main">
	<h1>Create a new Virtual Machine in server <span class="highlight">{{ server_name }}</span></h1>
	
	<form method="post" action="">{% csrf_token %}
    	{{ formset.management_form }}
		{% for form in formset.forms %}
            <table class="separator-table">
                <tr class="error"><th/>
                    <td id="error_td">
                    {% if exception != "" %}    
                        <ul class="error"><li>{{ exception }}</li></ul>
                    {% endif %}
                    </td>
                </tr>
                {% for field in form %}
                {% if field.name != "resource_ptr"%}
                <tr> <th> {{ field.label_tag }}:</th><td> {{ field }}</td></tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
		<div id = "buttons" class="center"> 
			<input type="submit" id="form_create_VM" name="create_new_vms" value="Done" /> |
			<a href="{% url slice_detail slice.id %}">Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}
