{% extends "vt_plugin_base.html" %}

{% block title %}Add Virtual Machine at server {{ server_name }}.{% endblock title %}

{% block head %}

<script>
    function checkNameBlanks(){
        //alert("checkBlancks");
        reWhiteSpace = new RegExp(/\s/);
        var str = document.getElementById("id_form-0-name").value;
        if (reWhiteSpace.test(str)) {
            $("#error_td").replaceWith("<td id = \"error_td\" >· Check the VM name has no white spaces</td>");
            return false;
        }
        return true;
     }
</script>

{% endblock %}

{% block content %}
<div class="main">
	<h1>Create a new Virtual Machine in server <span class="highlight">{{ server_name }}</span></h1>
	
	<form method="post" action="">{% csrf_token %}
    	{{ formset.management_form }}
		{% for form in formset.forms %}
            <table class="separator-table">
                <tr class="error"><th/><td id = "error_td" ></td></tr>
                {% for field in form %}
                {% if field.name != "resource_ptr"%}
                <tr> <th> {{ field.label_tag }}:</th><td> {{ field }}</td></tr>
                {% endif %}
                {% endfor %}
            </table>
        {% endfor %}
		<div id = "buttons" class="center"> 
			<input type="submit" name = "create_new_vms" value="Done" onClick="return checkNameBlanks()"/> |
			<a href="{% url slice_detail slice.id %}">Cancel</a>
		</div>
	</form>
</div>
{% endblock content %}
