{% extends "base.html" %}

{% block scripts %}
<style>
  td.expname {
    width: 500px;
  }
  </style>
  {% endblock %}
  
  
{% block content %}
<div class="main">
	<div align="right">
		<a href="/dashboard">Dashboard</a><br/>
	</div>
	{% for msg in error_msg %}
		<p><font color="red">{{msg}}</font></p>
	{% endfor %}
	<form name="input" action="/opts/opt_out" method="post">{% csrf_token %}
	<table class="formtable">
	<tr><th></th><th><center>Experiment</center></th><th>Strict</th></tr>
	{% for opt in allopts %}
		<tr>
		<td><input type="checkbox" name="{{opt.id}}"/></td>
		<td class="expname"><center>
		{{opt.experiment.project_name}}:{{opt.experiment.slice_name}}</center></td>
		{% if opt.nice %}
		<td>No</td>
		{% else %}
		<td>Yes</td>
		{% endif %}
		</tr>
	{% endfor %}
	</table>
	<td><input type="submit" value="Opt Out"/></td>
	</form>
</div>
{% endblock content %}
