{% extends "base.html" %}
{% block content %}
<div class="main">
	<h2>Approve User Flowspace Requests</h2>
	<div align="right">
		<a href="/dashboard">Dashboard</a><br/>
	</div>	
	
	<table class="formtable">
	<tr><th>User</th><th>Requested Flowspace</th><th>Action</th></tr>
	{% for req in reqs %}
	<tr>
	<td>{{req.user}}</td>
	<td>{{req}}</td>
	<td><form name="input" 
			action="/admin_manager/approve_user/{{req.id}}/approve"
			method="post">{% csrf_token %}
			<input type="submit" value="Approve"/>
			</form>
	</td>
	<td><form name="input" 
			action="/admin_manager/approve_user/{{req.id}}/reject"
			method="post">{% csrf_token %}
			<input type="submit" value="Reject"/>
			</form>
	</td>
	
	</tr>
	
	{% endfor %}
	</table>
	
{% endblock content %}	