{% extends "base_admin.html" %}
{% block pagehead %} <h1>Approve User Flowspace Requests</h1> {% endblock %}

{% block content %}
<div class="main">

	<form name="input" action="/admin_manager/approve_user" method="post">
	{% csrf_token %}
	<table class="formtable">
	<tr><th>Reject</th><th>Defer</th><th>Accept</th><th>User</th><th>Requested Flowspace</th></tr>
	{% for req in reqs %}
	<tr>
	<td>
		<input type="radio" name="req_{{req.id}}" value="reject"/>
	</td>
	<td>
		<input type="radio" name="req_{{req.id}}" value="none" checked="yes"/>
	</td>
	<td>
		<input type="radio" name="req_{{req.id}}" value="accept"/>
	</td>
	<td>{{req.user}}</td>
	<td>{{req}}</td>
	</tr>
	{% endfor %}
	</table>
	<input type="submit" value="Submit"/>
	</form>
	
</div>
{% endblock content %}	