{% extends "base_user.html" %}
{% block scripts %}
<script type="text/javascript">
function clicked(){
window.location="/dashboard"
}
</script>
{% endblock %}
{% block content %}
<div class="main">
	{% if approved %}
	<b>{{user.username}}</b>,
	Your flowspace registration request has been submitted and automatically approved by admin.<br/>
	{% else %}
	<b>{{user.username}}</b>,
	Your flowspace registration request is submitted successfully and waiting for admin approval.<br/>
	{% endif %}
	<br/>
	<center>
	<button type=button onClick="clicked()">OK</button>
	</center>
	
</div>
{% endblock content %}