{% extends "base.html" %}
{% block scripts %}
<script type="text/javascript">
function clicked(){
window.location="/dashboard"
}
</script>
{% endblock %}
{% block content %}
<div class="main">
	<div align="right">
		<a href="/dashboard">Dashboard</a><br/>
	</div>
	You will lose all the flowspaces you own as admin and all the rules you added
	will be canceled. Are you sure, you want to resign? <br>
	<form name=input action="/admin_manager/resign_admin" method="post">{% csrf_token %}
	<input type="submit" value="Yes"/><button type=button onClick="clicked()">No</button>
	</form>
	
</div>
{% endblock content %}