{% extends "base.html" %}

{% block content %}
<div class="main">
	<div align="right">
	<a href="/dashboard">
		<img src="{% url img_media 'dashboard_dark.png' %}" alt="dashboard" class="dashboard"/>
	</a>
	</div>
	<h2> Approved flowspaces own by {{user.username}}
	<form name="input" action="/admin_manager/user_unreg_fs" method="post">{% csrf_token %}
	<table>
	<tr><th></th><th>FlowSpace</th><th>Approved By</th></tr>
	{% for fs in userfs %}
		<tr><td><input type="checkbox" name="verif_{{fs.id}}"/></td>
		<td>{{fs}}</td>
		<td>{{fs.approver}}</td>
		</tr>
	{% endfor %}
	</table>
	<h2> Pending flowspace requests
	<table>
	<tr><th></th><th>FlowSpace</th><th>Administrator</th></tr>
	{% for fs in reqfs %}
		<tr><td><input type="checkbox" name="pend_{{fs.id}}"/></td>
		<td>{{fs}}</td>
		<td>{{fs.dmin.username}}</td>
		</tr>
	{% endfor %}
	</table>
	<td><input type="submit" value="Unregister"/></td>
	</form>
</div>
{% endblock content %}
