{% extends "base.html" %}

{% block content %}
<div class="main">
	<h2> Set Clearinghouse User Information </h2>
	<div align="right">
		<a href="/dashboard">Dashboard</a><br/>
	</div>	
	<form name="input" action="/controls/set_clearinghouse" method="post">
	{% csrf_token %}
	<table>
	<tr><td><label>First Name</label></td>
	<td><input type="text" name="first_name" value=
		"{%if already_exist %}{{profile.user.first_name}}{% endif %}"/>
	</td></tr>
	<tr><td><label>Last Name</label></td>
	<td><input type="text" name="last_name" value=
		"{%if already_exist %}{{profile.user.last_name}}{% endif %}"/>
	</td></tr>
	<tr><td><label>E-mail</label></td>
	<td><input type="text" name="email" value=
		"{%if already_exist %}{{profile.user.email}}{% endif %}"/>
	</td></tr>
	<tr><td><label>Username</label></td>
	<td><input type="text" name="username" value=
		"{%if already_exist %}{{profile.user.username}}{% endif %}"/>
	</td></tr>
	<tr><td><label>Password</label></td>
	<td><input type="password" name="password" value=
		"{%if already_exist %}{{profile.user.password}}{% endif %}"/>
	</td></tr>
	<tr><td><input type="submit" value="submit" /></td>
	</tr>
	</table>
	</form>
</div>
{% endblock content %}