exclude src/python/openflow/clearinghouse/localsettings.py
exclude src/python/expedient/clearinghouse/secret_key.py
exclude src/python/openflow/optin_manager/localsettings.py
exclude src/python/openflow/optin_manager/secret_key.py
recursive-include src/templates *.html *.js *.css *.wsgi *.png *.jpg *.html *.xml *.conf *.txt *.pxm
recursive-include src/static *.html *.js *.css *.wsgi *.png *.jpg *.html *.xml *.conf *.txt *.pxm
recursive-include src/wsgi *.html *.js *.css *.wsgi *.png *.jpg *.html *.xml *.conf *.txt *.pxm
recursive-include src/doc *.html *.js *.css *.wsgi *.png *.jpg *.html *.xml *.conf *.txt *.pxm
recursive-include src/config *.html *.js *.css *.wsgi *.png *.jpg *.html *.xml *.conf *.txt *.pxm
recursive-exclude src/python/openflow/tests *.*
recursive-include src/python/openflow/tests/manual_test *.*
recursive-include src/python/openflow/tests/om *.*
recursive-include src/python/openflow/tests/omctl *.*
recursive-exclude src/python/openflow/dummyom *.*
