{% load breadcrumbs %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			OFELIA - {% block title %}Expedient{% endblock %}
		</title>
		<meta charset="UTF-8">

		<link rel="icon" href="{% url img_media 'favicon.ico' %}" type="image/x-icon">
		<link rel="shortcut icon" href="{% url img_media 'favicon.ico' %}" type="image/x-icon">

		<link rel="stylesheet" href="{% url css_media 'ocf.css' %}" />
		<link rel="stylesheet" href="{% url css_media 'tooltip.css' %}" />
		<link rel="stylesheet" href="{% url css_media 'notifications.css' %}" />

		<script src="{% url js_media 'jquery.min.js' %}"></script>
		<script src="{% url js_media 'jquery.tools.min.js' %}"></script>
		<script src="{% url js_media 'tooltip.funcs.js' %}"></script>
		<script src="{% url js_media 'common.js' %}"></script>
		<script src="{% url js_media 'iframe.js' %}"></script>
		<script src="{% url js_media 'base.helptext.icons.js' %}"></script>

		<!-- simple frame busting -->
		<script>
			/**
			 * Move the help text in formtable classes to a new separate column.
			 */
			$(document).ready(function() {
				/* find help text and replace with image and tooltip */
				$("table.formtable_noborder>tbody>tr>td:nth-child(2)")
				    {% include "fixformtable.js" %};

				$("table.formtable>tbody>tr>td:nth-child(2)")
				    {% include "fixformtable.js" %};

				$("table.formtable_noborder>tbody>tr>td:nth-child(3)")
				    {% include "fixformtable.js" %};

				$("table.formtable>tbody>tr>td:nth-child(3)")
				    {% include "fixformtable.js" %};
			});
		</script>
		<script src="{% url js_media 'flowspace.helptext.icons.js' %}"></script>

		{% block head %}{% endblock %}
	</head>
	<body>
		<header>
			<div style="text-align: left; position: absolute; margin-left: 59px;">
				<a href="{% url home %}" title="Dashboard">
					<img src="{% url img_media 'logo_expedient.png' %}" />
				</a>
			</div>
			<div id="top_island" class="small" style="position: absolute; margin-top: 0px; right: 0px; align: right; float: right; text-align: right;">
				{% if request.user %}
					{% if request.user.username %}
						<strong>{{ request.user.username }}</strong> at 
					{% endif %}
					<strong>{{islandName}} </strong>'s island (<strong>v{{softwareVersion}}</strong>)
				{% endif %}
			</div>
			<div id="top_menu_options">
				<ul>
				{% if request.user.username %}
					<li>
						<a href="{% url home %}" alt="Dashboard">Dashboard</a>
					</li>
					{# Loads Jinja filters for ch_extras - in order to check superuser #}
					{% load ch_extras %}
					{% if request.user|is_super_user %}
						<li>
							<a href="{% url administration_home %}" alt="Administration">Administration</a>
						</li>
					{% endif %}
					{% if messages %}
						<li>
							<a href="{% url messaging_center %}" alt="Notifications">Notifications</a>
						</li>
					{% endif %}
					<li>
						<a href={%if ldapUser %}"{{ ofregURL }}"{% else %}"{% url users_my_detail %}"{% endif %} alt="Account settings">Account</a>
					</li>
					<li>
						<a href="{% url help_home %}">Help</a>
					</li>
					<li>
						<a href="{% url auth_logout %}">Logout</a>
					</li>
				{% else %}
					{% if allowLocalRegistration == 1 %}
						<li>
							<a href="{% url auth_login %}">Log in</a>
						</li>
						<li>
							<a href="{% url registration_register %}">Register</a>
						</li>
						<li>
							<a href="{% url my_password_reset %}">Password reset</a>
						</li>
					{% endif %}
				{% endif %}
				</ul>
			</div>
		</header>

		<div id="page">
			<div id="content">
                {% if request.user.username %} 
                <nav style="background-image: url({% url img_media 'navigation.png' %});">
                    {% breadcrumbs %}
                </nav>
                {% endif %}
				{% block messages %}
					{% if messages %}
						<div id="messages" class="message_notification_center_snippet">
							{% for msg in messages %}
							<p class="{{ msg.type }} {% if forloop.first %}new_message {% else %}{% if forloop.counter == 2 %}not_that_old_message{% else %}old_message{% endif %}{% endif %}" style='background-image:
								{% ifequal msg.type "error" %}
								    url({% url img_media 'msg_error.png' %});
                                                                {% endifequal %}	
                                                                {% ifequal msg.type "success" %}
                                                                    url({% url img_media 'msg_success.png' %});
                                                                {% endifequal %}
                                                                {% ifequal msg.type  "warning" %}
                                                                    url({% url img_media 'warning.png' %});
                                                                {% endifequal %}
                                                                {% ifequal msg.type  "announcement" %}
                                                                    url({% url img_media 'msg_announcement.png' %});
                                                                {% endifequal %}
                                                                {% ifequal msg.type  "info" %}
                                                                    url({% url img_media 'msg_info.png' %});
                                                                {% endifequal %}
                                                                {% ifequal msg.type  "user2user" %}
                                                                    url({% url img_media 'msg_user2user.png' %});
                                                                {% endifequal %}'>
								{{ msg.msg_text }}

							</p>
							{% endfor %}
						</div>
					{% endif %}
				{% endblock %}
				{% block content %}{% endblock %}
			</div>
		</div>

		<footer>
			Expedient by <a href="http://yuba.stanford.edu/~jnaous/expedient/" target="_blank">Stanford University</a> and <a href="http://www.i2cat.net/">i2CAT foundation</a>
			&copy; 2011-2013 <a href="http://www.fp7-ofelia.eu/" target="_blank">FP7 OFELIA project</a> &amp; <a href="http://www.fibre-ict.eu/" target="_blank">FP7 FIBRE project</a>. <br/>
			 OFELIA and FIBRE are funded by the European Comission (EC) in the 7th framework programme and supported by the <a href="http://cordis.europa.eu/fp7/ict/fire/" target="_blank">FIRE initiative</a><br/>
		</footer>
		<!-- Highlights selected links from top menu -->
		<script>
			isSelectedLink('#top_menu_options ul a', '{{request.META.PATH_INFO}}');
		</script>
		<!-- Validation in the end waits for the forms to be loaded -->
		<script src="{% url js_media 'validation.js' %}"></script>
	</body>
</html>
