{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{% url css_media 'project.css' %}" />
{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
<div class="main">

	{% if messages %}
	<h2>Messages & Logs</h2>
	<div style="margin-top: 20px;">
		<table class="message_notification_center_snippet">
			{% for msg in messages %}
			<tr class="{{ msg.type }} {% if forloop.first %}new_message {% else %}{% if forloop.counter == 2 %}not_that_old_message{% else %}old_message{% endif %}{% endif %}">
				<td> {%if msg.get_type_display == 'From User'%}From user<strong> {{msg.sender}}: </strong> {%endif%} {{ msg.msg_text }}</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	{% endif %}
    
    <h2>Projects</h2>
    <div id="projects_list" class="ajax_div projects_div"></div>
</div>

<script>
	/* Asynchronous calls to insert data into different layers */
	$.get("{% url project_list %}", function(data) {
		$("#projects_list").html(data);
	});
</script>
{% endblock content %}
