{% extends "base_user.html" %}

{% block pagehead %} <h1>Promote To Admin</h1> {% endblock %}

{% block scripts %}
<style>
  select {
    width: 400px;
  }
  textarea {
  	width: 500px;
  	height: 150px
  }
</style>
{% endblock %}

{% block content %}
<div class="main">
	{% for msg in error_msg %}
	<p><font color="red">{{msg}}</font></p>
	{% endfor %}
	{% if req_exist %}
		<form name="input" action="/admin_manager/delete_promote_to_admin" method="post">{% csrf_token %}
		You have one outstanding request to <b>{{req_position}}</b>
		<input type="submit" value="Delete Request"/><br/><br/>
		</form>
	{% endif %}
	<form name="input" action="/admin_manager/promote_to_admin" method="post">{% csrf_token %}
		Supervisor: <select name="supervisor">
		{% for admin in admins %}
		<option value="{{admin.id}}" {% if admin.id == req_admin.id %}SELECTED{% endif %}>
			{{admin.admin_position}}({{admin.user.first_name}} {{admin.user.last_name}})
		</option>
		{% endfor %}
		</select>
		<br/><br/>
		Requested Position: <input type="text" name="req_position" value="{{req_position}}"/>
		<br/><br/>
		(optional) Message to the Admin:<br/>
		<textarea name="text">{{text}}</textarea>
		<br/>
		<input type="submit" value="Submit Request"/>
	</form>
</div>
{% endblock content %}