     <table class="vms">
            <tr class="header">
            <th>VM Name</th>
            <th>State</th>
            <th>OS</th>
            <th>Memory</th>
            <th>Mgmt IP</th>
            <th style="text-align:center">Actions</th>
            </tr>
            {% for vm in server.vms.all %}
            {% if vm.sliceId == slice.uuid %}
                <tr class = "{% cycle 'odd' 'even' %}">
                  <td>
                    {{ vm.name }}
                  </td>
                   
                  <td id = td_vm{{vm.id}}>
                    {{ vm.state }}
                  </td>
                   <td>
                    {{ vm.operatingSystemType }}
                     {{vm.operatingSystemDistribution}} ({{vm.operatingSystemVersion}})
                  </td>
                  <td>
                    {{ vm.memory }}
                  </td>
                    <td>
                       {% for iface in vm.ifaces.all %}
                            {% if iface.isMgmt == 1 %}
                                {{iface.ip}}
                            {% endif %}
                       {% endfor %}
                    </td>
              <td id = td_vm_actions{{vm.id}} style="text-align:center">
                    <div>
                    {% if vm.state == "running" %}
                        <a href="{% url manage_vm slice.id vm.id "reboot"%}">Reboot</a> |
                        <a href="{% url manage_vm slice.id vm.id "stop"%}">Stop</a>
                    {% endif %}
                    {% if  vm.state == "created (stopped)"%}
                        <a href="{% url manage_vm slice.id vm.id "start"%}">Start</a> |
                        <a href="{% url manage_vm slice.id vm.id "delete"%}">Delete</a>
                    {% endif %}
                    {% if vm.state == "stopped"%}
                        <a href="{% url manage_vm slice.id vm.id "start"%}">Start</a> |
                        <a href="{% url manage_vm slice.id vm.id "delete"%}">Delete</a>
                    {% endif %}
                    </div>
                </td>
                </tr>
            {% endif %}
            {% endfor %}
           </table>

