{% extends "base.html" %}
{% load ch_extras %}

{% block head %}

<script type="text/javascript">
        jQuery(document).ready(function() {
                //jQuery(".expandable").hide();
         
                jQuery(".expandableCtl").click(function()
                {
                        elementName = "#"+$(this).attr('id')+"Container";
                        jQuery("#"+$(this).attr('id')+"Container").slideToggle(250);
                        if(jQuery("span", this).attr("class") == "closed"){
                                jQuery("span", this).html(" &#x25B2;");
                                $('html, body').animate({scrollTop: $(elementName).offset().top-150}, 200);
                        }else{
                                jQuery("span", this).html(" &#x25BC;");
                        }
                        jQuery("span", this).toggleClass("opened closed");
                });
        });

	$(document).ready(function() {
		$("#aggs_help_img").tooltip({
			tip: "#aggs_help_div"
		});
		$(".expandableTooltipable").tooltip({
			tip: "#expandableHelp"
		});
}); 

</script>

<style>
    table.openflow,table.planetlab {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        /*border: 1px solid #CCC;*/
    }
    table.openflow .dpid,.ports {
        border-bottom: 1px solid #000;
	border-color: #555555;
    }
    table.connections_table {
        border-width: 0px;
        width: 100%;
    } 
    table.openflow td {
        border-spacing: 0px;
        padding: 0px;
        border-collapse: collapse;
    }
    td.select_checkbox {
        width: 24px;
    }
    table.connections {
        width: 440px;
    }
    tr.even {
        background-color: #dfd7f4;
    }
    tr.odd {
        background-color: #ecf4d7;
    }
    td.connected {
        font-weight: bold;
    }
    
    td.port_num {
        width: 45px;
    }
    div.steps {
        padding: 4px;
        font-weight: bold;
    }
</style>

<script>
/* boldface connected interfaces */
$(document).ready(function(){
    redrawNodes();
    $(":checkbox[name=selected_ifaces]:checked").each(function(){
        iface_id = $(this).attr("value");
        $(".neighbor_"+iface_id).addClass("connected");
        $(".iface_"+iface_id).addClass("connected");
    });
    $(":checkbox[name=selected_ifaces]").click(function (){
        iface_id = $(this).attr("value");
        $(".iface_"+iface_id).toggleClass("connected");
        $(".neighbor_"+iface_id).toggleClass("connected");
        tick();
	redrawNodes();
    });
    $(":checkbox[name=selected_nodes]:checked").each(function(){
        node_id = $(this).attr("value");
        $(".neighbor_rsc_"+node_id).addClass("connected");
        $(".rsc_"+node_id).addClass("connected");
    });
    $(":checkbox[name=selected_nodes]").click(function (){
        node_id = $(this).attr("value");
        $(".rsc_"+node_id).toggleClass("connected");
        $(".neighbor_rsc_"+node_id).toggleClass("connected");
	tick();
        redrawNodes();
    });
    $("input[name=clear_button]").click(function (){
        $(":checked").click();
	redrawNodes();
    });
    $("input[name=select_all_button]").click(function (){
        $(":checkbox:not(:checked)").click();
    });
    
    $("input[name=select_tree_button]").click(function (){
        $(":checked").click();
        $(":checkbox.in_tree").click();
    });

    link.on("mouseover", function(d) {
                values = getLinkStyle(d,"mouseover");
                d3.select(this).style("stroke", values["stroke"]);
                d3.select(this).style("stroke-width", values["strokewidth"]);
        })
     link.on("mouseout", redrawNodes);

})
</script>

{% endblock %}

{% block content %}
<div class="steps center">
    1. <a href="{% url html_plugin_bookOpenflow slice.id %}">Select OpenFlow Ports</a>
    2. <a href="{% url html_plugin_flowspace slice.id %}">Select Flowspace</a>
</div>

{% include "html/topology.html" %}

<br />
<br />

<div class="tooltip" id="expandableHelp" style="font-size:normal"> Click on the arrow to expand/collapse</div>

<form action="" method="POST">{% csrf_token %}
{% if planetlab_aggs %}
<h1>Select PlanetLab Nodes</h1>
{% endif %}

{% for agg in planetlab_aggs %}
<h2>
	<a id="ofam_{{agg.id}}" class="expandableTooltipable expandableCtl" ref="#/">
	&bull; PlanetLab Aggregate {{ agg.name }}<span class="opened"> &#x25B2;</span>
	</a>
</h2>
<div id="am_location">
	Aggregate physical location: <b>{{ agg.location }}.</b>
</div>
<div id="plam_{{agg.id}}Container" class="aggregateManager expandable">
  <table class="planetlab">
    <tr class="header">
      <th class="select_checkbox"></th>
      <th class="hostname">Hostname</th>
      <th class="connections">Connections</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:planetlab_node_class %}
    {% with rsc.as_leaf_class as node %}
    <tr class="body planetlab {% cycle 'odd' 'even' %}">
      <td class="select_checkbox">
    <input type="checkbox" name="selected_nodes"
           value="{{ node.id }}" id="rsc_id_{{ node.id }}"
           class="node_id_{{ node.id }} {% if node.id in tree_rsc_ids %}in_tree{% endif %}"
           {% if node.id in checked_ids %}checked{% endif %} />
      </td>
      <td class="hostname rsc_{{ rsc.id }}"><a name="rsc_{{ rsc.id }}">{{ node.name }}</a></td>
      <td class="connections">
    <table class="connections">
      {% for cnxn in rsc.openflow_connections.all %}
      {% with cnxn.of_iface as neighbor %}
      <tr>
        <td class="neighbor neighbor_{{ neighbor.id }}">
          Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
        {{ neighbor.switch.datapath_id }}</a>
          at port <a href="#iface_{{ neighbor.id }}">
        {{ neighbor.port_num }}</a>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}

{% if openflow_aggs %}
<h1>Select OpenFlow Resources</h1>
{% endif %}

{% for agg in openflow_aggs %}
<h2>
	<a id="ofam_{{agg.id}}"class="expandableTooltipable expandableCtl" ref="#/">
	&bull; OpenFlow Aggregate {{ agg.name }}<span class="opened"> &#x25B2;</span>
	</a>
</h2>
<div id="am_location">
Aggregate physical location: <b>{{ agg.location }}.</b>
</div >
<div id="ofam_{{agg.id}}Container" class="aggregateManager expandable">
  <table class="openflow">
    <tr class="header">
      <th class="dpid">Datapath ID</th>
      <th class="ports">Connections (Port and Remote Port)</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:ofswitch_class %}
    {% with rsc.as_leaf_class as switch %}
    <tr class="body openflow">
      <td class="dpid"><a name="switch_{{ switch.id }}">{{ switch.datapath_id }}</a></td>
      <td class="ports">
    <table class="connections_table">
      {% for iface in switch.openflowinterface_set.all %}
      <tr class="body {% cycle 'odd' 'even' %}">
        <td class="select_checkbox">
          <input type="checkbox" name="selected_ifaces" 
          value="{{ iface.id }}" id="rsc_id_{{ iface.id }}"
          class="node_id_{{ switch.id }} {% if iface.id in tree_rsc_ids %}in_tree{% endif %}"
          {% if iface.id in checked_ids %}checked{% endif %} />
        </td>
        <td class="port_num iface_{{ iface.id }}"><label for = "rsc_id_{{ iface.id }}">Port <a name="iface_{{ iface.id }}">{{ iface.port_num }}</a></label></td>
        <td class="connections">
          <table class="connections">
	{% for node in d3_nodes %}
		{% for conn in node.vmInterfaces %}
			{% if conn.switch ==  switch.datapath_id  and conn.port|safe == iface.port_num|safe %}
        <tr>
          <td class="neighbor neighbor_{{ iface.id }} server_node_{{node.value}}" value="{{iface.id}}">
            Connected to VMs hosted at<a href="#">
              {{ node.name }}</a> to the VM's interface  <a href="#">
              {{ conn.name }}</a>
          </td>
        </tr>
        		{% endif %}
        	{% endfor %}
        {% endfor %}
        {% for cnxn in iface.nonopenflow_connections.all %}
        <tr>
          <td class="neighbor neighbor_rsc_{{ cnxn.resource.id }}">
            Connected to <a href="#rsc_{{ cnxn.resource.id }}">
              {{ cnxn.resource.as_leaf_class }}</a>.
          </td>
        </tr>
        {% endfor %}
        {% for neighbor in iface.ingress_neighbors.all %}
        <tr>
          <td class="neighbor neighbor_{{ neighbor.id }}">
            Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
              {{ neighbor.switch.datapath_id }}</a>
            at port <a href="#iface_{{ neighbor.id }}">
              {{ neighbor.port_num }}</a>.
          </td>
        </tr>
        {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% empty %}
  <p>There are no OpenFlow aggregates in the slice. </p>
  {% endfor %}

  {% if openflow_aggs or planetlab_aggs %}
  <input type="submit" value="Next" />
  <input type="button" name="clear_button" value="Clear" />
  <input type="button" name="select_all_button" value="Select All" />
  <input type="button" name="select_tree_button" value="Select Tree" />
  {% endif %}
</form>


{% endblock content %}
