{% extends "base.html" %}
{% load ch_extras %}

{% block head %}
<style>
    table.openflow,table.planetlab {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        border: 1px solid #CCC;
    }
    table.openflow .dpid,.ports {
        border-bottom: 1px solid #000;
    }
    table.connections_table {
        border-width: 0px;
        width: 100%;
    } 
    table.openflow td {
        border-spacing: 0px;
        padding: 0px;
        border-collapse: collapse;
    }
    td.select_checkbox {
        width: 24px;
    }
    table.connections {
        width: 440px;
    }
    tr.odd {
        background-color: #ecf4d7;
    }
    td.connected {
        font-weight: bold;
    }
    
    td.port_num {
        width: 45px;
    }
    div.steps {
        padding: 4px;
        font-weight: bold;
    }
</style>

<script src="{% url js_media 'protovis-r3.2.js' %}"></script>
<script>
/* boldface connected interfaces */
$(document).ready(function(){
    $(":checkbox[name=selected_ifaces]:checked").each(function(){
        iface_id = $(this).attr("value");
        $(".neighbor_"+iface_id).addClass("connected");
        $(".iface_"+iface_id).addClass("connected");
    });
    $(":checkbox[name=selected_ifaces]").click(function (){
        iface_id = $(this).attr("value");
        $(".iface_"+iface_id).toggleClass("connected");
        $(".neighbor_"+iface_id).toggleClass("connected");
        vis.render();
    });
    $(":checkbox[name=selected_nodes]:checked").each(function(){
        node_id = $(this).attr("value");
        $(".neighbor_rsc_"+node_id).addClass("connected");
        $(".rsc_"+node_id).addClass("connected");
    });
    $(":checkbox[name=selected_nodes]").click(function (){
        node_id = $(this).attr("value");
        $(".rsc_"+node_id).toggleClass("connected");
        $(".neighbor_rsc_"+node_id).toggleClass("connected");
        vis.render();
    });
    $("input[name=clear_button]").click(function (){
        $(":checked").click();
    });
    $("input[name=select_all_button]").click(function (){
        $(":checkbox:not(:checked)").click();
    });
    
    $("input[name=select_tree_button]").click(function (){
        $(":checked").click();
        $(":checkbox.in_tree").click();
    });
})
</script>
{% endblock %}

{% block content %}
<div class="steps center">
    1. <a href="{% url html_plugin_home slice.id %}">Select Host and OpenFlow Resources</a>
    2. <a href="{% url html_plugin_flowspace slice.id %}">Select Flowspace</a>
</div>

<h1>Topology</h1>


<script type="text/javascript+protovis">


/* ProtoVIS data */    
var data = {
    nodes: [
        {% for node in protovis_nodes %}
        {nodeValue:"{{ node.value }}", nodeName:"{{ node.name }}", group:"{{ node.group }}"}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    links: [
        {% for link in protovis_links %}
        {source:{{ link.src }}, target:{{ link.target }}, value:"{{ link.value }}"}{% if not forloop.last %},{% endif %}
        {% endfor %}
	
    ],
}

/* Useful functions*/

function get_node_type(d) {
    var of_groups_len = {{ openflow_aggs.count }};
    var pl_groups_len = {{ planetlab_aggs.count }};
    var vt_aggs_len = {{ vt_aggs.count }};
    
    if(d.group < of_groups_len) {
        return "openflow";
    } else if(d.group < of_groups_len + pl_groups_len) {
        return "planetlab";
    } else if (d.group <(of_groups_len + pl_groups_len+vt_aggs_len)){
	return "vtserver"
    }else{
        return "unknown";
    }
}

/* On Click event functions */
function clickSwitchOrLink(d){
	 /* if all are selected then unselect all */
        selected_len = $(":checkbox:checked.node_id_"+d.nodeValue).length
        all_len = $(":checkbox:.node_id_"+d.nodeValue).length
        if(selected_len == all_len) {
            $(":checkbox:checked.node_id_"+d.nodeValue).click();
        }
        /* else, select all */
        else {
            $(":checkbox:not(:checked).node_id_"+d.nodeValue).click();
        }
}

function clickServer(d){

}

/* Zooming routines */

cur_zoom = 1;

function zoomIn(zoom) {
        cur_zoom = cur_zoom + zoom;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2));
        vis.render();
}

function zoomOut(zoom) {
    if(cur_zoom-zoom >0)
            cur_zoom = cur_zoom - zoom;
    else
        return;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2));
        vis.render();
}

function zoomReset() {
    cur_zoom=1;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2)); 
    vis.render();
}


/* Instansiation General parameters*/
var w = 740,
    h = 400,
    colors = pv.Colors.category20();

var vis;
vis = new pv.Panel().canvas('target') 
    .width(w)
    .height(h)
    .fillStyle("white");


var force = vis.add(pv.Layout.Force)
    .bound(true)
    .nodes(data.nodes)
    .links(data.links)
	.iterations(90);

force.springLength(100);
force.chargeConstant(0.1);
force.chargeTheta(0.9);

force.link.add(pv.Line)
    .strokeStyle(function(d, p) {
        /* if any resources on the link are selected */
        rsc_ids = p.value.split("-");
        if($(":checkbox#"+rsc_ids[0]+":checked").length) {
            return "#990000";
        }
        if($(":checkbox#"+rsc_ids[1]+":checked").length) {
            return "#990000";
        }
        return "black";
    });

//force.label.add(pv.Label);
	//.top();

/*
force.node.add(pv.Dot)
    .size(function(d) (50))
    .fillStyle(function(d) d.fix ? "brown" : colors(d.group))
    .strokeStyle(function() this.fillStyle().darker())
    .lineWidth(1)
    .title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("drag", force);
*/

//$("#selected_node_info").hide()

force.node.add(pv.Image)
    .url(function (d) {
        type = get_node_type(d);
        if(type == "openflow") {
            return "{% url img_media 'switch-tiny.png' %}";
        } else if(type == "planetlab") {
            return "{% url img_media 'host-tiny.png' %}";
        } else if(type == "vtserver") {
            return "{% url img_media 'server-tiny.png' %}";
        } else {
            return "{% url img_media 'inactive.png' %}";
        }
    })
    .def("i", -1)
    .width(20)
    .height(20)
    .fillStyle(function(d) {
        /* mouseover */
        if (this.i() == this.index) {
            return "brown";
        }
	if(get_node_type(d)=="openflow")
	        return "#999999"; 
	else
		return "#CCCCCC";
    })
    .strokeStyle(function(d) {
        /* if any ports are selected */
        if($(":checkbox:checked.node_id_"+d.nodeValue).length) {
            return "#990000";
        }
        return this.fillStyle().darker();
    })
    .cursor("pointer")
//    .title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("mouseover", function(d) {
        /* display info on the selected node in the div */ 
        type = get_node_type(d);
        desc = "Unknown"
        if(type == "openflow") {
            desc = "OpenFlow switch";
        } else if(type == "planetlab") {
            desc = "PlanetLab node";
        } else if(type == "vtserver") {
            desc = "Virtualized server";
        }
    
        $("#selected_node_info").html("Selected " + desc + ": " + d.nodeName);
        $("#selected_node_info").show();
        /* store the info about the selected node and highlight it */
        this.i(this.index);
    })
    .event("mouseout", function() this.i(-1))
    .event("click", function(d) {
       	type = get_node_type(d);
        if(type == "openflow") {
	    clickSwitchOrLink(d);
        } else if(type == "planetlab") {
            return; 
        } else if(type == "vtserver") {
            clickServer(d); 
        }
    

    })
    .event("drag", force)
    .anchor("bottom").add(pv.Label).text(function(d) d.nodeName);

vis.render();


</script>

<form action="" method="POST">{% csrf_token %}
{% if openflow_aggs or planetlab_aggs %}
<div style="border:1px solid #CCCCCC;padding:0px;overflow:hidden;margin-bottom:20px;">
<div id="selected_node_info" style="height:14px;background-color:#DDDDDD;"></div>
<div id="target">
</div>
<div style="width:100%;text-align:right;padding-top:2px;margin-top:2px;background-color: #333333">
<!--    <input type="button" value="Zoom In" onClick="zoomIn(0.25)"/>
    <input type="button" value="Zoom Out" onClick="zoomOut(0.5)">
    <input type="button" value="Reset" onClick="zoomReset()">
-->
   <a href="#" onClick="zoomIn(0.25)"/><img src="{% url img_media 'zoomin.png' %}" style="height:16px;text-align:middle"/></a>&nbsp;
   <a href="#" onClick="zoomOut(0.5)"/><img src="{% url img_media 'zoomout.png' %}" style="height:16px;"/></a>&nbsp;
   <a href="#" onClick="zoomReset()"/><img src="{% url img_media 'zoom.png' %}" style="height:16px;"/></a>&nbsp;
</div>
</div>
<input type="submit" value="Next" />
<input type="button" name="clear_button" value="Clear" />
<input type="button" name="select_all_button" value="Select All" />
<input type="button" name="select_tree_button" value="Select Tree" />
{% endif %}

<br />
<br />

{% if planetlab_aggs %}
<h1>Select PlanetLab Nodes</h1>
{% endif %}

{% for agg in planetlab_aggs %}
<h2>PlanetLab Aggregate {{ agg.name }}</h2>
<div id="am_location">
	Aggregate physical location: <b>{{ agg.location }}.</b>
</div>
<div class="planetlab">
  <table class="planetlab">
    <tr class="header">
      <th class="select_checkbox"></th>
      <th class="hostname">Hostname</th>
      <th class="connections">Connections</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:planetlab_node_class %}
    {% with rsc.as_leaf_class as node %}
    <tr class="body planetlab {% cycle 'odd' 'even' %}">
      <td class="select_checkbox">
    <input type="checkbox" name="selected_nodes"
           value="{{ node.id }}" id="rsc_id_{{ node.id }}"
           class="node_id_{{ node.id }} {% if node.id in tree_rsc_ids %}in_tree{% endif %}"
           {% if node.id in checked_ids %}checked{% endif %} />
      </td>
      <td class="hostname rsc_{{ rsc.id }}"><a name="rsc_{{ rsc.id }}">{{ node.name }}</a></td>
      <td class="connections">
    <table class="connections">
      {% for cnxn in rsc.openflow_connections.all %}
      {% with cnxn.of_iface as neighbor %}
      <tr>
        <td class="neighbor neighbor_{{ neighbor.id }}">
          Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
        {{ neighbor.switch.datapath_id }}</a>
          at port <a href="#iface_{{ neighbor.id }}">
        {{ neighbor.port_num }}</a>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}

{% if openflow_aggs %}
<h1>Select OpenFlow Resources</h1>
{% endif %}

{% for agg in openflow_aggs %}
<h2>OpenFlow Aggregate {{ agg.name }}</h2>
<div id="am_location">
Aggregate physical location: <b>{{ agg.location }}.</b>
</div >
<div class="openflow">
  <table class="openflow">
    <tr class="header">
      <th class="dpid">Datapath ID</th>
      <th class="ports">Connections (Port and Remote Port)</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:ofswitch_class %}
    {% with rsc.as_leaf_class as switch %}
    <tr class="body openflow">
      <td class="dpid"><a name="switch_{{ switch.id }}">{{ switch.datapath_id }}</a></td>
      <td class="ports">
    <table class="connections_table">
      {% for iface in switch.openflowinterface_set.all %}
      <tr class="body {% cycle 'odd' 'even' %}">
        <td class="select_checkbox">
          <input type="checkbox" name="selected_ifaces" 
          value="{{ iface.id }}" id="rsc_id_{{ iface.id }}"
          class="node_id_{{ switch.id }} {% if iface.id in tree_rsc_ids %}in_tree{% endif %}"
          {% if iface.id in checked_ids %}checked{% endif %} />
        </td>
        <td class="port_num iface_{{ iface.id }}">Port <a name="iface_{{ iface.id }}">{{ iface.port_num }}</a></td>
        <td class="connections">
          <table class="connections">
        {% for cnxn in iface.nonopenflow_connections.all %}
        <tr>
          <td class="neighbor neighbor_rsc_{{ cnxn.resource.id }}">
            Connected to <a href="#rsc_{{ cnxn.resource.id }}">
              {{ cnxn.resource.as_leaf_class }}</a>.
          </td>
        </tr>
        {% endfor %}
        {% for neighbor in iface.ingress_neighbors.all %}
        <tr>
          <td class="neighbor neighbor_{{ neighbor.id }}">
            Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
              {{ neighbor.switch.datapath_id }}</a>
            at port <a href="#iface_{{ neighbor.id }}">
              {{ neighbor.port_num }}</a>.
          </td>
        </tr>
        {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% empty %}
  <p>There are no OpenFlow aggregates in the slice. </p>
  {% endfor %}

  {% if openflow_aggs or planetlab_aggs %}
  <input type="submit" value="Next" />
  <input type="button" name="clear_button" value="Clear" />
  <input type="button" name="select_all_button" value="Select All" />
  <input type="button" name="select_tree_button" value="Select Tree" />
  {% endif %}
</form>


{% endblock content %}
