{% extends "base.html" %}
{% load ch_extras %}

{% block head %}
<style>
    table.openflow,table.planetlab {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        border: 1px solid #CCC;
    }
    table.openflow .dpid,.ports {
        border-bottom: 1px solid #000;
    }
    table.connections_table {
        border-width: 0px;
        width: 100%;
    } 
    table.openflow td {
        border-spacing: 0px;
        padding: 0px;
        border-collapse: collapse;
    }
    td.select_checkbox {
        width: 24px;
    }
    table.connections {
        width: 440px;
    }
    tr.odd {
        background-color: #ecf4d7;
    }
    td.connected {
        font-weight: bold;
    }
    
    td.port_num {
        width: 45px;
    }
    div.steps {
        padding: 4px;
        font-weight: bold;
    }
</style>
<script src="{% url js_media 'protovis-r3.2.js' %}"></script>

<script>
    function updateVMparams(data,index){
        $("#td_vm_actions"+index).children().replaceWith(data.actions[index]);
        $("#td_vm_ip"+index).children().replaceWith("<div>"+ data.ips[index]+"</div>");
    }
</script>

</script> 

<script>
    function updateVMstatus(){
        $.getJSON("../../vt_plugin/vms_status/"+{{slice.id}}, function(data){
           $.each(data.status, function(index,value){
					$("#td_vm"+index).replaceWith("<td id = td_vm"+index +" >"+ value +" </td>");
                    updateVMparams(data,index);
                }
           );
           var vms_table = document.getElementById('table_vms_list');
           $.each($("#table_vms_list tr"), function(tr_index, tr_table){
                var vmIdValue = tr_table.id.substring(5);
                if (tr_table.id != 'table_vms_list_header'){
                    var vmIdValue = tr_table.id.substring(5);
                    if (!data.status[vmIdValue]) {
                            $("#tr_vm"+vmIdValue).remove();
                    }
                }
            }
           );
        });
		$('#messages').load("../../vt_plugin/update_messages");
    }
    
</script>
<script>
    var timer = setInterval(function(){
    updateVMstatus(); 
    },3000);
</script>

<script>
	function handleVMaction(sliceId,vmId,action,vmName){
		if(action == "delete"){
			if(!confirm(" Are you sure you want to delete VM: "+vmName+"?"))
				return;	
		}
		$.getJSON("../../vt_plugin/manage_vm/"+sliceId+"/"+vmId+"/"+action);
		updateVMstatus();
	}
</script>

<script>
    $(document).ready(function() {
        /* add tooltip to question mark */
        $("img#req_fs_help").tooltip({
            tip: "div#req_fs_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
        });
		$("img#gr_fs_help").tooltip({
            tip: "div#gr_fs_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
        });
    });
</script>


{% endblock %}

{% block content %}
<div style="text-align:center;font-size:18px">
<b>Resource visualization panel</b><br> 
</div>

{% include "html/topology.html" %}

<form action="" method="POST">{% csrf_token %}


{% if planetlab_aggs %}
<h1>Select PlanetLab Nodes</h1>
{% endif %}

{% for agg in planetlab_aggs %}
<h2>PlanetLab Aggregate {{ agg.name }}</h2>
<div id="am_location">
	Aggregate physical location: <b>{{ agg.location }}.</b>
</div>
<div class="planetlab">
  <table class="planetlab">
    <tr class="header">
      <th class="select_checkbox"></th>
      <th class="hostname">Hostname</th>
      <th class="connections">Connections</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:planetlab_node_class %}
    {% with rsc.as_leaf_class as node %}
    <tr class="body planetlab {% cycle 'odd' 'even' %}">
      <td class="select_checkbox">
    <input type="checkbox" name="selected_nodes"
           value="{{ node.id }}" id="rsc_id_{{ node.id }}"
           class="node_id_{{ node.id }} {% if node.id in tree_rsc_ids %}in_tree{% endif %}"
           {% if node.id in checked_ids %}checked{% endif %} />
      </td>
      <td class="hostname rsc_{{ rsc.id }}"><a name="rsc_{{ rsc.id }}">{{ node.name }}</a></td>
      <td class="connections">
    <table class="connections">
      {% for cnxn in rsc.openflow_connections.all %}
      {% with cnxn.of_iface as neighbor %}
      <tr>
        <td class="neighbor neighbor_{{ neighbor.id }}">
          Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
        {{ neighbor.switch.datapath_id }}</a>
          at port <a href="#iface_{{ neighbor.id }}">
        {{ neighbor.port_num }}</a>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}

{% if openflow_aggs %}
<h1>Select OpenFlow Resources</h1>
{% endif %}

{% for agg in openflow_aggs %}
<h2>OpenFlow Aggregate {{ agg.name }}</h2>
<div id="am_location">
Aggregate physical location: <b>{{ agg.location }}.</b>
</div >
	{% if checked_ids %}
<div>
	<div style="padding-top:20px;">
 	  {% if allfs %}
	<table class="servers" style="border-bottom:0px">
    <tr><th style="background-color:#FF9966">Requested Flowspace{%if allfs|length > 1%}s{%endif%}  <img align="absmiddle" id="req_fs_help" src="/static/media/img/question_mark_15x15.png"></th></tr>
    </table>
	</div>
	<div class="tooltip" id="req_fs_help">
	Notice that a "None" value means that that field is getting the maximum possible value.<br/>In addition if different Flowspaces are defined over the same OpenFlow interface (Switch-Port), the resultant FlowSpace over this interface will be the combination of all the FlowSpaces. This can be seen better in the Granted FlowSpace
	</div>	
    {% for fs in allfs %}
			<table class="flowspace_r">
				<tr class="odd">
				<td style="width:40%;"><strong> Flowspace {{fs.id }}</strong></td><td style="width:60%;"><strong>Associated OpenFlow Interfaces</strong></td>
				</tr>
		        <tr class = "even">
		           <td>
		            {% if fs.dl_src_start or fs.dl_src_end %}
		                MAC Source: {{ fs.dl_src_start }} - {{ fs.dl_src_end }}<br />
		            {% endif %}
		    
		            {% if fs.dl_dst_start or fs.dl_dst_end %}
		               MAC Destination: {{ fs.dl_dst_start }} - {{ fs.dl_dst_end }}<br />
		            {% endif %}
		    
		            {% if fs.dl_type_start or fs.dl_type_end %}
		                Ethernet Type: {{ fs.dl_type_start }} {{ fs.dl_type_end }}<br />
		            {% endif %}
		            
		            {% if fs.vlan_id_start or fs.vlan_id_end %}
		                VLAN ID: {{ fs.vlan_id_start }} - {{ fs.vlan_id_end }}<br />
		            {% endif %}
		    
		            {% if fs.nw_src_start or fs.nw_src_end %}        
		                IP Source: {{ fs.nw_src_start }} - {{ fs.nw_src_end }}<br />
		            {% endif %}
		    
		            {% if fs.nw_dst_start or fs.nw_dst_end %}
		                IP Destination: {{ fs.nw_dst_start }} - {{ fs.nw_dst_end }}<br />
		            {% endif %}        
		    
		            {% if fs.nw_proto_start or fs.nw_proto_end %}
		                IP Protocol: {{ fs.nw_proto_start }} - {{ fs.nw_proto_end }}<br />
		            {% endif %}        
		    
		            {% if fs.tp_src_start or fs.tp_src_end %}
		                TCP/UDP Source: {{ fs.tp_src_start }} - {{ fs.tp_src_end }}<br />
		            {% endif %}        
		    
		            {% if fs.tp_dst_start or fs.tp_dst_end %}
		                TCP/UDP Destination: {{ fs.tp_dst_start }} - {{ fs.tp_dst_end }}<br />
		            {% endif %}        
		        	</td>
					<td>{%for ofiface in fs.slivers.all %}<strong>OpenFlow Switch:</strong> {{ ofiface.resource.as_leaf_class.switch.name}} - <strong>Port</strong> {{ofiface.resource.as_leaf_class.port_num}}<br/>{% endfor %}</td>
		     	</tr>
				</table>
    {% endfor %}  <!-- for fs in allfs -->
	<!-- SPACE TO TEST GRANTED FLOWSPACE -->

	{% for gfs in gfs_list %}<!--aggregate level-->
		{% if gfs.0 == agg.id  and gfs.1 %}
	    <div style="padding-top:20px;">
    <table class="servers" style="border-bottom:0px">
    <tr><th>Granted Flowspace{%if allfs|length > 1%}s{%endif%}  <img align="absmiddle" id="gr_fs_help" src="/static/media/img/question_mark_15x15.png"></th></tr>
    </table>
	</div>
		<div class="tooltip" id="gr_fs_help">
    	This is the FlowSpace that has been granted to the slice and will be used in the experiment. It may be different from the requested one.
	    </div>

		{% for f in gfs.1 %}<!-- flowspace level-->
            <table class="flowspace">
                <tr class="odd">
                <td style="width:40%;"><strong> Flowspace {{fs.id }}</strong></td><td style="width:60%;"><strong>Associated OpenFlow Interfaces</strong></td>
                </tr>
	
			{% with f.flowspace as fs%}	
			{% with f.openflow as of_list%}	
    		    <tr class = "even">
    		       <td>
						{%if  not fs.mac_src_s == "00:00:00:00:00:00" or not fs.mac_src_e == "ff:ff:ff:ff:ff:ff" %}
    		            MAC Source: {{ fs.mac_src_s }} {% if not fs.mac_src_s == fs.mac_src_e %}- {{ fs.mac_src_e }}{%endif%}<br />
						{%endif%}
						{%if  not fs.mac_dst_s == "00:00:00:00:00:00" or not fs.mac_dst_e == "ff:ff:ff:ff:ff:ff" %}
    		            MAC Destination: {{ fs.mac_dst_s }} {% if not fs.mac_dst_s == fs.mac_dst_e %}- {{ fs.mac_dst_e }}{%endif%}<br />
						{%endif%}
						{%if  not fs.eth_type_s == 0 or not fs.eth_type_e == 65535 %}
    		            Ethernet Type: {{ fs.eth_type_s }} {{ fs.eth_type_e }}<br />
						{%endif%}
						{%if  not fs.vlan_id_s == 0 or not fs.vlan_id_e == 4095 %}
    		            VLAN ID: {{ fs.vlan_id_s }} - {{ fs.vlan_id_e }}<br />
						{%endif%}
						{%if  not fs.ip_src_s == "0.0.0.0" or not fs.ip_src_e == "255.255.255.255" %}
    		            IP Source: {{ fs.ip_src_s }} - {{ fs.ip_src_e }}<br />
						{%endif%}
						{%if  not fs.ip_dst_s == "0.0.0.0" or not fs.ip_dst_e == "255.255.255.255" %}
    		            IP Destination: {{ fs.ip_dst_s }} - {{ fs.ip_dst_e }}<br />
						{%endif%}
						{%if  not fs.ip_proto_s == 0 or not fs.ip_proto_e == 255 %}
    		            IP Protocol: {{ fs.ip_proto_s }} - {{ fs.ip_proto_e }}<br />
						{%endif%}
						{%if  not fs.tp_src_s == 0 or not fs.tp_src_e == 65535 %}
    		            TCP/UDP Source: {{ fs.tp_src_s }} - {{ fs.tp_src_e }}<br />
						{%endif%}
						{%if  not fs.tp_dst_s == 0 or not fs.tp_dst_e == 65535 %}
    		            TCP/UDP Destination: {{ fs.tp_dst_s }} - {{ fs.tp_dst_e }}<br />
						{%endif%}
						</td>
						<td>
						{% for of in of_list %}
						<!-- {{ of.direction }} is available also -->
    		            <strong>OpenFlow Switch:</strong> {{ of.dpid }} -<strong>Port</strong> {{ of.port_number_s }}<!---{{ of.port_number_e }}--><br />
						{% endfor %}
    		        </td>
    		    </tr>
		{% endwith %}
		{% endwith %}
		</table>
		{% endfor %} <!-- gfs in gfs_lis -->
		{% endif %}
	{% endfor %} <!-- fs in gfs_list -->
	<!-- END -->		

 	{% else %}
              <p>There is no Flowspace in the Slice. </p>
   {% endif %}
</div>
{%endif%}
{% empty %}
  <p>There are no OpenFlow aggregates in the slice. </p>
  {% endfor %}

  {% if openflow_aggs or planetlab_aggs %}
	<div style="margin-top:50px;text-align:right">
		<input type="button" onClick='document.location="{% url html_plugin_bookOpenflow slice.id %}"' value="Book Openflow and PlanetLab resources" />
	</div>
  {% endif %}
</form>


{% if vt_aggs %}
<h1>Virtualized servers resources</h1>
{% endif %}

{% for agg in vt_aggs %}
<form action="/vt_plugin/goto_create_vm/{{ slice.id }}/" method="POST">{% csrf_token %}

    <h2>VT Aggregate Manager {{ agg.name }}</h2>
    <div id="am_location">
        Aggregate physical location: <b>{{ agg.location }}</b>.
    </div>
    {% if agg.resource_set.all %}

    {% for rsc in agg.resource_set.all %}
    {% if rsc.leaf_name == 'VTServer' %}
    {% with rsc.as_leaf_class as server %}
       <table class="servers">
    <tr>
      <th>Server Name</th>
      <th>Virt. Tech.</th>
      <th>Operating System</th>
      <th>CPU</th>
      <th>Memory</th>
      <th>Disc</th>
    </tr>


       <tr class = "odd">
      <!--  <td>
        <input type = "radio" name = "server_id" value = "{{server.id}}" checked/>
        </td>-->
        <td>
            {{ server.name }}
        </td>
        </td>
        <td>
            {{ server.virtTech  }}
        </td>
          <td>
            {{ server.operatingSystemType }}
            {{server.operatingSystemDistribution}} ({{server.operatingSystemVersion}})
        </td>
        <td>
            {{ server.freeCpu }}
        </td>
        <td>
            {{ server.memory }}
        </td>
        <td>
            {{ server.freeDiscSpace }}
        </td>
        </tr>
        </table>
            <div id = "vms_table">
            {% if server.vms.all%}
            {% include "html/list_vms.html" %}
            {% endif %}
            </div>


    {% endwith %}
    {% endif %}
    {% endfor %}
    </table>
    <br/>
    <div id="create_server" style="clear:both;">
        Create a new virtual machine in server:
        <select name = "selected_server" id="server_id_agg_{{agg.id}}">
        {% for rsc in agg.resource_set.all %}
        {% with rsc.as_leaf_class as server %}
        {% if rsc.leaf_name == 'VTServer' %}
            <option value="{{server.id}}">{{server.name}}</option>
        {% endif %}
        {% endwith %}
        {% endfor %}
        </select>
        <input type="submit" name = "create_vms"  id="create_vms_agg_{{agg.id}}" value="Create VM" />

    </div>
    {% else %}
    <div id="no_servers">
        The aggregate manager does not contain any server yet, or this Expedient instance has not enough privileges to access current servers...
    </div>
    {% endif %}
</form> 
{% endfor %}



{% endblock content %}
