{% extends "base.html" %}
{% load ch_extras %}

{% block head %}
<style>
    table.openflow,table.planetlab {
        width: 100%;
        border-spacing: 0px;
        border-collapse: collapse;
        border: 1px solid #CCC;
    }
    table.openflow .dpid,.ports {
        border-bottom: 1px solid #000;
    }
    table.connections_table {
        border-width: 0px;
        width: 100%;
    } 
    table.openflow td {
        border-spacing: 0px;
        padding: 0px;
        border-collapse: collapse;
    }
    td.select_checkbox {
        width: 24px;
    }
    table.connections {
        width: 440px;
    }
    tr.odd {
        background-color: #ecf4d7;
    }
    td.connected {
        font-weight: bold;
    }
    
    td.port_num {
        width: 45px;
    }
    div.steps {
        padding: 4px;
        font-weight: bold;
    }
</style>

<script src="{% url js_media 'protovis-r3.2.js' %}"></script>
{% endblock %}

{% block content %}
<div style="text-align:center;font-size:18px">
<b>Resource visualization panel</b><br> 
</div>
<h1>Topology</h1>


<script type="text/javascript+protovis">


/* ProtoVIS data */    
var data = {
    nodes: [
        {% for node in protovis_nodes %}
        {nodeValue:"{{ node.value }}", nodeName:"{{ node.name }}", group:"{{ node.group }}"}{% if not forloop.last %},{% endif %}
        {% endfor %}
    ],
    links: [
        {% for link in protovis_links %}
        {source:{{ link.src }}, target:{{ link.target }}, value:"{{ link.value }}"}{% if not forloop.last %},{% endif %}
        {% endfor %}
	
    ],
}

/* Useful functions*/

function get_node_type(d) {
    var of_groups_len = {{ openflow_aggs.count }};
    var pl_groups_len = {{ planetlab_aggs.count }};
    var vt_aggs_len = {{ vt_aggs.count }};
    
    if(d.group < of_groups_len) {
        return "openflow";
    } else if(d.group < of_groups_len + pl_groups_len) {
        return "planetlab";
    } else if (d.group <(of_groups_len + pl_groups_len+vt_aggs_len)){
	return "vtserver"
    }else{
        return "unknown";
    }
}

/* On Click event functions */
function clickSwitchOrLink(d){
}

function clickServer(d){

}

/* Zooming routines */

cur_zoom = 1;

function zoomIn(zoom) {
        cur_zoom = cur_zoom + zoom;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2));
        vis.render();
        return false;
}

function zoomOut(zoom) {
    if(cur_zoom-zoom >0)
            cur_zoom = cur_zoom - zoom;
    else
        return false;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2));
        vis.render();
        return false;
}

function zoomReset() {
    cur_zoom=1;
    vis.transform(pv.Transform.identity.scale(cur_zoom).translate((Math.round(w/
cur_zoom) - w)/2, (Math.round(h/cur_zoom) - h)/2)); 
    vis.render();
    return false;
}


/* Instansiation General parameters*/
var w = 740,
    h = 400,
    colors = pv.Colors.category20();

var vis;
vis = new pv.Panel().canvas('target') 
    .width(w)
    .height(h)
    .fillStyle("white");


var force = vis.add(pv.Layout.Force)
    .bound(true)
    .nodes(data.nodes)
    .links(data.links)
	.iterations(90);

force.springLength(100);
force.chargeConstant(0.1);
force.chargeTheta(0.9);

force.link.add(pv.Line)
    .strokeStyle(function(d, p) {
        /* if any resources on the link are selected */
        rsc_ids = p.value.split("-");
        if($(":checkbox#"+rsc_ids[0]+":checked").length) {
            return "#990000";
        }
        if($(":checkbox#"+rsc_ids[1]+":checked").length) {
            return "#990000";
        }
        return "black";
    });

//force.label.add(pv.Label);
	//.top();

/*
force.node.add(pv.Dot)
    .size(function(d) (50))
    .fillStyle(function(d) d.fix ? "brown" : colors(d.group))
    .strokeStyle(function() this.fillStyle().darker())
    .lineWidth(1)
    .title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("drag", force);
*/

//$("#selected_node_info").hide()

force.node.add(pv.Image)
    .url(function (d) {
        type = get_node_type(d);
        if(type == "openflow") {
            return "{% url img_media 'switch-tiny.png' %}";
        } else if(type == "planetlab") {
            return "{% url img_media 'host-tiny.png' %}";
        } else if(type == "vtserver") {
            return "{% url img_media 'server-tiny.png' %}";
        } else {
            return "{% url img_media 'inactive.png' %}";
        }
    })
    .def("i", -1)
    .width(20)
    .height(20)
    .fillStyle(function(d) {
        /* mouseover */
        if (this.i() == this.index) {
            return "brown";
        }
	if(get_node_type(d)=="openflow")
	        return "#999999"; 
	else
		return "#CCCCCC";
    })
    .strokeStyle(function(d) {
        /* if any ports are selected */
        if($(":checkbox:checked.node_id_"+d.nodeValue).length) {
            return "#990000";
        }
        return this.fillStyle().darker();
    })
    .cursor("pointer")
//    .title(function(d) d.nodeName)
    .event("mousedown", pv.Behavior.drag())
    .event("mouseover", function(d) {
        /* display info on the selected node in the div */ 
        type = get_node_type(d);
        desc = "Unknown"
        if(type == "openflow") {
            desc = "OpenFlow switch";
        } else if(type == "planetlab") {
            desc = "PlanetLab node";
        } else if(type == "vtserver") {
            desc = "Virtualized server";
        }
    
        $("#selected_node_info").html("Selected " + desc + ": " + d.nodeName);
        $("#selected_node_info").show();
        /* store the info about the selected node and highlight it */
        this.i(this.index);
    })
    .event("mouseout", function() this.i(-1))
    .event("drag", force)
    .anchor("bottom").add(pv.Label).text(function(d) d.nodeName);

vis.render();

</script>

<form action="" method="POST">{% csrf_token %}
{% if openflow_aggs or planetlab_aggs %}
<div style="border:1px solid #CCCCCC;padding:0px;overflow:hidden;margin-bottom:20px;">
<div id="selected_node_info" style="height:14px;background-color:#DDDDDD;"></div>
<div id="target">
</div>
<div style="width:100%;text-align:right;padding-top:2px;margin-top:2px;background-color: #333333">
<!--    <input type="button" value="Zoom In" onClick="zoomIn(0.25)"/>
    <input type="button" value="Zoom Out" onClick="zoomOut(0.5)">
    <input type="button" value="Reset" onClick="zoomReset()">
-->
   <a href="#" onClick="return zoomIn(0.25)"/><img src="{% url img_media 'zoomin.png' %}" style="height:16px;text-align:middle"/></a>&nbsp;
   <a href="#" onClick="return zoomOut(0.5)"/><img src="{% url img_media 'zoomout.png' %}" style="height:16px;"/></a>&nbsp;
   <a href="#" onClick="return zoomReset()"/><img src="{% url img_media 'zoom.png' %}" style="height:16px;"/></a>&nbsp;
</div>
</div>
{% endif %}

<br />
<br />

{% if planetlab_aggs %}
<h1>Select PlanetLab Nodes</h1>
{% endif %}

{% for agg in planetlab_aggs %}
<h2>PlanetLab Aggregate {{ agg.name }}</h2>
<div id="am_location">
	Aggregate physical location: <b>{{ agg.location }}.</b>
</div>
<div class="planetlab">
  <table class="planetlab">
    <tr class="header">
      <th class="select_checkbox"></th>
      <th class="hostname">Hostname</th>
      <th class="connections">Connections</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:planetlab_node_class %}
    {% with rsc.as_leaf_class as node %}
    <tr class="body planetlab {% cycle 'odd' 'even' %}">
      <td class="select_checkbox">
    <input type="checkbox" name="selected_nodes"
           value="{{ node.id }}" id="rsc_id_{{ node.id }}"
           class="node_id_{{ node.id }} {% if node.id in tree_rsc_ids %}in_tree{% endif %}"
           {% if node.id in checked_ids %}checked{% endif %} />
      </td>
      <td class="hostname rsc_{{ rsc.id }}"><a name="rsc_{{ rsc.id }}">{{ node.name }}</a></td>
      <td class="connections">
    <table class="connections">
      {% for cnxn in rsc.openflow_connections.all %}
      {% with cnxn.of_iface as neighbor %}
      <tr>
        <td class="neighbor neighbor_{{ neighbor.id }}">
          Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
        {{ neighbor.switch.datapath_id }}</a>
          at port <a href="#iface_{{ neighbor.id }}">
        {{ neighbor.port_num }}</a>
        </td>
      </tr>
      {% endwith %}
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% endfor %}

{% if openflow_aggs %}
<h1>Select OpenFlow Resources</h1>
{% endif %}

{% for agg in openflow_aggs %}
<h2>OpenFlow Aggregate {{ agg.name }}</h2>
<div id="am_location">
Aggregate physical location: <b>{{ agg.location }}.</b>
</div >
<div class="openflow">
  <table class="openflow">
    <tr class="header">
      <th class="dpid">Datapath ID</th>
      <th class="ports">Connections (Port and Remote Port)</th>
    </tr>
    {% for rsc in agg.resource_set.all %}
    {% if rsc.available and rsc|leaf_class_is:ofswitch_class %}
    {% with rsc.as_leaf_class as switch %}
    <tr class="body openflow">
      <td class="dpid"><a name="switch_{{ switch.id }}">{{ switch.datapath_id }}</a></td>
      <td class="ports">
    <table class="connections_table">
      {% for iface in switch.openflowinterface_set.all %}
      <tr class="body {% cycle 'odd' 'even' %}">
        <td class="select_checkbox">
          <input type="checkbox" name="selected_ifaces" 
          value="{{ iface.id }}" id="rsc_id_{{ iface.id }}"
          class="node_id_{{ switch.id }} {% if iface.id in tree_rsc_ids %}in_tree{% endif %}"
          {% if iface.id in checked_ids %}checked{% endif %} />
        </td>
        <td class="port_num iface_{{ iface.id }}">Port <a name="iface_{{ iface.id }}">{{ iface.port_num }}</a></td>
        <td class="connections">
          <table class="connections">
        {% for cnxn in iface.nonopenflow_connections.all %}
        <tr>
          <td class="neighbor neighbor_rsc_{{ cnxn.resource.id }}">
            Connected to <a href="#rsc_{{ cnxn.resource.id }}">
              {{ cnxn.resource.as_leaf_class }}</a>.
          </td>
        </tr>
        {% endfor %}
        {% for neighbor in iface.ingress_neighbors.all %}
        <tr>
          <td class="neighbor neighbor_{{ neighbor.id }}">
            Connected to datapath <a href="#switch_{{ neighbor.switch.id }}">
              {{ neighbor.switch.datapath_id }}</a>
            at port <a href="#iface_{{ neighbor.id }}">
              {{ neighbor.port_num }}</a>.
          </td>
        </tr>
        {% endfor %}
          </table>
        </td>
      </tr>
      {% endfor %}
    </table>
      </td>
    </tr>
    {% endwith %}
    {% endif %}
    {% endfor %}
  </table>
</div>
{% empty %}
  <p>There are no OpenFlow aggregates in the slice. </p>
  {% endfor %}

  {% if openflow_aggs or planetlab_aggs %}
	<div style="text-align:right">
		<input type="button" onClick='document.location="{% url html_plugin_bookOpenflow slice.id %}"' value="Book Openflow and PlanetLab resources" />
	</div>
  {% endif %}
</form>


{% if vt_aggs %}
<form action="/vt_plugin/goto_create_vm/{{ slice.id }}/" method="POST">{% csrf_token %}
<h1>Virtualized servers resources</h1>
{% endif %}

{% for agg in vt_aggs %}

    <div>
    <h2>VT Aggregate Manager {{ agg.name }}</h2>
    <div id="am_location">
        Aggregate physical location: <b>{{ agg.location }}</b>.
    </div>
    {% if agg.resource_set.all %}

    {% for rsc in agg.resource_set.all %}
    {% if rsc.leaf_name == 'VTServer' %}
    {% with rsc.as_leaf_class as server %}
       <table class="servers">
    <tr>
      <th>Server Name</th>
      <th>Virt. Tech.</th>
      <th>Operating System</th>
      <th>CPU</th>
      <th>Memory</th>
      <th>Disc</th>
    </tr>


       <tr class = "odd">
      <!--  <td>
        <input type = "radio" name = "server_id" value = "{{server.id}}" checked/>
        </td>-->
        <td>
            {{ server.name }}
        </td>
        </td>
        <td>
            {{ server.virtTech  }}
        </td>
          <td>
            {{ server.operatingSystemType }}
            {{server.operatingSystemDistribution}} ({{server.operatingSystemVersion}})
        </td>
        <td>
            {{ server.freeCpu }}
        </td>
        <td>
            {{ server.memory }}
        </td>
        <td>
            {{ server.freeDiscSpace }}
        </td>
        </tr>
        </table>
            {% if server.vms.all%}
        <table class="vms">
            <tr class="header">
            <th>VM Name</th>
            <th>State</th>
            <th>OS</th>
            <th>Memory</th>
            <th>Mgmt IP</th>
            <th style="text-align:center">Actions</th>
            </tr>

            {% for rsc in agg.resource_set.all %}
            {% if rsc.leaf_name == 'VM' %}            
            {% with rsc.as_leaf_class as vm %}
                {% if server.uuid == vm.serverID%}
                <tr class = "{% cycle 'odd' 'even' %}">
                  <td>
                    {{ vm.name }}
                  </td>
                  <td>
                    {{ vm.state }}
                  </td>
                   <td>
                    {{ vm.operatingSystemType }}
                     {{vm.operatingSystemDistribution}} ({{vm.operatingSystemVersion}})
                  </td>
                  <td>
                    {{ vm.memory }}
                  </td>
                    <td>
                       {% for iface in vm.ifaces.all %}
                            {% if iface.isMgmt == 1 %}
                                {{iface.ip}}
                            {% endif %}
                       {% endfor %}
                    </td>
              <td style="text-align:center">
                    {% if vm.state == "running" %}
                        <a href="{% url manage_vm slice.id vm.id "reboot"%}">Reboot</a> |
                        <a href="{% url manage_vm slice.id vm.id "stop"%}">Stop</a>
                    {% endif %}
                    {% if  vm.state == "created (stopped)"%}
                        <a href="{% url manage_vm slice.id vm.id "start"%}">Start</a> |
                        <a href="{% url manage_vm slice.id vm.id "delete"%}">Delete</a>
                    {% endif %}
                    {% if vm.state == "stopped"%}
                        <a href="{% url manage_vm slice.id vm.id "start"%}">Start</a> |
                        <a href="{% url manage_vm slice.id vm.id "delete"%}">Delete</a>
                    {% endif %}
                </td>
                </tr>
            {%endif%}
            {% endwith%}
            {% endif %}
            {% endfor %}
           </table>
            {% endif %}



    {% endwith %}
    {% endif %}
    {% endfor %}
    </table>
    <br/>
    <div id="create_server">
        Create a new virtual machine in server:
        <select name = "server_id" id="server_id_agg_{{agg.id}}">
        {% for rsc in agg.resource_set.all %}
        {% with rsc.as_leaf_class as server %}
        {% if rsc.leaf_name == 'VTServer' %}
            <option value="{{server.id}}">{{server.name}}</option>
        {% endif %}
        {% endwith %}
        {% endfor %}
        </select>
        <input type="submit" name = "create_vms"  id="create_vms_agg_{{agg.id}}" value="Create VM" />

    </div>
    {% else %}
    <div id="no_servers">
        The aggregate manager does not contain any server yet, or this Expedient instance has not enough privileges to access current servers...
    </div>
    {% endif %}
{% endfor %}

</form>


{% endblock content %}
