{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
    function togglePwd() {
        if(document.getElementById("id_password1")) {
	        document.getElementById("id_password1").disabled = !document.getElementById("id_password1").disabled;
	        document.getElementById("id_password2").disabled = !document.getElementById("id_password2").disabled;
	    }
        if(document.getElementById("id_old_password")) {
	        document.getElementById("id_new_password1").disabled = !document.getElementById("id_new_password1").disabled;
	        document.getElementById("id_new_password2").disabled = !document.getElementById("id_new_password2").disabled;
	        document.getElementById("id_old_password").disabled = !document.getElementById("id_old_password").disabled;
        }
    }
</script>
<div class="main">
    <h1>User {{ user.username }}</h1>
    <div class="new user">
        <h2>User Info:</h2>
        <form class="new user form" method="post" action="">
            <table class="formtable newusertable">
            <tr>
                <td><strong><label for="change_pwd">Change password?</label></strong></td>
                <td><input type="checkbox" id="change_pwd" name="change_pwd" value="change_pwd" onChange="togglePwd()" /></td>
            </tr>
            {{ pwd_form.as_table }}
            {{ user_form.as_table }}
            {{ userprofile_form.as_table }}
            </table>
            <input type="submit" value="Save User">
            <button type="button" class="delete button" onclick="parent.location='{% url users_delete user.id %}'" value="Delete">Delete</button>
        </form>
    </div>
    <div class="slices">
        <h2>Current Slices:</h2>
        {% comment %}
        {% include "clearinghouse/slice_list.html" %}
        {% endcomment %}
    </div>
</div>
{% endblock %}
