{% extends "base.html" %}

{% block content %}
<div class="main">
    
    {% if profile.is_net_admin %}
        <h1> {{ profile.user.username }} - Admin Dashboard </h1>
            <h2> Requests </h2>
                <a href = "">Admin Requests ({{0}})</a><br/>
                <a href = " ">User Requests ({{0}})</a><br/>
            <h2> Opt-In(s) </h2>
                <a href = "/flowspace/view_opt_in">Manage Opt-In(s)</a><br/>
                <a href = " ">Add New Opt-In</a><br/>
                <a href = " ">View Experiments</a><br/>
            <h2> Profile </h2>
                <a href = " ">Resign Admin</a><br/>
                <a href = "/accounts/logout"> Log Out </a><br>


    {% else %}
        <h1> {{ profile.user.username }} - User Dashboard </h1>
            <h2> Opt-In(s) </h2>
                <a href = " ">Manage Opt-In(s)</a><br/>
                <a href = " ">Add New Opt-In</a><br/>
                <a href = " ">View Experiments</a><br/>
            <h2> Profile </h2>
                <a href = " ">Request to be Admin</a><br/>
                <a href = "/accounts/logout"> Log Out </a><br>
    {% endif %}
	
</div>
{% endblock content %}

