<!DOCTYPE html>
<html>
	<head>
		<title>
			{% block title %}Expedient{% endblock %}
		</title>
		<meta charset="UTF-8">

		<link rel="stylesheet" href="{% url css_media 'ocf-iframe.css' %}" />
		<link rel="stylesheet" href="{% url css_media 'tooltip.css' %}" />

		<script src="{% url js_media 'jquery.min.js' %}"></script>
		<script src="{% url js_media 'jquery.tools.min.js' %}"></script>
		<script src="{% url js_media 'tooltip.funcs.js' %}"></script>

		{% block head %}{% endblock %} 
	</head>
	<body>
		<div id="content">
			{% block content %}{% endblock %}
		</div>
	</body>
</html>
