<div class="details">
    <h2>Details for Aggregate Manager {{ object.name }}</h2>
    
    url: {{ object.url }} <br />
    key_file: {{ object.key_file }} <br />
    cert_file: {{ object.cert_file }} <br />
    
    <form method="post" action="update/">
        <input type="submit" value="Update RSpec">
    </form>
</div>

{% if error_message %}
<div class="error">
<p><strong>{{ error_message }}</strong></p>
</div>
{% endif %}

<div class="nodes">
    <h2>Nodes</h2>
    <ol id="switches">
        {% for node_tuple in nodes %}
        <li>Switch ID <a href="../switch/{{ node_tuple.0 }}/">{{ node_tuple.0 }}</a> 
            {% if node_tuple.1 %} connected via {% endif %}
            <ol id="{{ node_tuple }}_connections">
                {% for cnxn_tuple in node_tuple.1 %}
                <li>port {{ cnxn_tuple.0 }} to port {{ cnxn_tuple.2 }} of node <a href="../switch/{{ cnxn_tuple.1 }}/">{{ cnxn_tuple.1 }}</a></li>
                {% endfor %}
            </ol>
        </li>
        {% endfor %}
    </ol>
</div>

<br />
<a href="../delete">Delete Aggregate Manager</a> |
<a href="../../"> Back to list </a> <br />
