{% extends "clearinghouse/base.html" %}

{% block content %}
<div class="main">
    <h1>Aggregate Administration</h1>
    <div class="list">
        <h2> Current Aggregate Managers </h2>
        {% include "clearinghouse/aggregatemanager_table.html" %}
    </div>
    <div class="new_am">
        <h2> Create a new Aggregate Manager. </h2>
        <form method="post" action="">
            <table class="formtable aggmgr_form">
            {{ form.as_table }}
            </table>
            <input type="submit" value="Add Aggregate">
        </form>
    </div>
</div>
{% endblock %}
