{% extends "clearinghouse/base.html" %}

{% block content %}
<div class="details">
    <h2>Select node from Aggregate Manager {{ am.name }}</h2>
    
    url: {{ am.url }} <br />
</div>

{% if error_message %}
<div class="error">
<p><strong>{{ error_message }}</strong></p>
</div>
{% endif %}

<div class="nodes">
    <h2>Nodes</h2>
    <form method="POST" action="">
        <ol id="switches">
            {% for node in am.node_set.all %}
            <li><input type="checkbox" name={{ node.nodeId }} />Node ID <a name="{{ node.nodeId }}">{{ node.nodeId }}</a> 
                <ol id="{{ nodeId }}_ifaces">
                    {% for iface in node.interface_set.all %}
                    <li>port {{ iface.portNum }}
                        {% if iface.remoteIfaces.count %}
                        connected to
                        <ol>
                            {% for remoteiface in iface.remoteIfaces.all %}
                            <li>port remoteiface.portNum of node 
                                <a href="#{{ remoteiface.ownerNode.nodeId }}">
                                    {{ remoteiface.ownerNode.nodeId }}
                                </a>
                            </li>
                            {% endfor %}
                        </ol>
                        {% else %}
                        unconnected.
                        {% endif %}
                    </li>
                    {% endfor %}
                </ol>
            </li>
            {% endfor %}
        </ol>
        <input type="submit" value="Use Selected Nodes" />
    </form>
</div>
{% endblock %}