{% extends "clearinghouse/base.html" %}

{% block content %}
<div class="main">
    <h1>Aggregate Manager {{ am.name }}</h1>
	<div class="details">
	    <div class="detail logo"><img src="{{ am.logo_url }}" /></div>
	    <p>managed by {{ am.owner.username }}</p>
	    <form method="post" action="">
	    	<table class="aggmgr_form">
	        {{ form.as_table }}
	        </table>
            <input type="submit" value="Save Changes">
            <button type="button" class="delete button" onclick="parent.location='{% url aggmgr_delete am.id %}'" value="Delete">Delete</button>
        </form>
	</div>
	
	{% if error_message %}
	<div class="error">
	<p><strong>{{ error_message }}</strong></p>
	</div>
	{% endif %}
	
	<div class="nodes">
	    <h2>Nodes:</h2>
        <ul id="nodes">
            {% for node in am.local_node_set.all %}
            <li>Node <strong><a name="{{ node.nodeId }}">{{ node.name }}</a></strong> 
                <ul id="{{ nodeId }}_ifaces">
                    {% for iface in node.interface_set.all %}
                    <li>port <strong>{{ iface.portNum }}</strong>
                        {% if iface.remoteIfaces.count %}
                        connected to
                        <ul>
                            {% for remoteiface in iface.remoteIfaces.all %}
                            <li>port <strong>{{ remoteiface.portNum }}</strong> of node 
                                <a href="#{{ remoteiface.ownerNode.nodeId }}">
                                    <strong>{{ remoteiface.ownerNode.name }}</strong>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        unconnected.
                        {% endif %}
                    </li>
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
        </ul>
	</div>
</div>
{% endblock %}