<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <!-- link rel="stylesheet" href="style.css" /!-->
        <title>{% block title %}Simple E-GENI Clearinghouse{% endblock %}</title>
    </head>
    
    <body>
    	<div class="links">
	        <a href="/clearinghouse/">Dashboard</a>
			<a href="{% url slice_home %}">Slice Control Panel</a>
			<a href="{% url password_change %}">Account Settings</a>
			<a href="/clearinghouse/help/">Help</a>
	        <a href="/accounts/logout/">Logout</a>
        </div>
        {% block scripts %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
