{% extends "clearinghouse/base.html" %}
{% block userctrl %}{% endblock %}
{% block content %}

<h1>E-Geni Help Resources</h1>

<p>Enterprise GENI is still under development and at this point only limited support is available. </p>

<ul>

<li><a href="http://www.openflowswitch.org/wk/index.php/E-GENI">The eGENI pages at Stanford</a></li>
<li><a href="http://www.openflowswitch.org">Information about OpenFlow</a></li>
<li><a href="http://www.planet-lab.org/">Information about PlanetLab</a></li>
</ul>

For specific questions contact <b>info@openflowswitch.org</b>.

{% endblock %}
