{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}

<div class="main">
    <h1>GENI Dashboard:</h1>
    
    <div class="announcements">
        <h2>Announcements:</h2>
        {% if announcements %}
        <table class="last_announcements_table">
        {% for a in announcements %}
            <tr><td>{{ a.format_date }}</td><td>{{ a.format_time }}</td><td>{{ a.text }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        <p>No new announcements.</p>
        {% endif %}
    </div>

    <div class="functions">
        {% if show_admin %}
        <h2>Admin Functions:</h2>
        <p><a href="{% url aggmgr_admin_home %}" <img style="vertical-align:middle; margin-top: -3px;" src="/img/aggregate-tiny.png"> Aggregate Administration</a></p>
        <p><a href="{% url slice_home %}"><img style="vertical-align:middle; margin-top: -3px;" src="/img/slice-tiny.png"> Slice Administration</a></p>
        <p><a href="{% url user_admin_home %}"><img style="vertical-align:middle; margin-top: -3px;" src="/img/users-tiny.png"> User Administration</a></p>
        {% endif %}
        {% if show_user %}
        {% comment %}
        <h2>User Functions:</h2>
        <p><a href="{% url slice_home %}">Slice Control Panel</a></p>
        {% endcomment %}
        <h2>Your Current Stats</h2>
        <table id="user_stats_table">
            <tr><td>Number of active slices</td>     <td>:</td> <td>{{ active_slice_count }}</td></tr>
            <tr><td>Number of inactive slices</td>   <td>:</td> <td>{{ inactive_slice_count }}</td></tr>
            <tr><td>Number of reserved hosts</td>    <td>:</td> <td>{{ reserved_host_count }}</td></tr>
            <tr><td>Number of reserved switches</td> <td>:</td> <td>{{ reserved_switch_count }}</td></tr>
        </table>
        {% endif %}
    </div>
    
    <div class="stats">
        <h2>Global GENI Stats:</h2>
        <table id="stats_table">
            <tr><td>Total registered Aggregates:</td>  <td>{{ aggmgr_count }}</td></tr>
            <tr><td>Total Nodes for all Aggregates:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>       <td>{{ node_count }}</td></tr>
            <tr><td>Total Links for all Aggregates:</td>       <td>{{ link_count }}</td></tr>
            <tr><td>Currently Active Slices:</td>      <td>{{ slice_count }}</td></tr>
            <tr><td>Registered Users in the System:</td>       <td>{{ user_count }}</td></tr>
        </table>
    </div>
    
    <div class="errors">
        <h2>Last Warnings and Errors:</h2>
        {% if errors %}
        <table class="last_errors_table">
        {% for error in errors %}
            <tr><td>{{ error.format_date }}</td><td>{{ error.format_time }}</td><td>{{ error.text }}</td></tr>
        {% endfor %}
        </table>
        {% else %}
        <p>No new warnings or errors.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
