{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}
<a href="{% url slice_home %}">Slice Control Panel</a>

<h1>Statistics:</h1>
<table border="0">
<tr><td>Number of aggregates</td> <td>:</td> <td>{{ aggmgr_count }}</td></tr>
<tr><td>Number of nodes</td>      <td>:</td> <td>{{ node_count }}</td></tr>
<tr><td>Number of links</td>      <td>:</td> <td>{{ link_count }}</td></tr>
<tr><td>Number of slices</td>     <td>:</td> <td>{{ slice_count }}</td></tr>
<tr><td>Number of users</td>      <td>:</td> <td>{{ user_count }}</td></tr>
</table>

{% endblock %}
