<div class="details">
    <h2>Details for Node ID {{ node.nodeId }} at Aggregate
        Manager <a href="{{ aggMgr.get_absolute_url }}">{{ aggMgr.name }}</a>
    </h2>
</div>

<div class="interfaces">
	<h3>Interfaces</h3>
    <ol id="{{ node.nodeId }}_connections">
        {% for iface in node.interface_set.all %}
        <li>port <strong>{{ iface.portNum }}</strong>
            {% if iface.remoteIfaces.count %}
            connected to
            <ol>
                {% for remoteiface in iface.remoteIfaces.all %}
                <li>port remoteiface.portNum of node 
                    <a href={{ remoteiface.ownerNode.get_absolute_url }}>
                        {{ remoteiface.ownerNode.nodeId }}
                    </a>
                </li>
                {% endfor %}
            </ol>
            {% else %}
            unconnected.<br/>
            {% endif %}
            <br/>
            Available Flowspace:
            <table class="fulltable" >
                <tr>
                    <td><h4>dl_src</h4></td>
                    <td><h4>dl_dst</h4></td>
                    <td><h4>dl_type</h4></td>
                    <td><h4>vlan_id</h4></td>
                    <td><h4>nw_src</h4></td>
                    <td><h4>nw_dst</h4></td>
                    <td><h4>nw_proto</h4></td>
                    <td><h4>tp_src</h4></td>
                    <td><h4>tp_dst</h4></td>
                </tr>
                {% for fs in iface.flowspace_set.all %}
            	<tr>
                    <td>{{ fs.dl_src }}</td>
                    <td>{{ fs.dl_dst }}</td>
                    <td>{{ fs.dl_type }}</td>
                    <td>{{ fs.vlan_id }}</td>
                    <td>{{ fs.nw_src }}</td>
                    <td>{{ fs.nw_dst }}</td>
                    <td>{{ fs.nw_proto }}</td>
                    <td>{{ fs.tp_src }}</td>
                    <td>{{ fs.tp_dst }}</td>
            	</tr>
        		{% endfor %}
        	</table>
            <br/>
        </li>
        {% endfor %}
    </ol>
</div>

<div class="req_flowspace">
	<h3>Reserve Flowspace</h3>
    <form method="post" action="reserve/">
        <label for="port">Port</label>
        <input value="*" type="text" name="port" id="port"></input><br/>
        <label for="dl_src">dl_src</label>
        <input value="*" type="text" name="dl_src" id="dl_src"></input><br/>
        <label for="dl_dst">dl_dst</label>
        <input value="*" type="text" name="dl_dst" id="dl_dst"></input><br/>
        <label for="dl_type">dl_type</label>
        <input value="*" type="text" name="dl_type" id="dl_type"></input><br/>
        <label for="vlan_id">vlan_id</label>
        <input value="*" type="text" name="vlan_id" id="vlan_id"></input><br/>
        <label for="nw_src">nw_src</label>
        <input value="*" type="text" name="nw_src" id="nw_src"></input><br/>
        <label for="nw_dst">nw_dst</label>
        <input value="*" type="text" name="nw_dst" id="nw_dst"></input><br/>
        <label for="nw_proto">nw_proto</label>
        <input value="*" type="text" name="nw_proto" id="nw_proto"></input><br/>
        <label for="tp_src">tp_src</label>
        <input value="*" type="text" name="tp_src" id="tp_src"></input><br/>
        <label for="tp_dst">tp_dst</label>
        <input value="*" type="text" name="tp_dst" id="tp_dst"></input><br/>
        <input type="submit" value="Request Reservation">
    </form>
</div>

{% if message %}
<div class="message">
<p><strong>{{ message }}</strong></p>
</div>
{% endif %}
