        {% if not slices.count %}
        None.
        {% else %}
        <table class="fulltable slice_table" border="1">
            <thead><tr>
                <td>Slice Name</td>
                {% if show_owner %}<td>Owner</td>{% endif %}
                <td><img src="/img/host-tiny.png"></td>
                <td><img src="/img/switch-tiny.png"></td>
                <td>Status</td>
                <td>Actions</td>
            </tr></thead>
            {% for slice in slices %}
            <tr>
                <td>{{ slice.name }}</td>
                {% if show_owner %}<td>{{ slice.owner.username }}</td>{% endif %}
                <td align="center">{{ slice.nodes.count }}</td>
                <td align="center">{{ slice.links.count }}</td>
                {% if slice.committed %}
                <td>Reserved</td>
                {% else %}
                <td>Unreserved</td>
                {% endif %}
                <td>
                    <a href="{% url slice_select_aggregates slice.id %}">edit</a>,
                    <a href="{% url slice_delete slice.id %}">delete</a>
                    <a href="{% url slice_resv_summary slice.id %}">summary</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
