{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}
<div class="main">
    
    <h1>Step 2: Select Hosts, Nodes, and Links for Slice {{ slice.name }}</h1>
    
    {% if error_message %}
    <div class="error">
    <p><strong>{{ error_message }}</strong></p>
    </div>
    {% endif %}
    
    <script>
        var attributes = {
                id:'guiPlugin',
                code:'egeni.clearinghouse.plugin.GUIApplet.class',
                archive:'./plugin.jar',
                cache_option:'No',
                session_id:'{{ session_id }}',
                width:800, height:600} ;
        {% if topo_xml %}
        var parameters = {inputXML:'{{ topo_xml }}'}
        {% else %}
        var parameters = {inputURL:'topo.xml'}
        {% endif %}
        var version = '1.6' ;
        deployJava.runApplet(attributes, parameters, version);
    </script>
    
    <div class="form">
        <form onsubmit="return doSubmit(this)" id='sliceForm' method="POST" action="">
            <input id='submit' type="submit" value="Save" />
        </form>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% include "clearinghouse/slice_flash_detail.js" %}
{% endblock %}
