{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}
<div class="main">
    <h1>Slice Control Panel</h1>
    <div class="new_slice">
        <h2>Create New Slice:</h2>
        <form id="add_slice" method="POST" action="">
            <table class="slice_name">        
            {{ form.as_table }}
            {% if owner_form %}{{ owner_form.as_table }}{% endif %}
            </table>
            <input id="create_submit" type="submit" value="Create"></input>
        </form>
    </div>
    <div id="slices">
        <h2>Current Slices:</h2>
        {% include "clearinghouse/slice_list.html" %}
    </div>    
</div>
{% endblock %}
