{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}
<a href="{% url slice_home %}">Slice Control Panel</a>

<h1>Details for Slice {{ slice.name }}</h1>

{% if error_message %}
<div class="error">
<p><strong>{{ error_message }}</strong></p>
</div>
{% endif %}

<script>
    var attributes = {
    		id:'guiPlugin',
    		code:'egeni.clearinghouse.plugin.GUIApplet.class',
    		archive:'./plugin.jar',
    		cache_option:'No',
    		session_id:'{{ session_id }}',
    		width:800, height:600} ;
	{% if topology_xml %}
    var parameters = {inputXML:'{{ topo_xml }}'}
    {% else %}
    var parameters = {inputURL:'topo/'}
    {% endif %}
    var version = '1.6' ;
    deployJava.runApplet(attributes, parameters, version);
</script>

<div class="details">
    <form onsubmit="return doSubmit(this)" id='sliceForm' method="POST" action="">
        <h2>Flow Space Description</h2>
        {{ fsformset.management_form }}
        <table border="1">
        	<tr>
       			{% for field in fsformset.forms.0 %}
       				{% if not field.label_tag|contains:"Slice" and not field.label_tag|contains:"Id" %}
        				<td><strong>{{ field.label_tag }}</strong></td>
        			{% endif %}
	        	{% endfor %}
        	</tr>
       		{% for form in fsformset.forms %}
       			<tr>
       				{% for field in form %}
	       				{% if not field.label_tag|contains:"Slice" and not field.label_tag|contains:"Id" %}
			            	<td>{{ field.errors }} {{ field }}</td>
	        			{% endif %}
	    	    	{% endfor %}
	    	    </tr>
    			{% for field in form %}
	       			{% if field.label_tag|contains:"Slice" or field.label_tag|contains:"Id" %}
			           	{{ field }}
	        		{% endif %}
	    	    {% endfor %}
			{% endfor %}
        </table>
        <p><strong>Ready?</strong> <input id='submit' type="submit" value="Reserve!"></input></p>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% include "clearinghouse/slice_flash_detail.js" %}
{% endblock %}
