{% extends "clearinghouse/base.html" %}
{% load ch_extras %}

{% block content %}
<div class="main">
    <h1>Slice Control Panel</h1>
    <div class="new_slice">
        <h2>Create New Slice:</h2>
        <form id="add_slice" method="POST" action="">
            <table class="slice_name">        
            {{ form.as_table }}
            </table>
            <input id="create_submit" type="submit" value="Create"></input>
        </form>
    </div>
    <div id="slices">
        <h2>Current Slices:</h2>
        {% if not slices.count %}
        None.
        {% else %}
        <table class="slice_table" border="1">
            <tr>
                <td>Slice Name</td>
                <td>Hosts</td>
                <td>Switches</td>
                <td>Status</td>
                <td>Actions</td>
            </tr>
            {% for slice in slices %}
            <tr>
                <td>{{ slice.name }}</td>
                <td>{{ slice.nodes.count }}</td>
                <td>{{ slice.links.count }}</td>
                {% if slice.committed %}
                <td>Reserved</td>
                {% else %}
                <td>Unreserved</td>
                {% endif %}
                <td>
                    <a href="{% url slice_select_aggregates slice.id %}">edit</a>,
                    <a href="{% url slice_delete slice.id %}">delete</a>
                    <a href="{% url slice_resv_summary slice.id %}">summary</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
    </div>    
</div>
{% endblock %}
