{% extends "base.html" %}

{% block head %}
<style>
img#perm_help {
	width:15px;
	height:15px;
}
.ajax_div {
	border: 1px solid #E0E8FF;
}
</style>
<script>
	$(document).ready(function() {
		/* add tooltip to question mark */
		$("img#perm_help").tooltip({
			tip: "div#perm_mgmt_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
		});
		$("img#users_help").tooltip({
			tip: "div#user_mgmt_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
		});
	
		$("img#notifications_help").tooltip({
                        tip: "div#notifications_help",
            position: "top center",
            cancelDefault: true,
            relative: true,
            offset: [0,110]
                });
		
		/* get the html for the projects div */
		$.get('{% url project_list %}', function(data) {
			$('.projects_div').html(data);
		});
	});

	$(document).ready(function() {
	    if( "{{showFirstTimeTooltips}}" == "True"){
		    $(".animatedTooltip").toggleClass("animatedTooltipChange");  
		}
	 });  
	function closeTooltip(){
	    $(".animatedTooltip").css("display","none");
	}
	

</script>
{% endblock %}

{% block messages %}{% endblock %}

{% block content %}
{% if showFirstTimeTooltips %}
	<div class="animatedTooltip"><a href="#" onclick="closeTooltip()">x</a><p>Don't forget to check the different help channels available!</p></div>
{% endif %}
<div class="main">
	<h1>Welcome to Expedient {{ request.user.username }}!</h1>
    
<!--<h2>Messages</h2>
    <div class="messaging">
		<iframe class="dynsized" name="latest_msgs"
		src="{% url messaging_latest %}"
		scrolling="no" frameborder="0"
		width="100%">
		   <p>Your browser does not support iframes.</p>
		</iframe>
    </div>
   -->

	{% if messages %}
	<h2>Messages & Logs <a href="{% url messaging_center %}"><img id="notifications_help" src="{% url img_media 'notification_16x16.png' %}" align="right"></img></a></h2>
	<div class="tooltip" id="notifications_help">Click here to go to the Message Center and see the history of notifications and messages.</div>
	<br>
	<div>
		<div class="messages">
			<table class="msg_table">
				{% for msg in messages %}
				<tr class="{{ msg.type }} "{{ msg.type }} {% if forloop.first %}new_message {% else %}{% if forloop.counter == 2 %}not_that_old_message{% else %}old_message{% endif %}{% endif %}">
					<td> {%if msg.get_type_display == 'From User'%}From user<strong> {{msg.sender}}: </strong> {%endif%} {{ msg.msg_text }}</td>
				</tr>
				{% endfor %}
				<tr>
			</table>
		</div>
	</div>
	{% endif %}

	 
    <h2>Projects</h2>
    <div class="ajax_div projects_div">
    </div>
    

	{% if isSuperUser %}
	<br>
	<br>
	<h1>Administration</h1>	

	<h2>Island Aggregate Managers</h2>
	    <div class="aggregates">
	        <iframe class="dynsized" name="aggregates" src="{% url aggregate_all %}" scrolling="no" frameborder="0" width="100%">
	           <p>Your browser does not support iframes.</p>
        	</iframe>
    	     </div>

	
	<h2>Permission Management <img id="perm_help"
	src="{% url img_media 'question_mark_15x15.png' %}" /></h2>
	<div class="tooltip" id="perm_mgmt_help">
		When an Expedient user needs permission to do something, and she does
		not have that permission, she might be able to request that permission
		from someone who can give it to her. Below is a list of permissions
		other users have requested from you. You can approve or deny the
		requests. If you approve a request, you can also delegate the
		permission so that the object getting the permission can approve
		requests for others. BE CAREFUL,
		however. Once you grant a permission you cannot revoke it.
		<br /><br />
		Expedient permissions are per object, and permissions can be given
		to objects other than users (for example to a slice or a project).
		Users can request permissions on behalf of other objects.
	</div>
	

	<div class="permissions">
		<iframe class="dynsized" name="permissions"
		src="{% url permissionmgmt_dashboard %}"
		scrolling="no" frameborder="0"
		width="100%">
			<p>Your browser does not support iframes.</p>
		</iframe>
	</div>
	
	<h2><a href="{% url users_home %}">Manage Users</a> <img id="users_help"
	src="{% url img_media 'question_mark_15x15.png' %}" /></h2>
	<div class="tooltip" id="user_mgmt_help">
		Click on the link to manage users on Expedient. You will need to have
		the "can_manage_users" permission to be able to access this
		functionality.
	</div>

	{% endif %}
</div>
{% endblock content %}
