{% extends "base.html" %}

{% block head %}
<style>
.tooltip {
	display:none;
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:400px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
</style>
<script>
	$(document).ready(function() {
		/* add tooltip to permission name */
		$("a.perm_name").each(function(){
			id = $(this).attr("id");
			s = id.split("_");
			req_id = s[1];
			$(this).tooltip({
				tip: "div#tip_"+req_id
			});			
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="main">
	{% if approved_reqs %}
    <!--<h2>The following permission requests will be approved:</h2>-->
    <h2>The following requests will be approved:</h2>
	<ul>
		{% for req, delegatable in approved_reqs %}
		<li>
			<!--Permission
			<a class="perm_name" id="name_{{ req.id }}" href="#">
				{{ req.requested_permission.permission.name }}
			</a>-->
                        {{ req.requested_permission.target|title }}
			requested by {{ req.requesting_user }} <!--for object
			{{ req.requested_permission.target }}--> will be granted. <!--to 
			{{ req.permittee }}. {{ req.permittee }} 
			{% if delegatable %}<strong>will</strong>{% else %}will
			<strong>not</strong>{% endif %} be able to further give permission
			to other objects.-->
			<!--<div class="tooltip" id="tip_{{ req.id }}">
				{{ req.requested_permission.permission.description }}
			</div>-->
                        <a class="perm_name" id="name_{{ req.id }}" href="#">
                            See details
                        </a>
                        <div class="tooltip" id="tip_{{ req.id }}">
                                {{ req.message }}
                        </div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}

	{% if denied_reqs %}
    <!--<h2>The following permission requests will be denied:</h2>-->
    <h2>The following requests will be denied:</h2>
	<ul>
		{% for req in denied_reqs %}
		<li>
			<!--Permission 
			<a class="perm_name" id="name_{{ req.id }}" href="#">
				{{ req.requested_permission.permission.name }}
			</a>-->
                        {{ req.requested_permission.target|title }}
			requested by {{ req.requesting_user }} <!--for {{ req.permittee }} to
			use object
			{{ req.requested_permission.target }}--> will be denied.
			<!--<div class="tooltip" id="tip_{{ req.id }}">
				{{ req.requested_permission.permission.description }}
			</div>-->
                        <a class="perm_name" id="name_{{ req.id }}" href="#">
                            See details
                        </a>
                        <div class="tooltip" id="tip_{{ req.id }}">
                                {{ req.message }}
                        </div>
		</li>
		{% endfor %}
	</ul>
	{% endif %}
	
	<h2>Do you want to proceed?</h2>
    <form action="" method="post">{% csrf_token %}
	    <div>
		    <input type="hidden" name="post" value="yes" />
		    <input type="submit" value="Proceed" />
                    <input type="button" value="Cancel"
                        onclick="document.location='{% url home %}'" />
	    </div>
    </form>
</div>
{% endblock %}
