{% extends "iframebase.html" %}
{% load ch_extras %}

{% block title %}Permission Management{% endblock title %}

{% block head %}
<style>
table#permission_request_table {
	width: 100%;
}
.tooltip {
	display:none;
	background-color:#000;
	border:1px solid #fff;
	padding:10px 15px;
	width:400px;
	display:none;
	color:#fff;
	text-align:left;
	font-size:12px;

	/* outline radius for mozilla/firefox only */
	-moz-box-shadow:0 0 10px #000;
	-webkit-box-shadow:0 0 10px #000;
}
</style>
<script src="{% url js_media 'jquery.min.js' %}"></script>
<script src="{% url js_media 'jquery.tools.min.js' %}"></script>
<script>
	$(document).ready(function(){
		/* code to toggle deny approve checkboxes like radio buttons */
		$('input.action').click(function() {
			req_id = $(this).attr("value");
			$('input.action[value='+req_id+']').not(this).removeAttr("checked");
		});
		
		/* code to enable/disable delegation checkbox on clicking approve */
		/*$('input.action').click(function() {
			req_id = $(this).attr("value");
			checked = $('input.action[name=approved][value='+req_id+']').attr("checked");
			if(!checked) {
				$('input[name=delegate][value='+req_id+']').attr("disabled", "true");
			} else {
				$('input[name=delegate][value='+req_id+']').removeAttr("disabled");
			}
		});*/
		
		/* add tooltip to permission name */
		$("a.perm_name").each(function(){
			id = $(this).attr("id");
			s = id.split("_");
			req_id = s[1];
			$(this).tooltip({
				tip: "div#tip_"+req_id
			});			
		});

		/* add tooltip to message snippet */
		$("a.summary").each(function(){
			id = $(this).attr("id");
			s = id.split("_");
			req_id = s[1];
			$(this).tooltip({
				tip: "div#msg_"+req_id,
				position: "center left"
			});			
		});
	});
</script>
{% endblock %}

{% block content %}
<div class="permission_mgmt">
	<div class="aggregate_list">
		<form name="permission_form" method="post" action="">{% csrf_token %}
			<table class="fulltable" id="permission_request_table">
				<tr class="thead">
					<th><img height="15px" src="{% url img_media 'active.png' %}" title="Approve" /></th>
					<th><img height="15px" src="{% url img_media 'inactive.png' %}" title="Deny" /></th>
					<!--<th>Delegate</th>-->
					<th>Requester</th>
					<th>Permission Name</th>
					<th>On Behalf Of</th>
					<th>Used Object</th>
					<th>Message</th>
				</tr>
				{% for req in perm_reqs %}
				<tr>
					<td>
						<input type="checkbox"
						class="action"
						name="approved" value="{{ req.id }}" />
					</td>
					<td>
						<input type="checkbox"
						class="action"
						name="denied" value="{{ req.id }}" />
					</td>
					<!--<td>
						<input type="checkbox" name="delegate"
						value="{{ req.id }}" disabled="true" />
					</td>-->
					<td>
						{{ req.requesting_user }}
					</td>
					<td>
						<a href="#" class="perm_name" id="name_{{ req.id }}">
							{{ req.requested_permission.permission.name }}
						</a>
						<div class="tooltip" id="tip_{{ req.id }}">
							{{ req.requested_permission.permission.description }}
						</div>
					</td>
					<td>
						{{ req.permittee }}
					</td>
					<td>
						{{ req.requested_permission.target }}
					</td>
					<td>
						<a href="#" class="summary" id="summary_{{ req.id }}">
							{{ req.message|slice:":20" }}...
						</a>
						<div class="tooltip" id="msg_{{ req.id }}">
							{{ req.message }}
						</div>
					</td>
				</tr>
				{% endfor %}
			</table>
			<input type="submit" value="Save" />
		</form>
	</div>
</div>
{% endblock content %}
