{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{% url css_media 'jquery-ui.css' %}" />
<link rel="stylesheet" href="{% url css_media 'themes/redmond/jquery.ui.theme.css' %}" />
<script src="{% url js_media 'jquery-ui.min.js' %}"></script>

<style>
img.perm_help {
        width:15px;
        height:15px;
}
.ajax_div {
        border: 1px solid #E0E8FF;
}
</style>
<script>
        $(document).ready(function() {
                /* add tooltip to question mark */
                $("img[id^=perm][id$=help_img]").tooltip({
                    /*tip: "div[id^=perm_][id$=_help]",*/
                    tip: this.id,
                    position: "top center",
                    cancelDefault: true,
                    relative: true,
                    offset: [0,110]
                });
        });
        $(function(){
            $("#id_duration").datepicker({
                minDate: 0,
                dateFormat: 'dd/mm/yy'
            });
        });
</script>
{% endblock %}

{% block content %}
<div class="main">
    <h1>Permission Denied</h1>
        <div class="info_text">
                You do not have the permission "{{ obj_perm.permission.name }}" needed
                to perform this action. The description of this permission is:
                "{{ obj_perm.permission.description }}".
                <br /><br />
                <!--If you would like to request this permission
                from a user who has the authority to give it to you, select a user
                from the list below and click the "Request" button.-->
                If you would like to exert the action associated to that permission, fill 
                the form with appropriate information and click the "Request" button.
        </div>
        <br />
    <form class="form" action="" method="post">{% csrf_token %}
		{% for field in form %}
		    <!-- Show project form only when current permission allows to create it -->
		    {% if perm_name != obj_perm.permission.name or field.name != "permission_owner" %}
				<p>
					{{ field.errors }}
				</p>
				<p>
				{{ field.label_tag }}:
	       		{% if obj_perm.permission.name == "can_create_project"%}
                   	{% if field.name == "name" or field.name == "organization" or field.name == "message" %}
                       	<img id="perm_{{field.name}}_help_img" src="{% url img_media 'question_mark_15x15.png' %}" />
                        <div class="tooltip perm_help" id="perm_{{field.name}}_help">
                   		{% if field.name == "name" %}
           	        		Provide a descriptive name for the project.
           	        	{% endif %}
           	        	{% if field.name == "organization" %}
   	                	 	Make sure you set your affiliation.
   	                	{% endif %}
	                	{% if field.name == "message" %}
                    	    Provide a short description for the project.
                    	{% endif %}
						{% if field.name == "name" or field.name == "organization" or field.name == "message" %}
				    	</div>
						{% endif %}
					{% endif %}
				{% endif %}
				{{ field }}
			{% endif %}
			</p>
		{% endfor %}
	    <div>
		    <input type="submit" value="Request" />
		    <input type="button" onclick="javascript:document.location='{% url home %}'" value="Cancel" />
	    </div>
    </form>
</div>
{% endblock %}
