{% extends "base.html" %}

{% block scripts %}
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $(".menuimg,.submenuimg")
        .mouseover(function() { 
            var src = $(this).attr("src").replace("dark", "light");
            $(this).attr("src", src);
        })
        .mouseout(function() {
            var src = $(this).attr("src").replace("light", "dark");
            $(this).attr("src", src);
        });
});

$(document).ready(function(){
	$(".profile_sub_menu").hide();
	$("#profile")
		.click(function() {
			$(".profile_sub_menu").toggle('normal');
		});
});

$(document).ready(function(){
	$(".manage_fs_sub_menu").hide();
	$("#manage_fs")
		.click(function() {
			$(".manage_fs_sub_menu").toggle('normal');
		});
});
		
$(document).ready(function(){
	$(".experiments_sub_menu").hide();
	$("#experiments")
		.click(function() {
			$(".experiments_sub_menu").toggle('normal');
		});
});

</script>
{% endblock %}


{% block content %}
<div class="main">

    {% if profile.is_net_admin %}
        <h1> {{ profile.user.username }} - Admin Dashboard </h1>
            <h2> Manage Requests </h2>
                <a href = "/admin_manager/approve_admin">Approve Admin Requests</a><br/>
                <a href = " ">Manage Admins Flowspaces</a><br/>
                <a href = "/admin_manager/approve_user ">Approve User Requests</a><br/>
                <a href = " ">Manage Users Flowspaces</a><br/>
            <h2> Manage Rules </h2>
                <a href = "/opts/view_opt_in">Set Priorities</a><br/>
				<a href = "/opts/opt_in">Add Rule</a><br/>
				<a href = "/opts/opt_out">Remove Rule</a><br/>
                <a href = "/opts/experiments">View Experiments</a><br/>
            <h2> Admin Profile </h2>
            	<a href = "">Edit Profile</a><br/>
                <a href = " ">Add Admin FlowSpace</a><br/>
                <a href = " ">Give Up Admin FlowSpace</a><br/>
                <a href = "/admin_manager/resign_admin">Resign Admin</a><br/>

    {% else %}

        <h1> {{ profile.user.username }} - User Dashboard </h1>
        
    	<table align="left" class="menutable">
    	<tr class="manage_fs_main_menu">
    		<td>
    		<img src="{% url img_media 'manage_fs_dark.png' %}" class="menuimg" id="manage_fs" />
    		</td>
    	</tr>
    		<tr class="manage_fs_sub_menu">
    			<td>
    			<a href="/opts/opt_in">
    			<img src="{% url img_media 'optin_dark.png' %}"  class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		<tr class="manage_fs_sub_menu">
    			<td>
    			<a href="/opts/opt_out">
    			<img src="{% url img_media 'optout_dark.png' %}"  class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		<tr class="manage_fs_sub_menu">
    			<td>
    			<a href="/opts/view_opt_in">
    			<img src="{% url img_media 'set_priority_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		<tr class="manage_fs_sub_menu">
    			<td>
    			<a href="admin_manager/user_reg_fs">
    			<img src="{% url img_media 'request_fs_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		<tr class="manage_fs_sub_menu">
    			<td>
    			<a href="admin_manager/user_unreg_fs">
    			<img src="{% url img_media 'give_up_fs_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		
    	<tr class="exp_main_menu">
    		<td>
    		<img src="{% url img_media 'experiments_dark.png' %}" class="menuimg" id="experiments"/>
    		</td>
    	</tr>
    		<tr class="experiments_sub_menu">
    			<td>
    			<a href="/opts/experiments">
    			<img src="{% url img_media 'view_exp_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		<tr class="experiments_sub_menu">
    			<td>
    			<a href="">
    			<img src="{% url img_media 'contact_exp_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    		
    		
    	<tr class="profile_main_menu">
    		<td>
    		<img src="{% url img_media 'profile_dark.png' %}" class="menuimg" id="profile"/>
    		</td>
    	</tr>
    		<tr class="profile_sub_menu">
    			<td>
    			<a href="">
    			<img src="{% url img_media 'edit_profile_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    		<tr class="profile_sub_menu">
    			<td>
    			<a href="/admin_manager/promote_to_admin">
    			<img src="{% url img_media 'promote_to_admin_dark.png' %}" class="submenuimg"/>
    			</a>
    			</td>
    		</tr>
    	<tr class="logout_main_menu">
    		<td>
    		<a href="/accounts/logout">
    		<img src="{% url img_media 'logout_dark.png' %}" class="menuimg"/>
    		</a>
    		</td>
    	</tr>
    	</table>
    	
    {% endif %}
    
     {% if user.is_staff %}
    		<h2> Manage Website</h2> 
    		<a href = "/controls/set_clearinghouse">Set Clearinghouse</a><br/>
    		<a href = "/controls/set_flowvisor">Set FlowVisor</a><br/>
    {% endif %}
	
	<br/><br/>

</div>
{% endblock content %}

