{% extends "base.html" %}
{% load ch_extras %}

{% block title %}Delete Aggregate {{ object.name }}{% endblock title %}

{% block content %}
<div class="main">
    <form class="form center" action="" method="post">{% csrf_token %}
    	<div class="iframe_button">
		    <input type="hidden" name="post" value="yes" />
		    <p>Are you sure you want to delete the aggregate "{{ object.name }}"?</p>
		    <input type="submit" value="Yes" />
		    <input type="button" value="No" onclick="document.location='{{ next }}';"/>
    	</div>
    </form>
</div>
{% endblock %}
