
{% extends "base_user.html" %}


{% block scripts %}
<style>
	table.formtable {
		width: 600px;
	}
</style>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript">

$(document).ready(function(){
    $(".steps")
        .mouseover(function() { 
            var src = $(this).attr("src").replace("dark", "light");
            $(this).attr("src", src);
        })
        .mouseout(function() {
            var src = $(this).attr("src").replace("light", "dark");
            $(this).attr("src", src);
        });
});

</script>
{% endblock %}

{% block pagehead %}<h1>{{ user.username }} - User Dashboard </h1> {% endblock %}
{% block content %}
<div class="main">

	Welcome to the Virtualization Aggregate Manager!
    
     


</div>
{% endblock content %}

