{% extends "base.html" %}
{% load breadcrumbs %}

{% block title %}Terms &amp; Conditions{% endblock %}

{% block head %}
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	<link rel="stylesheet" href="{% url css_media 'terms.css' %}" />
	<!--<script src="{% url js_media 'terms.js' %}"></script>-->
	<script type="text/javascript">
var change_event_prevent_hack = false;
var validyOfAcceptanceInDays = 180;

function set_loading(is_loading) {
//    console.log("set_loading("+is_loading+")");
    if (is_loading) {
        document.getElementById("userurn").innerHTML = "loading...";
    } else {
        document.getElementById("userurn").innerHTML = "-";
    }

    document.getElementById("testbed-denied").hidden = true;
    document.getElementById("testbed-allowed").hidden = true;

    var loadedonce = document.getElementsByClassName("loadedonce");
    for(var i = 0; i < loadedonce.length; i++) {
        if (is_loading) {
           loadedonce.item(i).hidden = false;
       }
    }

    var loaded = document.getElementsByClassName("loaded");
    for(var i = 0; i < loaded.length; i++) {
       loaded.item(i).hidden = is_loading;
    }

    var loading = document.getElementsByClassName("loading");
    for(var i = 0; i < loading.length; i++) {
       loading.item(i).hidden = !is_loading;
    }
}

function load_info() {
//    console.log("load_info()");
    set_loading(true);
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        set_loading(false);
        if (this.status == 200) {
            var accepts = JSON.parse(xhttp.responseText);

            document.getElementById("userurn").innerHTML = accepts.user_urn;

            document.getElementById("testbed-denied").hidden = accepts.testbed_access;
            document.getElementById("testbed-allowed").hidden = !accepts.testbed_access;

            document.getElementById("until-date").innerHTML = accepts.until;

            //let jFed know
            if (window.jfed && window.jfed.approveWithDateISO8601 && window.jfed.decline) {
                if (accepts.testbed_access) {
                    window.jfed.approveWithDateISO8601(accepts.until);
                } else {
                    window.jfed.decline();
                }
            }
        } else {
            console.log("load_info onload FAILURE status=" + this.status);
        }
    };
    /** TO DO: retrieve data from endpoint */
    xhttp.open("GET", "/privacy/{{ user_urn }}", true);
    xhttp.send();
}

function on_accept_decline_action(user_urn, accepts) {
    if (change_event_prevent_hack) { return; }
    //var terms = {
    //    'accept_main': accepts,
    //};
    set_loading(true);

    //accepts ? send_accept_terms(terms) : send_decline_terms(terms);
    accepts ? send_accept_terms(user_urn) : send_decline_terms(user_urn);
}

function send_accept_terms(user_urn) {
//    console.log("send_accept_terms()");
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        console.log("accept_terms onload status=" + this.status);
        if (this.status == 204) {
            console.log("accept_terms onload SUCCESS status=" + this.status);
            if (window.jfed) {
                console.log("accept_terms onload approveDaysFromNow=" + validyOfAcceptanceInDays);
                window.jfed.approveDaysFromNow(validyOfAcceptanceInDays);
            }
            close_window();
        } else {
            console.log("accept_terms onload FAILURE status=" + this.status);
        }
    };
    // XXX TEST!
    //window.location.href = "/privacy/" + user_urn + "/accept/";
    //window.location.href = "/privacy/urn:publicid:IDN+wall2.ilabt.iminds.be+user+carolina/accept/";
    //xhttp.open("GET", "/privacy/urn:publicid:IDN+wall2.ilabt.iminds.be+user+carolina/accept/", true);
    xhttp.open("GET", "/privacy/" + user_urn + "/accept/", true);
    //xhttp.setRequestHeader('Content-Type', 'application/json');
    //xhttp.send(JSON.stringify(terms));
    xhttp.send();
}

function send_decline_terms(user_urn) {
//    console.log("send_accept_terms()");
    var xhttp = new XMLHttpRequest();
    xhttp.onload = function() {
        console.log("decline_terms onload status=" + this.status);
        if (this.status == 204) {
            console.log("decline_terms onload SUCCESS status=" + this.status);
            if (this.status == 204) {
                window.jfed.decline();
            }
            close_window();
        } else {
            console.log("decline_terms onload FAILURE status=" + this.status);
        }
    };
    //window.location.href = "/privacy/" + user_urn + "/decline/";
    xhttp.open("GET", "/privacy/" + user_urn + "/decline/", true);
    //xhttp.setRequestHeader('Content-Type', 'application/json');
    //xhttp.send(JSON.stringify(terms));
    xhttp.send();
}

function close_window() {
    console.log("close_window -> window.jfed=" + window.jfed);
    console.log("close_window -> window.jfed.close=" + window.jfed.close);
    if (window.jfed && window.jfed.close) {
        window.jfed.close();
    }
}

function initJFed() {
    if (window.jfed && window.jfed.decline) {
        //let jFed know the users hasn't accepted the Terms and Conditions yet.
        window.jfed.decline();
    }
}

window.onload = function() {
    if (window.jfed) {
      initJFed();
    } else {
      // window.jfed is not (yet) available
      // trick to make browser call  initJFed() when window.jfed becomes available.
      Object.defineProperty(window, 'jfed', {
        configurable: true,
        enumerable: true,
        writeable: true,
        get: function() {
          return this._jfed;
        },
        set: function(val) {
          this._jfed = val;
          initJFed();
        }
      });
      if (window.jfed) {
        initJFed();
      }

    }

    //load_info();
}
	</script>
{% endblock %}

{% block content %}

<div class="main">
    <nav id="navigation_testbed" class="navbar navbar-expand-lg navbar-dark fed4fire-primary-bg push-bottom" style="display: none;">
        <a class="navbar-brand fed4fire-dark-grey" href="#">i2CAT OFELIA testbed</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <span class="navbar-text fed4fire-dark-grey">
                Visiting user: <span id="userurn">?</span>
              </span>
        </div>
    </nav>

    <div id="testbed_access_loading" class="alert alert-secondary loading" role="alert" style="display: none;">
        <div>
            Testbed access: <button class="btn btn-sm btn-warning"><i class="fas fa-spinner fa-pulse"></i> Loading...</button>
        </div>
    </div>

    <div id="testbed_access_denied" class="alert alert-danger" role="alert" id="testbed-denied" hidden style="display: none;">
        <div>
            Testbed access: <span class="badge badge-danger">Denied</span>
        </div>
        <div>
            <small>(accept the terms to be granted access)</small>
        </div>
    </div>

    <div id="testbed_access_allowed" class="alert alert-success" role="alert" id="testbed-allowed" hidden style="display: none;">
        <div>
            Testbed access: <span class="badge badge-success">Allowed</span>
        </div>
        <div>
            <small>(valid until <span id="until-date">{{ until_date }}</span>)</small>
        </div>
    </div>

    <div class="collapse navbar-collapse" id="navbarNav">
        <span class="navbar-text fed4fire-dark-grey">
            Visiting user: {{ user_urn }}
            End date for accepted terms: {{ until_date }}
        </span>
    </div>

    <h1 class="push-bottom-sm">Terms &amp; Conditions</h1>

    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Terms &amp; Conditions</h5>
            <p class="card-text">
            By using this testbed, the experimenter agrees to the following points:
            <ol>
                <li>Specific pieces of information of the experimenter are collected and stored in the system (see "Privacy" section for details)</li>
                <li>The experimenter may receive communications from Fed4FIRE (not from the OFELIA i2CAT testbed), at least for the management of its experiment</li>
            </ol>
            </p>
            <h5 class="card-title">Privacy</h5>
            <p class="card-text">Our testbed requires some basic information to provide resources for any experiment. We use a minimal set of data, associated to your Fed4FIRE account (find the <a href="http://lab.i2cat.net/data-protection/" target="_blank">specific data in this page</a>). This information is used during the lifetime of the experiment and discarded upon its expiration, along with any resource contained in your slice(s).</p>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body actions-area">
            <div>
                <button class="btn btn-light action-button" onclick="on_accept_decline_action('{{ user_urn }}', false)">Decline</button>
            </div>
            <div>
                <button class="btn btn-primary fed4fire-primary-bg fed4fire-dark-grey accept-button action-button" onclick="on_accept_decline_action('{{ user_urn }}', true)">Accept</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
console.log(window.jfed);
if (window.jfed) {
    console.log("window in jFed...");
    $("#navigation_testbed").show();
    $("#testbed_access_loading").show();
    $("#testbed_access_denied").show();
    $("#testbed_access_allowed").show();
    $("#top_menu_options").hide();
} else {
    console.log("no window in jFed...");
    $("#navigation_testbed").hide();
    $("#testbed_access_loading").hide();
    $("#testbed_access_denied").hide();
    $("#testbed_access_allowed").hide();
}
</script>

{% endblock %}
