{% extends "servers/servers_base.html" %}

{% block title %}Add/Update SSH Servers in {{ aggregate.name }}.{% endblock title %}

{% block head %}
{% endblock %}

{% block content %}
<div class="main">
    <h1>{{ user }} is not an Island Manager</h1>
    
    <div> <h2>This action can only been done by the Island Manager</h2></div>
    <br/>
    <form method="post" action="">{% csrf_token %}
        <div class="center">
            <a href="/accounts/logout">Logout</a> |
            <a href="{% url dashboard  %}">Home</a>
        </div>
</div>
{% endblock content %}

