{% extends "base.html" %}

{% block title %}Generate User Certificate{% endblock title %}

{% block content %}
<div class="main">
	<h1>Generate new certificate and key for {{ curr_user.username }}</h1>
	<h2>If you proceed you will overwrite any existing previous
	certificate and keys. You will not be able to access slices
	that you have previously created. Are you sure?</h2>
	<form method="POST" action=".">{% csrf_token %}
		<input type="submit" value="Yes, I'm sure." />
		<a href="{% url gcf_cert_manage curr_user.pk %}">No, go back.</a>
	</form>
</div>
{% endblock content %}
