<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="{% url css_media 'ocf.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% url css_media 'tooltip.css' %}" />

		<title>
			{% block title %}FIBRE Virtualization Manager{% endblock %}
		</title>

	    <script type="text/javascript" src="{% url js_media 'jquery.min.js' %}"></script>
	    <script type="text/javascript" src="{% url js_media 'jquery.tools.min.js' %}"></script>
    <script type="text/javascript" src="{% url js_media 'tooltip.funcs.js' %}"></script>

	<script type="text/javascript">

	$(document).ready(function(){
    	$(".menuimg,.submenuimg")
        	.mouseover(function() { 
	            var src = $(this).attr("src").replace("dark", "light");
    	        $(this).attr("src", src);
        	})
        	.mouseout(function() {
            	var src = $(this).attr("src").replace("light", "dark");
            	$(this).attr("src", src);
       	 	});
	});

	$(document).ready(function(){
		$(".profile_sub_menu").hide();
		$("#profile")
			.click(function() {
				$(".profile_sub_menu").toggle('normal');
			});
	});
	
	</script>

		{% block scripts %}{% endblock %} 
	</head>
	
	
	<body>
            <br/>
            <table bgcolor="#CCDDDD" width="800" border="0" align="center" cellpadding="3" cellspacing="0">
            <tr>
		<td align="left">
                    <img src="{% url img_media 'ofelialogo.png' %}" />
		</td>
		<td>
                    <div align="right" style="position: relative; top: 19px;">

                    </div>
		</td>
            </tr>
            </table>
            

  <div id="page">
    
		<div id="content">
		
		{% block pagehead %}{% endblock %}
		
    	<table align="right" class="menutable">
    	<tr class="profile_main_menu">
    		<td><a href="/servers/admin/">
        		<img src="{% url img_media 'profile_dark.png' %}" class="menuimg" id="profile"/>
            </a>
    		</td>
    	</tr>
 
    	<tr class="profile_main_menu">
    		<td>
    		<img src="{% url img_media 'profile_dark.png' %}" class="menuimg" id="profile"/>
    		</td>
    	</tr>
    		<tr class="profile_sub_menu">
    			<td>
    			<a href="/change_profile">
    			<img src="{% url img_media 'edit_profile_dark.png' %}" class="submenuimg" />
    			</a>
    			</td>
    		</tr>
    	<tr class="dashboard_main_menu">
    		<td>
    		<a href="/dashboard">
    		<img src="{% url img_media 'dashboard_dark.png' %}" class="menuimg"/>
    		</a>
    		</td>
    	</tr>	
    		
    	<tr class="logout_main_menu">
    		<td>
    		<a href="/accounts/logout">
    		<img src="{% url img_media 'logout_dark.png' %}" class="menuimg"/>
    		</a>
    		</td>
    	</tr>
    	</table>
    	{% block content %}{% endblock %}
    	</div>
   
  </div>

  <div id="footer">
    (c) in 2009 by Stanford University. This software is licensed under the GENI License.
  </div>
</body>
</html>
